@import  "pub/settings";
@import  "pub/base/font";
@import  "pub/base/variables";
@import  "pub/base/mixins";
@import  "pub/base/uw";
@import  "pub/base/tables";
@import  "foundation/components/forms";
@import  "foundation/components/block-grid";
@import  "foundation/components/grid";
@import  "foundation/components/reveal";
@import  "foundation/components/buttons";
@import  "foundation/components/type";
@import  "foundation/components/visibility";
@import  "pub/modules/embedded_cta";
@import  "pub/modules/header";
@import  "pub/modules/footer";
@import  "pub/modules/global";
// @import  "pub/modules/home";
// @import  "pub/modules/hero";
// @import  "pub/modules/term_page";
// @import  "pub/modules/web_page";
// @import  "pub/modules/archive_page";
// @import  "pub/modules/issue_page";
// @import  "pub/modules/pub_articles";
// @import  "pub/modules/article_quad";
// @import  "pub/modules/article_flex";
// @import  "pub/modules/article_mason";
@import  "pub/modules/pub_sub_nav";
// @import  "pub/modules/pub_related";
@import  "pub/modules/pub_nested";
@import  "pub/modules/pub_prev_next";
@import  "pub/modules/promo_items";
@import  "pub/modules/enhancement";
// @import  "pub/modules/hover1";
// @import  "pub/modules/hover2";
@import  "pub/modules/highlighted_facts";
@import  "pub/modules/owl";
@import  "pub/vendors/spinkit";
//@import  "pub/modules/breakhints";

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
:focus {
    outline: thin dotted;
    outline-offset: 4px;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .row{
      &.full-width{
        max-width: 100%;
        .row{
          margin: 0 auto;
           @include rem-fallback( max-width, 64rem);
        }
      }
    }
   
// overall global
  html {height:100%; margin:0; padding:0;  box-sizing: border-box;}
  body {
      color:$black;
      height:100%; 
      margin:0;
      padding:0; 
      font-size: 100%;
      // -webkit-font-smoothing:antialiased; 
      // -webkit-font-smoothing: antialiased;
      z-index:map-get($zindex, background);
      @include rem-fallback( padding-bottom, 4.5rem);
  }
  .uwm-capitalize{
    text-transform:capitalize;
  }
  // figure overlay */
  .uwm-main-content {
    figure {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 0px;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: auto;
      background: $black;
      text-align: center;
      cursor: pointer;
    img {
      position: relative;
      display: block;
      
      max-width: 100%;
      opacity:1;
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,&::after {
        pointer-events: none;
      }
      > .uwm-image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

    }
    h2 {
      font-weight: 300;
      margin: 0;
      span {
        font-weight:600;
      }
    }
    p{margin: 0;
     
      .button {
        color: $white;
        background: none;
       @include rem-fallback( padding-left, 2.5rem);
       @include rem-fallback( padding-right, 1.5rem);
        background-image:url(../images/small-chevron.png);
        background-image:url(../images/small-chevron.svg);
        background-repeat:no-repeat;
        background-position:15px 20px; 
        text-transform:uppercase;
      }
   
      .button:hover,
      .button:focus,  {
          background-color:transparent;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:15px 20px; 
          color: $white;
          text-decoration:none;
      }
    }
    }
  }
  .uwm-main-content .uwm-feature-hp figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    height:100%;
    @media #{$medium-up} {
       height:75%;
       padding:2rem;
    }
  }
  .uwm-main-content .uwm-related-articles figure{
     @include rem-fallback( margin-bottom, 0.85rem);
     p{margin: 0;
     
      .button {
        color: $white;
        background: none;
        @include rem-fallback( padding-left, 2rem);
        @include rem-fallback(font-size, 1.2rem);
        @include rem-fallback( padding-right, 1rem);
        background-image:url(../images/small-chevron.png);
        background-image:url(../images/small-chevron.svg);
        background-repeat:no-repeat;
        background-position:15px 14px; 
        text-transform:uppercase;
      }
   
      .button:hover,
      .button:focus,  {
          background-color:transparent;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:15px 14px; 
          color: $white;
          text-decoration:none;
      }
    }
  }
  .uwm-main-content .uwm-pub-cat {
    figure{
      img{
        max-width:200%;
        position: relative;
        display: block;
        opacity:1;
        // @include rem-fallback(margin-left, -5.5em);
        @media #{$large-up} {
          display:block;
          // @include rem-fallback(margin-left, -5.5rem);
          max-width:200%;
       
        
        }
       }
        p{
          margin: 0;
          @media #{$medium-up} {
            .button {
            color: $white;
            background: none;
            @include rem-fallback( padding-left, 2rem);
            @include rem-fallback(font-size, 1.2rem);
            @include rem-fallback( padding-right, 1rem);
            background-image:url(../images/small-chevron.png);
            background-image:url(../images/small-chevron.svg);
            background-repeat:no-repeat;
            background-position:15px 13px; 
            text-transform:uppercase;
          }
       
          .button:hover,
          .button:focus,  {
              background-color:transparent;
              background-image:url(../images/small-chevron.png);
              background-image:url(../images/small-chevron.svg);
              background-repeat:no-repeat;
              background-position:15px 13px; 
              color: $white;
              text-decoration:none;
          }
        }
      }
     }
  }
  // Individual effects */

  a figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, -40px);
    -moz-transform: translate3d(-40px,0, -40px);
    transform: translate3d(-40px,0,0 -40px);
  }

  a figure.effect-lily figcaption {
    text-align: center;
  }

  a figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 75%;

  }

  a figure.effect-lily h2,
  a figure.effect-lily p {
    -webkit-transform: translate3d(0,40px,0);
    -moz-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
  }

  a figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    -moz-transition: -moz-transform 0.35s;
    transition: transform 0.35s;
  }

  a figure.effect-lily p {
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.2s, -moz-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
  }

  a:hover figure.effect-lily img{
    opacity: 0.2;
  }
  a:hover figure.effect-lily p {
    opacity: 1;
  }
  a:hover figure.effect-lily img,
  a:hover figure.effect-lily h2,
  a:hover figure.effect-lily p {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  a:hover figure.effect-lily p {
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    transition-duration: 0.35s;
  }

// transitions

  .uwm-animate.ng-enter {

    -webkit-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    opacity: 0;
    display: block !important;
  }

  .uwm-animate.ng-enter-stagger {

    -webkit-transition-delay:  0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay:0.2s;
    transition-delay:0.2s;

    //  -webkit-transition-duration:0s;
    // -moz-transition-duration:0s;
    // -ms-transition-duration:0s;
    // -o-transition-duration:0s;
    // transition-duration:0s;
  }

  .uwm-animate.ng-enter.ng-enter-active {
    opacity: 1;
    display: block !important;


  }

  .uwm-fade.ng-enter {

    -webkit-transition:  opacity 0.25s ease-in-out;
    -moz-transition:  opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    display: block !important;
  }

  .uwm-fade.ng-enter-stagger {

    -webkit-transition-delay:  0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay:0.2s;
    transition-delay:0.2s;

     -webkit-transition-duration:0s;
    -moz-transition-duration:0s;
    -ms-transition-duration:0s;
    -o-transition-duration:0s;
    transition-duration:0s;
  }

  .uwm-fade.ng-enter.ng-enter-active {
    opacity: 1;
    display: block !important;


  }

  h1{
    font-weight: 300;
    line-height:1;
     // @media #{$medium-up} {
     //       @include rem-fallback( font-size, 4.0625rem);
     //  }
     //  @media #{$xlarge-up} {
     //       @include rem-fallback( font-size, 5.625rem);
     //  }
   
  }
  h2,h3,h4,h5,h6{
    color:$black; 
  }

  strong, b {
    font-weight: 700;
  }
  a{
    color:$black;
    &:active{
       color:$black;
    }
    &:hover{
       color:$gray;
       text-decoration:underline;
    }
    &.uwm-archive-alias{
        display:block;
        clear:both;
        float:left;
        img{
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            -moz-transition: opacity 0.35s, -moz-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
       &:hover{
        h2{
          text-decoration:underline;
        }
        .uwm-pub-cat-img{

          img{
             opacity:0.65;

            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            -moz-transition: opacity 0.35s, -moz-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
          }
        } 
      } 
    }
  }
  a.button {
      color: $white;
      background: none;
      @include rem-fallback( padding-left, 3.5rem);
      @include rem-fallback( padding-right, 2.5rem);
      background-image:url(../images/small-chevron.png);
      background-image:url(../images/small-chevron.svg);
      background-repeat:no-repeat;
      background-position:35px 16px; 
      text-transform:uppercase;
    }
    button:hover,
    button:focus,
    a.button:hover,
    a.button:focus,  {
        background-color:$yellow-dark;
        background-image:url(../images/small-chevron-blk.png);
        background-image:url(../images/small-chevron-blk.svg);
        background-repeat:no-repeat;
        background-position:35px 16px; 
        color: $black;
        text-decoration:none;
    }
    .uwm-article-wrap,.uwm-web-page,.uwm-article-wrap-wide{
      a.button {
         
          color: $black;
          background-color:$yellow-dark;
         @include rem-fallback( padding-left, 3.5rem);
         @include rem-fallback( padding-right, 2.5rem);
          background-image:url(../images/small-chevron-blk.png);
          background-image:url(../images/small-chevron-blk.svg);
          text-decoration:none;
          background-repeat:no-repeat;
          background-position:35px 16px; 
          text-transform:uppercase;
        }
        button:hover,
        button:focus,
        a.button:hover,
        a.button:focus,  {
            background: $black;
            background-image:url(../images/small-chevron.png);
            background-image:url(../images/small-chevron.svg);
            background-repeat:no-repeat;
            background-position:35px 16px; 
            color: $white;
            text-decoration:none;
        }
    }
    .reveal-nested{
      a.button {
             
       color: $black;
       background-color:none;
       @include rem-fallback( padding-left, 3.5rem);
       @include rem-fallback( padding-right, 3.5rem);
        background-image:url(../images/small-chevron-blk.png);
        background-image:url(../images/small-chevron-blk.svg);

        background-repeat:no-repeat;
        background-position:35px 22px; 
        text-transform:uppercase;
      }
      button:hover,
      button:focus,
      a.button:hover,
      a.button:focus,  {
          background: $black;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:35px 22px; 
          color: $white;
          text-decoration:none;
      }
    }
    a .hero-button {
      span.button {
        color: $white;
        background: transparent;
        @include rem-fallback(padding-left, 3.5rem);
        @include rem-fallback(padding-right, 2.5rem);
        background-image: url(../images/small-chevron.png);
        background-image: url(../images/small-chevron.svg);
        -webkit-text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
        -moz-text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
        text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
        background-repeat: no-repeat;
        background-position:35px 16px; 
        text-transform: uppercase;
      }
    }
    a:hover .hero-button,
    a:focus .hero-button {
      button:hover,
      button:focus,
      span.button,
      span.button,  {
          background: none;
//          background: rgba(0, 0, 0, 0.8);
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:35px 16px; 
          color: $white;
          text-decoration:none;
//          border: none;
          border: 1px solid $white;
      }
    }
  /* Blockquotes */
  blockquote {
      margin: 0 0 $paragraph-margin-bottom;
      @include rem-fallback(padding, 1.7rem, 2rem);
    @media #{$large-up} {
     @include rem-fallback(padding, 3rem, 6rem);
    }
    border:none;

    color:$gray;
    // &:before {
    //    content:open-quote;
    //     display: inline-block;
    //     vertical-align: text-bottom;
    //     text-align:left;
    // }
    //  &:after {
    //     display: inline-block;
    //     content:close-quote;
    //     vertical-align: text-top;
    //     text-align:left;
    // }
    cite {
      display: block;
      font-family:$font-family-sans-serif;
      font-weight:300;
      font-style:inherit;
      @include rem-fallback(font-size, 1rem);
      @include rem-fallback(margin, 1.7rem, 0rem);
      &:before {
        // remove the hyphen from foundation.
        content: "";
      }
      strong {
        &:before {
          // keep the workaround when footer tag is removed.
          content: "\2014 \0020";
        }
      }
      a,
      a:visited {
        color: $blockquote-cite-link-color;
      }
     
    }
  }
  blockquote,
  blockquote p {   
    @include rem-fallback(font-size, 1.25rem);
    @media #{$medium-up} {
      @include rem-fallback(font-size, 1.7rem);
    }
      font-family:$font-family-serif;
      text-align:center;
      line-height:1.4;
      padding:1rem;
      color:#757575;
     footer{
      display: block;
      font-family:$font-family-sans-serif;
      font-weight:300;
      @include rem-fallback(font-size, 1rem);
      color: $blockquote-cite-font-color;
      @include rem-fallback(margin, 1.7rem, 0rem);
    }
  }
  p.caption{
    display: block;
    // font-family:$font-family-sans-serif;
    padding-bottom: 0.5rem;
    font-weight: 300;
    border-bottom: 1px solid #eee;
    color: #000;
    @include rem-fallback(font-size, 0.8889rem);
    line-height:1.25rem;
    color:$black;
    @include rem-fallback(padding-bottom, 0.5rem);
    font-weight:300;
    }
  p.highlight,p.uw-highlight{
     @include pub-lead();
  }
 .uwm-vertical-align{
      @include vertical-align();
      height:inherit;
  }
  hr{
    @include rem-fallback(margin, 0.45rem, 0, 0.5em,0);
    @media #{$large-up} {
       @include rem-fallback(margin, 1.25rem, 0, 1.1875rem,0);
        
     }
  }
  

//header

// main content wrapper
.uwm-web-page{
  @media #{$large-up} {
    margin-top: 2.3rem;
  }
}
.uwm-main-content{
  @include rem-fallback(padding-bottom, 3rem);
  z-index:map-get($zindex, content);
}


  .uwm-main-content-wrapper{
//    @include rem-fallback( padding-top, 4.500rem);
    position: relative;
     @include rem-fallback(min-height, 25.000rem);
    z-index:map-get($zindex, wrapper);

  }

// hero{
  .uwm-hero-feature{
    @include rem-fallback(height,  32rem);
    margin-top:0rem;
    &.header-fixed-to-top{
            // margin-top:10.5rem;
      }
    @media #{$medium-up} {
        // @include rem-fallback(height, 26.500rem);
     }
    @media #{$large-up} {
        @include rem-fallback(height, 37.500rem);
        margin-top: 8rem;
        &.header-fixed-to-top{
            //margin-top:0rem;
          margin-top: 8rem;

      }
     }
    @media #{$xlarge-up} {
      margin-top: 0rem;
      &.header-fixed-to-top{
        margin-top: 0rem;
      }
    }
    .menu-open &{
      margin-top:0rem;
    }
    background-color:$entry-bg-color;
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
    width:100%;
    position:relative;

    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  .uwm-img-tran{
       // background:url(../images/effect1.png)  repeat;
       background:rgba(0, 0, 0, 0.2);
        @include rem-fallback(min-height, 32rem);
        @media #{$medium-up} {
            // @include rem-fallback(height, 26.500rem);
         }
        @media #{$large-up} {
            @include rem-fallback(height, 37.500rem);
         }
       position:absolute;
       top:0;
       bottom:0;
       left:0;
       right:0;
       width:100%;
       display:block;
       
    }
  .uwm-hero-info{
    height:auto; 
    @include rem-fallback(padding-top, 13rem);
    text-align:center;
    @media #{$medium-up} {
        @include rem-fallback(padding-top, 16rem);
     }
      @media #{$large-up} {
        @include rem-fallback(padding-top, 16rem);
     }
    .uwm-hero-headline{
      color: $header-font-color;
      font-family: $font-family-sans-condensed-bold;
      font-style: $header-font-style;
      font-weight: 300;
      line-height: $header-line-height;
      margin-bottom: $header-bottom-margin;
      margin-top: $header-top-margin;
      font-size: $h1-font-size - $h1-font-reduction;

      @media #{$large-up} {
        @include rem-fallback(min-height,5.625rem);
        font-size: $h1-font-size;
     } 
      color:$white;
      line-height:1;
      text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    }
    .uwm-hero-sub-headline{
      font-family: $font-family-sans-condensed;
      font-style: $header-font-style;
      line-height: $header-line-height;
      margin-bottom: $header-bottom-margin;
      margin-top: $header-top-margin;
      text-rendering: $header-text-rendering;
      font-size: $h2-font-size - $h2-font-reduction;
      text-transform: uppercase;
      @media #{$large-up} {
        @include rem-fallback(min-height,3.625rem);
       font-size: $h2-font-size;
     } 
      color:$yellow-dark;
      line-height:1;
      text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    }
   
  }
// home content
  .uwm-on-this-page {
    background-color: $light-gray;
    @include rem-fallback(padding,  0);
    @media #{$large-up} {
      @include rem-fallback(padding,  0, 0.625rem);
    }
  }
  .uwm-issue-title{
      .uwm-web-page-state &,.uwm-archives-page & ,.uwm-term-page &{
         @include rem-fallback(margin-top, 1rem);

         @media #{$large-up} {
           @include rem-fallback(margin-top, 11.5rem);
         }
         @media #{$xlarge-up} {
           margin-top: 6rem;
         }

       }

      .menu-open &{
        @include rem-fallback(margin-top, 1rem);
      }
      h1,h2{
        color:$black;
        font-family: $font-family-sans-condensed-bold;
        text-transform: uppercase;
        @include rem-fallback(font-size, 1.25rem);
        @media #{$large-up} {
          @include rem-fallback(font-size, 2.25rem);
        }  

      }
      .header-fixed-to-top &{
        margin-top:11.5rem
      }


  }
  .uwm-term-page,
  .uwm-archives-page,
  .uwm-web-page-state{
  .header-fixed-to-top{
    .uwm-issue-title{
      margin-top:11.5rem;
      @media #{$xlarge-up} {
        margin-top:6.25rem;
       }
    }
  }
  }
  .menu-open.uwm-term-page,
  .menu-open.uwm-archives-page,
  .menu-open.uwm-web-page-state{
    .uwm-issue-title{
      @media #{$large-up} {
        margin-top:1.25rem;
        }
      }

  }

  // home feature block
  .uwm-feature-hp-block{
     @include rem-fallback(min-height, 40rem); 
  }

  .ng-enter,.ng-enter-active {
    ul.uwm-feature-hp-list{
      list-style:none;
      li.hide-feature{
        .uwm-feature-hp-img{
           background-color:$entry-bg-color;
          @include rem-fallback(min-height, 14.06rem);
           -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
            -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
           
        }
        .uwm-feature-hp-info{
           h3{
             background-color:$entry-bg-color;
            display:block;
            @include rem-fallback(height, 3rem);
           }
           p{
            background-color:$entry-bg-color;
            display:block;
            @include rem-fallback(height, 1rem);
            @include rem-fallback(margin-bottom, 1rem);
           }
          }
          @include rem-fallback(min-height, 23.5rem);
          display:block;
      }
    }
    ul.uwm-secondary-list{
      li.hide-cat{
        .uwm-secondary-meta{
           background-color:$entry-bg-color;
        }
        .uwm-secondary-img{
           background-color:$entry-bg-color;
            @include rem-fallback(min-height, 14.06rem);
            -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
            -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
        }
        .uwm-secondary-info{
          h3{
               background-color:$entry-bg-color;
              display:block;
              @include rem-fallback(height, 3rem);
             }
             p{
              background-color:$entry-bg-color;
              display:block;
              @include rem-fallback(height, 1rem);
              @include rem-fallback(margin-bottom, 1rem);
             }

        }
        display:block;
      }
    }
  }
  ul.uwm-secondary-list{
    li.hide-cat{
      display:none;
    }
  }
 ul.uwm-feature-hp-list{
    list-style:none;
    li.hide-feature{
        display:none;
    }

  }
  
  ul.uwm-feature-hp-list{
    padding:0;
    margin:0;
    list-style:none;
    li{
      @include rem-fallback(margin-bottom, 1.5rem); 
      @media #{$large-up} {
        @include rem-fallback(margin-bottom, 3.125rem); 
      }  
    }
  }
  .uwm-feature-hp-img{
    height:auto;
    overflow:hidden;
    position:relative;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    background-color:$entry-bg-color;
    &:hover > ::after{
        right:1000px;
      }
    img{
      width:100%;
      display:block; 
    }
    &::after{
      content:"";
      position:absolute;
      background:url(../images/chevron-large.svg) no-repeat 0 0;
      background-size:contain;
      right:0;
      display:block;

      @include rem-fallback(height, 4.907rem);
      @include rem-fallback(width, 5.625rem);
      @include rem-fallback(bottom, -0.5rem);
      @media #{$medium-up} {
        @include rem-fallback(height, 7.5rem);
        @include rem-fallback(width, 9.375rem);
      }  
      @media #{$large-up} {
        @include rem-fallback(height, 9.813rem);
        @include rem-fallback(width, 11.25rem);
      }
     
    }  
  }
  .more-feature {
    text-align: center;
    .button {
      background-color: $black;
    }
  }
  .uwm-feature-hp a:hover{
     text-decoration:none;
    .uwm-feature-hp-headline{
      text-decoration:underline;
    }

  }
  .uwm-feature-hp-info{
    @include rem-fallback(min-height, 9.813rem);
    .uwm-feature-hp-headline{
      font-weight:300;
      @include rem-fallback(margin-bottom, 0,0, 0.5rem, 0);
      padding: 0;
      line-height:1;
      @include rem-fallback(font-size, 2.6rem);
      @include rem-fallback(line-height, 2.8rem);
      @media #{$medium-up} {
        
      }  
      @media #{$large-up} {
        @include rem-fallback(font-size, 3.125rem);
        @include rem-fallback(line-height, 3.4rem);
      }
    }
    p.uwm-feature-hp-sub{
      margin:0;
      @include rem-fallback(padding, 0,0, 0.5rem, 0);
      @include rem-fallback(font-size, 1.750rem);
      font-family:$font-family-sans-condensed;
      text-transform:uppercase;
      line-height:1.05;
    }
    p.uwm-feature-hp-teaser{
      @include rem-fallback(padding,   0,0, 0.75rem,0);
    }
  }
  // secondary stories
  .uwm-secondary-block{
     @include rem-fallback(min-height, 40rem); 
  }
  .uwm-secondary-wrap{
    @media #{$large-up} {
      [class*="block-grid-"] > li { 
      @include rem-fallback(padding,  0 , 1.25rem, 0, 1.25rem);
      }
    }   
  }
  .uwm-secondary-wrap{}
  .uwm-secondary-list {list-style:none;}
  .uwm-secondary-hp{
    @include rem-fallback(margin-bottom, 3rem);
  }
  .uwm-secondary-meta{
    @include rem-fallback(height, 2.813rem);
    @include rem-fallback(line-height, 2.813rem);
    @include rem-fallback(padding-left, 1rem);
    color:$black;
    font-family:$font-family-sans-condensed;
    font-weight:300;
    text-transform:uppercase;
    background:$yellow-dark; 
    width:100%;
    @media #{$medium-up} {
      width:60%;
    } 
  }
  .uwm-secondary-img{
    height:100%;
    position:relative;
    overflow:hidden;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    img{
      width:100%;
      display:block;
    }
    &:after{
      content:"";
      position:absolute;
      background:url(../images/chevron-white-up.svg) no-repeat 0 0;
      background-size:contain;
      left:0.2rem;
      display:block;
      @include rem-fallback(left, 0.8rem);
      @include rem-fallback(bottom, -0.4rem);
      @include rem-fallback(height, 1rem);
      @include rem-fallback(width, 1rem);
    }  
  }
  .uwm-secondary-info{}
  .uwm-secondary-headline{
    font-weight:300;
    @include rem-fallback(margin, 0.5rem,0, 0.5rem, 0);
    @include rem-fallback(font-size, 1.5rem);
    @include rem-fallback(line-height, 1.750rem);
    padding: 0;
  }
  .uwm-secondary-sub{
    font-family:$font-family-sans-condensed;
    text-transform:uppercase;
    line-height:1.05;
    @include rem-fallback(margin, 0.5rem,0, 0.5rem, 0);
    @include rem-fallback(font-size, 1.125rem);
    @include rem-fallback(line-height, 1.375rem);
    padding: 0;
  }
// publication article body
  .draft > * > * {
    background-color: pink;
  }
  .uwm-article-wrap-wide .row .columns, 
  .uwm-article-wrap-wide .row .column,
  .uwm-web-page .row .columns,
  .uwm-web-page .row .columns,
{
    @media #{$large-up} {
      padding-left:4rem !important;
      padding-right:4rem !important;
    }
  }
  .uwm-article-wrap-wide .row .columns .row .columns,
  .uwm-article-wrap-wide .row .columns .row .column,
  { 
       @media #{$large-up} {
      padding-left: 1rem !important; 
      padding-right: 1rem !important; 
      }
    }

  .uwm-article-cover-parallax {
    position:relative;
    background-size:cover; 
    background-color:#F5F5F5;
    background-attachment: fixed;
    background-repeat: no-repeat;
    &.header-fixed-to-top{
            margin-top:9.5rem;
    }
    @include rem-fallback(height, 24.250rem);
     @media #{$medium-up} {
      
       @include rem-fallback(height, 26rem);
    } 
    @media #{$large-up} {
       @include rem-fallback(height, 30rem);
        //background-size:contain;
        &.header-fixed-to-top{
            margin-top:0rem;
      }
    } 
     @media #{$xlarge-up} {
            background-size:cover; 
        @include rem-fallback(height, 40rem);
     }
     @media #{$xxlarge-up} {
       @include rem-fallback(height, 42.750rem);
  
    }
     // @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
     
     //  @include rem-fallback(height, 34rem);
     //   background-size:contain; 
     //  }
     //  @media only screen 
     //  and (min-device-width : 768px) 
     //  and (max-device-width : 1024px) 
     //  and (-webkit-min-device-pixel-ratio: 1){ 
     //    background-size:contain; 
     //  }
        
    }
  .no-parallax-bg .uwm-article-cover-parallax {
    background-size:cover;
    background-attachment: scroll;
    background-position:center top;
  }
  .uwm-transition-bar {
    border-top-style: solid;
    border-top-color: $smoke;
    @include rem-fallback(border-top-width, 1rem);
    @media #{$large-up} {
      @include rem-fallback(border-top-width, 1.25rem);
    }
  }
  .uwm-article-wrap{
    @include rem-fallback(margin-top, -0.5rem);
    @media #{$large-up} {
        @include rem-fallback(margin-top, -0.625rem);
    }   
  }
  .uwm-article-wrap-wide{
    @include rem-fallback(margin-top, -0.5rem);
    @media #{$large-up} {
        @include rem-fallback(margin-top, -0.625rem);
    }   
  }
  .white-bg{
    background:$white;
  }
  .uwm-article-header {
     text-align: center;
     clear:both;
  }
  .uwm-article,
  .uw-promo-items{
    background:$white;
    overflow:hidden;

    @media #{$large-up} {
       @include rem-fallback(padding-top, 1.5rem);
    }   
  }
  .uw-promo-items{
     @media #{$small-up} {
      [class*="block-grid-"] > li { 
        @include rem-fallback(padding,  0 , 1.25rem, 0, 1.25rem);
        }
      }
       @media #{$small-up} {
      [class*="block-grid-"] > li { 
        @include rem-fallback(padding, 1.25rem);
        }
      }
  }
// sidebar settings for webpage and publication articles
  .uw-display-wide-screen {
    $width_sidebar: 12rem;
    $width_sidebar_large: 15rem;
    .no-sidebar {
      .uwm-article-body,
      .uwm-web-page-body,
      .uwm-web-page {
        @media #{$medium-up} {
          float: none;
          width: auto;
        }
      }
    }
    .show-sidebar {
      .uwm-article-body,
      .uwm-web-page-body,
      .uwm-web-page {
        @media #{$medium-up} {
          // float: none;
          width: auto;
          // @include rem-fallback(margin-right, $width_sidebar);
        }
        @media #{$large-up} {
          // @include rem-fallback(margin-right, $width_sidebar_large);
        }
      }
    }
    .uw-sidebar {
      @media #{$medium-up} {
        // position: absolute;
        // right: 0;
        // // @include rem-fallback(width, $width_sidebar);
      }
      @media #{$large-up} {
        // @include rem-fallback(width, $width_sidebar_large);
      }
    }
  }
  .uwm-article-meta{
    @include rem-fallback(font-size, 1rem);
    color:$gray;
    font-family:$font-family-sans-condensed-bold;
    text-transform:uppercase;
    background: none;
  }
  .uwm-social-share{
    @include rem-fallback(height, 3rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(  margin,  1.25rem, 0, 1.1875rem, 0);
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
    clear:both;
  }
  .uwm-social-share-on{
    float:left;
    color:$black;
    font-family:$font-1451-medium;
    font-weight:300;
    text-transform:uppercase;
    clear:both;
  }
   .uwm-social-share-btns{
    @include rem-fallback(height, 3rem);
    @include rem-fallback(line-height, 3rem);
    float:right;
     ul{
       list-style: none;
       margin:0;
     }
     li{
       display:inline-block;
       @include rem-fallback(width, 4rem);
     }
     a{ display:inline-block;
       @include rem-fallback(width, 2rem);
        @include rem-fallback( padding,   0.5rem,0.5rem, 0,0.5rem);
        color:#999999;
        text-decoration:none;
        @include single-transition(color);
      
        &:hover{
          color: $gray;
          text-decoration:none;
      }
    }    
   }  
  .uwm-article-headline{}
  .uwm-article-sub-headline{
    font-size:1.5rem;
     @media #{$medium-up} {
       font-size:$h2-font-size;
     }
        line-height:1.2;
    }
  .uwm-article-author{
    font-family: $font-family-sans-condensed;
    text-transform: uppercase;
    color: $black;
    @include rem-fallback(font-size, 1rem);
  }
  .uwm-404-wrap{
     background: url(../images/404.png)  no-repeat 40% center;
     background: url(../images/404.svg)  no-repeat 40% center;
     background-size:75%;
    }

  .uwm-article-body,.uwm-web-page-body,
      .uwm-web-page {
     @include rem-fallback(min-height, 40rem);
    ul{
      list-style:disc outside url(../images/small-chevron-li.png);
      list-style:disc outside url(../images/small-chevron-li.svg);
      @include rem-fallback(padding-left, 1.5rem);
      li{
        @include rem-fallback(margin, 0.7rem,0);
      }
     }
      ol{
        @include rem-fallback(padding-left, 2rem);
        li{
          @include rem-fallback(margin, 0.7rem,0);
        }
      }
     ul.circle {
      list-style-type: circle;
      }
      ul.disc {
          list-style-type: disc;
      }
      ul.square {
          list-style-type: square;
      }
      ol.lower-roman {
          list-style-type: lower-roman;
      }
      ol.upper-roman {
          list-style-type: upper-roman;
      }
      ol.lower-alpha {
          list-style-type: lower-alpha;
      }
      ol.upper-alpha {
          list-style-type: upper-alpha;
      }
      ol.decimal {
          list-style-type: decimal;
      }
      ul li > ul,
      ul li > ol,
      ol li > ol,
      ol li > ul {
           @include rem-fallback(padding-left, 1rem);
      }
      ol li > ol {
        list-style-type: lower-alpha;
        }
        ol li > ol li > ol {
            list-style-type: lower-roman;
        }
        ul li > ul {
        list-style: square;
        }
        ul li > ul li > ul {
          list-style:disc outside url(../images/small-hyphen-li.png);
          list-style:disc outside url(../images/small-hyphen-li.svg);
        }
        .col-50,
        .col-33,
        .col-66,
        .threecol-33 {
            float: left;
        }
        .col-50.first,
        .col-33.first,
        .col-66.first,
        .threecol-33 {
            @media #{$medium-up} {
                margin-right: 4%;
            }  
        }
        .threecol-33.last {
            margin-right: 0;
        }
        .col-50 {
          width:100%;
          @media #{$medium-up} {
                 width: 48%;
            }   
           
        }
        .col-33 {
            width:100%;
             @media #{$medium-up} {
                 width: 32%;
            }  
          
        }
        .col-66 {
            width:100%;
             @media #{$medium-up} {
                width: 64%;
            }  
            
        }
        .threecol-33 {
            width:100%;
             @media #{$medium-up} {
                width: 30.666666%;
            }  
        }
        .half-column {
            width:100%;
             @media #{$medium-up} {
                width: 48%;
            }  
            float: left;
           
        }
        .half-column.first {
            @media #{$medium-up} {
                margin-right: 4%;
            }  
           
        }
      a{
        text-decoration:underline;
        &:hover{
          text-decoration:none;
        }
      }
    
  }
// related articles
  
  .uwm-related-articles-wrap{}
  .uwm-related-articles{
    [class*="block-grid-"]{ 
        margin:0 auto;
        }
       @media #{$large-up} {
        [class*="block-grid-"]{ 
        @include rem-fallback(margin,  0);
        }
      }  
  }
  .uwm-related-articles-header{
    border-left: 3px solid $yellow-dark;
    background: $light-gray;
    @include rem-fallback(padding, 0, 1.250rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(margin-top, 1rem);
    @include rem-fallback(margin-bottom, 2rem);

    h2{
      font-family:$font-family-sans-condensed-bold;
      font-weight:300;
      margin:0;
      @media #{$large-up}{
       

      }
      @include rem-fallback(font-size, 1.5rem);
      @include rem-fallback(line-height, 3rem);
    }
  }
  .uwm-article-wide .uwm-related-articles-header{
    border-left: 3px solid $yellow-dark;
    background: $light-gray;
    @include rem-fallback(padding, 0, 1.250rem);

    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(margin-top, 1rem);
    @include rem-fallback(margin-bottom, 2rem);

    h2{
      font-family:$font-family-sans-condensed-bold;
      font-weight:300;
      margin:0;
      @media #{$large-up}{
        @include rem-fallback(margin, 0, 0, 0 ,-2.1rem);

      }
      @include rem-fallback(font-size, 1.5rem);
      @include rem-fallback(line-height, 3rem);
    }
  }
  ul.uwm-related-list{
      
  }
  .uwm-related-item{}
  .uwm-related-img{
    height:100%;
     figure{
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
     }
     img{
      padding:0;
      width:100%;
     }
  }
  .uwm-related-info{}
  h3.uwm-related-headline{
    font-family:$font-family-sans-condensed;
      @include rem-fallback( font-size,  1.225rem);
       color:$black;
      @media #{$large-up} {
        
        line-height:1.2;
    }
  }
  .uwm-related-sub{
      font-family:$body-font-family;
  }
// nested article

  .uwm-nested-insert{
    display:block;
    @include rem-fallback(margin-top,  2.625rem);
    @include rem-fallback(margin-bottom,  2.625rem);
    cursor:pointer;
    border:2px solid $yellow-dark;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    &:hover{
      background:#fafafa;
      border:2px solid $gray;
      text-decoration:none;

    }
  }
  .uwm-nested-insert-wrap{


  }

  .uwm-nested-insert-info{
     @include rem-fallback(padding,  1rem);
     position:relative;
     .button {
             
       color: $black;
       background-color:none;
       @include rem-fallback( padding-left, 3.5rem);
       @include rem-fallback( padding-right, 2.5rem);
        background-image:url(../images/small-chevron-blk.png);
        background-image:url(../images/small-chevron-blk.svg);

        background-repeat:no-repeat;
        background-position:35px 16px; 
        text-transform:uppercase;
      }
      .button:hover,
      .button:focus,  {
          background: $black;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:35px 16px; 
          color: $white;
          text-decoration:none;
      }

  }
  .uwm-top-white,.uwm-bottom-white{
    background:$white;
    width:90%;
    position:absolute;
    height:3px;
    @media #{$large-up} {
      width:95%;
    }
  }
  .uwm-top-white{
    top:-3px;
  }
  .uwm-bottom-white{
    bottom:-3px;
  }
  .uwm-nested-insert-meta{
      font-family:$font-family-sans-serif;
      // font-weight:600;
      text-transform:uppercase;
      text-decoration:none;
      @include rem-fallback(padding,  0, 0, 0.5rem, 0);
      
      color:$gray; 
  }
  .uwm-nested-insert-headline{
    @include rem-fallback(margin,  1rem, 0);
        font-family:$font-family-sans-condensed;
        // font-weight:600;
        text-transform:uppercase;
        color:$black;
        line-height:1;
        @include rem-fallback( font-size,  1.500rem);
        text-decoration:none;

    }
   





  .reveal-nested {
    @include rem-fallback(padding,  5rem, 1rem, 3.125rem, 1rem);
    @media #{$medium-up} {
      @include rem-fallback(padding,  5rem, 3.125rem, 3.125rem, 3.125rem);
      width:650px;
      right: 0!important;
      left:initial!important;
    }
    .close-nestedArticle{
      right:30%;
      @include rem-fallback(font-size,  1.85rem);

      @media #{$large-up} {
      right:70%;
      }
    }
     
  }
  .uwm-nested-article-meta{
    font-family:$font-family-sans-serif;
    // font-weight:600;
    text-transform:uppercase;
    @include rem-fallback(margin,  0, 0, 0.5rem, 0);
    @include rem-fallback(padding,  0, 0, 0.5rem, 0);
    border-bottom:2px solid $yellow-dark;
    color:$gray;
    text-decoration:none;
  }
  .uwm-nested-article-headline {
    font-family:$font-family-sans-condensed;
    font-weight:300;
    margin:0;
    color:$black;
    text-decoration:none;
    @include rem-fallback(font-size, 2.625rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(margin,  0, 0, 1.250rem, 0);
  }
  .uwm-nested-article-body{ 
    @include rem-fallback(padding,  0, 0, 2rem, 0);
    p{
      font-family:$font-family-serif;
      &.highlight{
        color:$gray;
      }
    }
  }
// publication category
  .uwm-publication-category-wrap{
    overflow:hidden;
  }
  .uwm-publication-category-wrap .row .columns .row {
    @include rem-fallback(margin-bottom, 4rem);
  }
  .uwm-pub-cat{
    [class*="block-grid-"] > li {
      display: block;
      float: left;
      height: auto;
      @include rem-fallback(padding,  0);
        @include rem-fallback(margin-top, 1rem);
      }
      @media #{$large-up} {
        @include rem-fallback(padding,  0, 0.625rem, 1.25rem);
        [class*="block-grid-"]{
          @include rem-fallback(margin-top, 2.3rem);
        }
      ul{
        list-style:none;
        padding:0;
        margin:0;
      }
    }
  }
  .uwm-pub-cat-img{
    display:block;
    @include rem-fallback(height, 16.250rem);

    height:auto;
    position:relative;
    width:100%;
    overflow:hidden;
    .uwm-archives-page &{
      @include rem-fallback(margin-bottom, 1rem);
    }
    @media #{$large-up} {
      display:block;
      @include rem-fallback(height, 16.250rem);
      .uwm-archives-page &{
        height:auto;
      }
    }
  }
  .uwm-pub-cat-listing{
    @include rem-fallback(margin-bottom, 5rem);
    clear:both;
    @media #{$large-up} {
     // @include rem-fallback(margin-bottom, 5rem);
    }   
  }
  .uwm-pub-cat-info{}
  .uwm-pub-cat-issue{
    font-family:$font-family-sans-condensed;
    font-weight:400;
    @include rem-fallback(padding, 0,0,0.5rem,0);
    color:$gray;
    text-transform:uppercase;
  }
  .uwm-pub-cat-headline{
    font-family:$font-family-sans-condensed-bold;
    font-weight:700;
    margin:0;
    @include rem-fallback( font-size,  1.875rem);
    @media #{$medium-up} {
      @include rem-fallback( font-size, 2.25rem);
    }
    @include rem-fallback(padding, 0,0,0.5rem,0);
  }
  .uwm-pub-cat-subheadline{
    font-family:$font-family-sans-condensed;
    margin:0;
    color:$black;
    @include rem-fallback(font-size, 1.5rem);
    @include rem-fallback(line-height, 1.875rem);
    line-height:1;
    @include rem-fallback(padding, 0,0,0.5rem,0);
  }
  .uwm-pub-cat-exerpt{ 
    font-family:$font-family-serif;
    font-weight:300;
    margin:0;
    @include rem-fallback(line-height, 1.5rem);
    @include rem-fallback(padding, 0,0,0.75rem,0);
  }
  .uwm-pub-cat-name,.uwm-pub-cat-theme{
    font-weight:300;
    text-transform:uppercase;    
    margin-bottom:5px;
    display:block;
    @include rem-fallback(line-height, 1.325rem);
    // @include rem-fallback(padding, 0,0,0.5rem,0);
    span{
      @include rem-fallback(padding, 0.125rem,0.5rem);
      @include rem-fallback( font-size,  0.875rem);
      font-family:$font-1451-medium;
      margin-left:2px;
      margin-bottom:2px;
      &.cat-type,
      &.cat-theme{
        font-weight:300;
        background-color:transparent;
        font-family:$font-family-sans-condensed;
        @include rem-fallback( font-size,  1.15rem);
      }
    }
  }

  .uw-promo-items {
    li {
      list-style: none;
      padding-bottom: 20px;
    }
  }

.hootsuiteWrapper iframe {
  width: 100%;
  min-height: 100px;
}
.off-screen, .element-invisible {
  display: block;
  text-indent: -9999px;
  height: 0px;
  overflow: hidden;
  &:focus{
    text-indent:0px;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
