@import  "report/settings";
@import  "report/base/font";
@import  "report/base/mixins";
@import  "report/base/variables";
@import  "report/base/uw";
@import  "foundation/components/forms";
@import  "foundation/components/block-grid";
@import  "foundation/components/grid";
@import  "foundation/components/reveal";
@import  "foundation/components/buttons";
@import  "foundation/components/type";
@import  "foundation/components/visibility";

@import  "report/modules/header";
@import  "report/modules/footer";
@import  "report/modules/global";
@import  "report/modules/home";
@import  "report/modules/hero";
@import  "report/modules/term_page";
@import  "report/modules/web_page";
// @import  "report/modules/archive_page";
// @import  "report/modules/issue_page";
@import  "report/modules/pub_articles";
// @import  "report/modules/article_quad";
// @import  "report/modules/article_flex";
@import  "report/modules/article_mason";
@import  "report/modules/pub_sub_nav";
@import  "report/modules/pub_related";
@import  "report/modules/pub_nested";
@import  "report/modules/pub_prev_next";
@import  "report/modules/promo_items";
@import  "report/modules/enhancement";
// @import  "report/modules/hover1";
// @import  "report/modules/hover2";
@import  "report/modules/highlighted_facts";
@import  "report/modules/embedded_cta";
@import  "report/modules/owl";
@import  "report/vendors/spinkit";
// @import  "report/modules/breakhints";

  /* Blockquotes */
  blockquote {
    cite {
      &:before {
        // remove the hyphen from foundation.
        content: "";
      }
      strong {
        &:before {
          // keep the workaround when footer tag is removed.
          content: "\2014 \0020";
        }
      }
    }
  }
