

$ivoryTowers:
education edu,
research res,
forward for,
entrepreneurial ent,
connection con,
equity equ;
$listCount:12;

  @each $ivoryTower in $ivoryTowers {
    .it-#{nth($ivoryTower,1)} {
    	 &:before{
		  	visibility: hidden; 
		  	content:'';
		  	display:block;
			height:5rem;
	  	}	
    	padding:1rem;
    	margin:1.5rem auto;
    	h2{
    		margin-bottom:1rem;
    	}
    	p{
    		margin-bottom:0;
    	}
		ul{list-style: none;
			margin:0;
			padding:0;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: space-around;
				li{ background-color:#fff;
					padding:1rem;
					display:inline-block;
					border:1px solid $uw-black;
					margin:0.75rem;
					float:left;
					&.it-button{
					background-color:transparent;
					padding:0;
					border:1px solid transparent;
					}
					&.it-no-border{
						border:1px solid transparent;
						padding:0;
						background-color:transparent;
					}
					span{
						display:block;
						line-height:1.25;
						&.it-bg{
							width:auto;
							display:inline-block;
							clear:both;
						}
					}
					&:before{
						content:'';
					}
					ul{list-style:none;
						margin:0;
						padding:inherit;
						padding-top:0.5rem;
						padding-bottom:0.5rem;
						li{
							padding:inherit;
							padding-top:0.25rem;
							padding-bottom:0.25rem;
							display:inherit;
							border:1px solid transparent;
							margin:inherit;
							&:before{
								content: "\203A";
							}
						}
					}
				}
			}
    	}
	}

	

@for $i from 1 through $listCount{
	@each $ivoryTower in $ivoryTowers{
		.it-#{nth($ivoryTower,2)}-#{$i}{
		
	}
}
	
}
// The actual boxes /
.it-bg{
	text-transform:uppercase;
	color:$white;
 	font-family:$font-1451-bold;
 	// font-weight:bold;
 	background-color:#a2a2a2;
	@include rem-fallback(font-size, 0.75rem);
	@include rem-fallback(padding,0.1rem , 0.25rem);
	@include rem-fallback(margin,0.25rem , 0rem);
}
.it-small{
	@include rem-fallback(font-size, 1rem);
	line-height:1;
}
.it-medium{
	text-transform:uppercase;
	@include rem-fallback(font-size, 1.75rem);
	font-family: $font-family-sans-condensed-bold;
	color:$black;
}
.it-large{
	@include rem-fallback(font-size, 3.75rem);
	  font-family: $font-family-sans-condensed-bold;
      color:$black;
      text-transform:uppercase;
}
.it-xlarge{
	@include rem-fallback(font-size, 5rem);
	  font-family: $font-family-sans-condensed-bold;
      color:$black;
      text-transform:uppercase;
}
.it-caption{
	@include rem-fallback(font-size, 0.75rem);
	font-style:italic;
}
.it-logo{}

.item-description{
	width:100%;
	font-family:$font-1451-regular;
	font-weight:bold;
	@include rem-fallback(font-size, 0.85rem);
	margin-bottom:3rem !important;
	padding-bottom:1rem;
	border-bottom:1px solid #eee;
	@media #{$medium-up} {
		width:27rem;
	}
	@media #{$xlarge-up} {
		width:30rem;
	}
}
.it-button {
	
	@media #{$large-up} {
			flex :0 1 50%;      
	     }
	span{
		&.small-btn{
			font-family:$font-1451-regular;
			font-weight:bold;
			@include rem-fallback(font-size, 0.85rem);
		}
	}
}
.beyond-ivory-tower{
background-color:#f8f8f8;
	li{ 
		flex :1;
		&.it-res-1{
		text-align:right;
	 	@media #{$large-up} {
			flex :0 1 30%;      
	     }
      	@media #{$xlarge-up} {
			flex :0 1 25%;      
	      }
		}
		&.it-res-2{

			@media #{$large-up} {
			 flex :0 1 100%;            
			}
			.it-large{float:left;
				padding-right:1rem;}
			.it-small{}
			@media #{$xlarge-up} {
			 flex :0 1 45%;            
			}
		}
		&.it-res-3{
			flex :0 1 100%;
			@media #{$large-up} {
				  flex :0 1 70%;       
			}
			ul{
				li{
					display:block;
					flex:none;
					width:100%;
				}
			}
		}
		&.it-edu-1{
			text-align:right;
			@media #{$medium-up} {
			 flex :0 1 40%;
			}
			@media #{$xlarge-up} {
			 flex :0 1 40%;
			}
			@media #{$xxlarge-up} {
			 flex :0 1 30%;
			}
		}
		&.it-edu-2{
			 flex :0 1 80%;
			.it-xlarge{float:left;
				padding-right:1rem;}
			.it-small{
				margin-top:0.75rem;
			}
			@media #{$large-up} {
			 flex :0 1 100%;
			}
			@media #{$xxlarge-up} {
			 flex :0 1 60%;
			}
		}
		&.it-edu-3{
			@media #{$large-up} {
			 flex :0 1 45%;
			}
			@media #{$xlarge-up} {
			 flex :0 1 50%;
			}
		}
		&.it-edu-4{
			.it-xlarge{float:left;
				padding-right:1rem;
			}
			.it-small{
				margin-top:0.75rem;
			}
			@media #{$large-up} {
			 flex :0 1 40%;
			}
			@media #{$xlarge-up} {
			 // flex :0 1 50%;
			}
		}
		&.it-edu-5{
			@media #{$large-up} {
			 flex :0 1 40%;
			}
		}
		&.it-edu-6{
			@media #{$medium-up} {
			 flex :0 1 50%;
			}
			@media #{$large-up} {
			 flex :0 1 45%;
			}
			@media #{$xlarge-up} {
			 flex :0 1 50%;
			}
		}
		&.it-edu-7{
			flex :0 1 80%;
			.it-xlarge{float:left;
				padding-right:1rem;
			}
			@media #{$large-up} {
			 flex :0 1 100%;
			}
			@media #{$xlarge-up} {
			 flex :0 1 60%;
			}
		}
		&.it-for-1{
			text-align:right;
			flex :0 1 50%;
			@media #{$large-up} {
			 // flex :0 1 40%;
			}
		}
		&.it-for-2{
			@media #{$large-up} {
			 flex :0 1 40%;
			}

		}
		&.it-for-3{
			@media #{$large-up} {
			 flex :0 1 100%;
			}
		}
		&.it-ent-1{
			 flex :0 1 60%;
			@media #{$large-up} {
			 flex :0 1 50%;
			}
			@media #{$xlarge-up} {
			 flex :0 1 65%;
			}
			@media #{$xxlarge-up} {
			 flex :0 1 40%;
			}
		}
		&.it-ent-2{
			@media #{$large-up} {
			 flex :0 1 30%;
			}
		}
		&.it-ent-3{
			.it-large{float:left;
				padding-right:1rem;
			}

		}
		&.it-ent-4{
 			flex :0 1 100%;
 			.it-large{float:left;
				padding-right:1rem;
			}
			.it-small{
				margin-top:0.75rem;
			}
		}
		&.it-ent-5{
			flex :0 1 100%;
		@media #{$large-up} {
			flex :0 1 60%;
			}
		}
		&.it-ent-6{
			 flex :0 1 25%;
			@media #{$large-up} {
			
			}
			.it-xlarge{float:left;
			padding-right:1rem;
			}
			.it-small{
			margin-top:0.75rem;
			}
		}
		&.it-ent-7{
			@media #{$large-up} {
			 flex :0 1 40%;
			}
			.it-large{float:left;
			padding-right:1rem;
			}
			.it-small{
			margin-top:0.75rem;
			}
		}
		&.it-ent-8{
			@media #{$large-up} {
			 flex :0 1 40%;
			}
		.it-large{float:left;
			padding-right:1rem;
			}
			.it-small{
			margin-top:0.75rem;
			}
		}
		&.it-ent-9{
 			flex :0 1 60%;
		}
		&.it-ent-10{

		}
		&.it-ent-11{
			flex :0 1 100%;
			@media #{$large-up} {
			 flex :0 1 60%;
			}
		}
		&.it-ent-12{
			.it-large{float:left;
			padding-right:1rem;
			}
			.it-small{
			margin-top:0.75rem;
			}
		}
		&.it-con-1{
			text-align:right;
			@media #{$large-up} {
			 flex :0 1 35%;
			}
		}
		&.it-con-2{
		@media #{$large-up} {
			 flex :0 1 41%;
			}
		}
		&.it-con-3{
		@media #{$xxlarge-up} {
			 flex :0 1 25%;
			}
		}
		&.it-con-4{
		@media #{$xxlarge-up} {
			 flex :0 1 40%;
			}
		}
		&.it-con-5{
		@media #{$xxlarge-up} {
			 flex :0 1 25%;
			}
		}
		&.it-con-6{
		 	flex :0 1 100%;
			.it-medium{float:left;
			padding-right:1rem;
			}
			.it-small{
			}
		}
		&.it-equ-1{
			
			 flex :0 1 50%;
			
		}
		&.it-equ-2{
			
			 flex :0 1 40%;
			
		}
		&.it-equ-3{
			 flex :0 1 30%;
		}
		&.it-equ-4{
			 flex :0 1 60%;
			.it-medium{float:left;
			padding-right:1rem;
			}
			.it-small{
			}
		}
		&.it-equ-5{
			flex :0 1 100%;
			@media #{$large-up} {
			 flex :0 1 50%;
			}
			
		}
		&.it-equ-6{}
	}
	.it-research ul{
		justify-content: space-around;
	}
	.it-education ul{
		justify-content: space-around;
	}
	.it-entrepreneurial ul{
		justify-content: space-around;
	}
	.it-connection ul{
		// justify-content: space-between;
	}
	.it-forward ul{
		justify-content: space-between;
	}
	.it-equity ul{
		// justify-content: space-between;
	}
}
