
.breakpoint{ 
    width:auto;
    display:block;
    font-size:0.7em;
    color:$white;
    position:fixed;
    padding:0.5rem;    
    top:10em;
    font-weight:bold;
    z-index: map-get($zindex, overlay);
     &:before{
        content:"$screen";
       }
       background-color:rgba(green, 0.7);
    @media #{$small-up} {
       &:before{
       content:"$small-up";
       }
     
         background-color:rgba(red, 0.7);
     }
     @media #{$medium-up} {
       &:before{
         content:"$medium-up";
      }
        background-color:rgba(yellow, 0.7);
        color:$black;
     }
     @media #{$large-up} {
       &:before{
         content:"$large-up";
       }
          background-color:rgba(green, 0.7);
          color:$white;
      }
    @media #{$xlarge-up} {
       &:before{
         content:"$xlarge-up";
       }
          background-color:rgba(blue, 0.7);
          color:$white;
      }

    @media #{$xxlarge-up} {
       &:before{
         content:"$xxlarge-up";
       }
          background-color:rgba(orange, 0.7);
          color:$white;
      }

      // @media #{$portrait} {
      //    &:before{
      //    content:"$portrait";
      //  }
      //     background-color:rgba(purple, 0.7);
      // }
      // @media #{$landscape} {
      //    &:before{
      //    content:"$landscape";
      //  }
      //     background-color:rgba(pink, 0.7);
      // }
     &.active{
         font-size:10em;
    }
  }
