[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
:focus {
    outline: thin dotted;
    outline-offset: 4px;
}
.orange{@include alpha-attribute('background-color', rgba(orange, 0.9), white);}
.red{@include alpha-attribute('background-color', rgba(red, 0.7), white);}
.green{@include alpha-attribute('background-color', rgba(green, 0.7), white);}
.purple{@include alpha-attribute('background-color', rgba(purple, 0.7), white);}
.pink{@include alpha-attribute('background-color', rgba(pink, 0.7), white);}
.olive{@include alpha-attribute('background-color', rgba(olive, 0.7), white);}
*{
  // &.active {background:orange!important;}
}
.no-padding{
  padding-right:0!important;
  padding-left:0!important;
}
.no-padding-right{
  padding-right:0!important;
}
.no-padding-left{
   padding-left:0!important;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  }
*{
  &.uwdefault {
   $faculty-color:faculty-color('.uwdefault');
   color:$faculty-color; 
  } 
   &.ahs{ 
    $faculty-color: faculty-color('.ahs'); 
     color:$faculty-color; 
  }
   &.arts{
      $faculty-color: faculty-color('.arts'); 
       color:$faculty-color; 
  }
   &.engineering{ 
     $faculty-color: faculty-color('.engineering');
     color:$faculty-color; 
  }
   &.environment {
     $faculty-color:faculty-color('.environment'); 
     color:$faculty-color; 
  }
   &.math {
     $faculty-color: faculty-color('.math');
     color:$faculty-color; 
  }
   &.science { 
    $faculty-color: faculty-color('.science');
    color:$faculty-color; 
  }
  &.gold{
     color:  $yellow-dark;
    }
}
.col-50,
    .col-33,
    .col-66,
    .threecol-33 {
        float: left;
        @include rem-fallback(margin-top, 0.25rem);
        @include rem-fallback(margin-bottom, 0.25rem);

    }
    .col-50.first,
    .col-33.first,
    .col-66.first,
    .threecol-33 {
        @media #{$medium-up} {
            margin-right: 2%;
        }  
    }
    .threecol-33.last {
        margin-right: 0;
      }
      .col-50 {
        width:100%;
        @media #{$medium-up} {
               width: 49%;
          }   
         
      }
      .col-33 {
          width:100%;
           @media #{$medium-up} {
               width: 33%;
          }  
        
      }
      .col-66 {
          width:100%;
           @media #{$medium-up} {
              width: 65%;
          }  
          
      }
      .threecol-33 {
          width:100%;
           @media #{$medium-up} {
           width: 32%;
         }  
         
      }
      .half-column {
          width:100%;
          float: left;

         @media #{$medium-up} {
           width: 48%;
           &.first{  margin-right: 2%;}
          }  
            
      }
  .row{
      &.full-width{
        max-width: 100%;
        .row{
          margin: 0 auto;
           @include rem-fallback( max-width, 64rem);
        }
      }
    }
   .columns, 
   .column,{
    .uwm-web-page &,
    .uwm-pub-article-page &,
    .uwm-web-page-state &{
      @include rem-fallback( padding-right,  1rem);
      @include rem-fallback( padding-left,  1rem);

      @media #{$medium-up} {
        
      }
       @media #{$large-up} {
          @include rem-fallback( padding-right,  1.25rem);
          @include rem-fallback( padding-left,  1.25rem);
      }
    }

  }
  .showHeading{
    .uwm-home-page &,
    .uwm-issues-page &{
      display:none;
    }
    
    .uwm-web-page &,
    .uwm-pub-article-page &,
    .uwm-web-page-state &,
    .uwm-testimonies-page &,
    .uwm-archives-page &,
    .uwm-term-page &,
    .uwm-404-page &{
       display:block;
    }
  }

  .showHeading-h1{
    .uwm-web-page &,
    .uwm-pub-article-page &,
    .uwm-web-page-state &,
    .uwm-testimonies-page &,
    .uwm-archives-page &,
    .uwm-term-page &,
    .uwm-404-page &{
       display:none;
    }
    .uwm-home-page &,
    .uwm-issues-page &{
      display:block;
    }

  }
// overall global
  html {height:100%; margin:0; padding:0;  box-sizing: border-box;}
  body {
      color:$black;
      height:100%; 
      margin:0;
      padding:0; 
      font-size: 100%;
      -webkit-font-smoothing:antialiased; 
      z-index:map-get($zindex, background);
    
  }
  .uwm-issue-title-small{
    // position:absolute;
    // top:17.5rem;
    // left:2.85rem;
     position:relative;
     width:auto;
     display:inline-block;
     color:$black;
     font-family:$font-1451-bold;
     font-weight:bold;
     margin-top:1rem;
     p{
      @include rem-fallback(font-size, 0.65rem);
      @media #{$medium-up} {
        @include rem-fallback(font-size, 0.75rem);
      }
      @include rem-fallback(padding,0.1rem , 0.25rem);
     }
  }
  .uwm-capitalize{
    text-transform:capitalize;
  }
 .uwm-vertical-align{
    @include vertical-align();
    height:inherit;
  }
  .uwm-on-this-page {
    background-color: $light-gray;
    @include rem-fallback(min-height,3.5rem); 
    @include rem-fallback(margin, 0, 0, 1.25rem,0); 
    .uwm-term-page &, .uwm-web-page-state & ,.uwm-testimonies-page &,.uwm-404-page &,.uwm-archives-page &{
      @include rem-fallback(margin, 6rem, 0, 1.25rem,0); 
      @media #{$medium-up}{
         @include rem-fallback(min-height,6.5rem); 
      }
      @media #{$large-up}{
         @include rem-fallback(margin, 4rem, 0, 1.25rem,0); 
      }
    }
  }
  .uwm-issue-title{
    h1,h2{
      font-weight:600;
      display:block;
      font-family: $font-family-sans-condensed-bold;
      color:$black;
      .uwm-web-page-state &{
        margin-top:6rem;
      
           @media #{$medium-up} {
            margin-top:5rem;
          }
          @media #{$large-up} {
            margin-top:3rem;
          }
        }
      .uwm-web-page-state &,
      .uwm-pub-article-page &,
      .uwm-web-page-state &,
      .uwm-testimonies-page &,
      .uwm-archives-page &,
      .uwm-term-page &,
      .uwm-404-page &{
         text-transform: none;
         color:$gray;
      }
      @include rem-fallback(padding, 1rem, 0);
      @include rem-fallback(font-size, 1.5rem);
      line-height: 1.25;
      margin:0;
      text-transform: uppercase;
      text-align: center;
      @media #{$medium-up} {
        @include rem-fallback(padding, 1.25rem, 1rem);
        @include rem-fallback(font-size, 2.5rem);
      }
      @media #{$large-up} {
          @include rem-fallback(font-size, 3rem);
      }
       @media #{$xlarge-up} {
          @include rem-fallback(font-size, 3.2rem);
      }
    }
  }  

// headers h1 h2 h3 h4 h5 h6
  h1,h2,h3,h4,h5,h6{
     font-weight:300;
    span{
      font-weight:600;
    }
    .uwm-article-section-header &,
    &.uwm-article-section-header{
      text-transform:uppercase;
      background: $light-gray;
      float:left;
      width:100%;
      clear:both;
      @include rem-fallback(padding, 1rem,0,1rem,1rem);
      @include rem-fallback(margin-top, 1rem);
      @include rem-fallback(margin-bottom, 2rem);
    }
  }
  h1{ 
      // font-weight: 300;
      line-height:1;
       @media #{$medium-up} {
             @include rem-fallback( font-size, 4.0625rem);
        }
        @media #{$xlarge-up} {
             @include rem-fallback( font-size, 5.625rem);
        }
     span{
       display:inline-block;
     }
     &.uwm-article-headline {
      font-family:$font-family-sans-condensed;
      line-height:1;
      border-bottom:3px solid $uw-gold;
      display:inline-block;
      color:$black;
      width:auto;
      text-align:left;
      // @include sotuTextShadow();
      
      @include rem-fallback( font-size, 4.5rem);
       span{
        @include rem-fallback(font-size,1.5rem);
        text-align:left;
        display:block;
        font-family:$font-family-sans-condensed;
        // border-bottom:3px solid $uw-gold;
        text-transform:uppercase;
      }
     }
  }
  h2{
    // @include rem-fallback(font-size, 3.125rem);
    text-transform: uppercase;
    span{
      // font-weight:600;
    }

    &.uwm-hero-headline{
      text-transform:capitalize;
      text-align:left;
      font-family:$font-family-sans-condensed;
      line-height:1;
      border-bottom:3px solid $uw-gold;
      display:inline-block;
      width:auto;
      @include rem-fallback(font-size,3rem);
      span{
        @include rem-fallback(font-size,2.8rem);
        text-align:left;
        display:block;
        border-bottom:3px solid $uw-gold;
        text-transform:uppercase;
        max-width:9rem;
        overflow:hidden;
      }
      @media #{$medium-up} {
         @include rem-fallback(font-size,4.5rem);
         span{
            max-width:12rem;
            @include rem-fallback(font-size,4.0rem);
          }
      }
      @media #{$large-up} {
        line-height:1;
      // @include rem-fallback(font-size,9.875rem);

      } 
      @media #{$xlarge-up} {
        // @include rem-fallback(font-size,11.875rem);
      } 
      color:$white;
      @include sotuTextShadow();
    }
    &.uwm-pub-cat-headline{
      font-size: $h3-font-size - $h3-font-reduction;
      @media #{$large-up} {
        font-size: $h3-font-size ;  
     } 
    }
   
    .uwm-testimonials &{
      text-transform:inherit;
      text-align:center;
      font-family:$font-family-sans-condensed;
      font-weight: 300;
      line-height:1.2;
      color:$gray;
      font-size: $h1-font-size - $h1-font-reduction;
      @include rem-fallback(margin-top, 2rem);
      span{
        // font-weight:600;
        
      }
      @media #{$medium-up} {
      }
      @media #{$large-up} {
        line-height:1;
        font-size: $h1-font-size;

      } 
      @media #{$xlarge-up} {
        
      } 
      
     
    
    }
      .uwm-testimonials-wrap-nobg &{
        color:$gray;
        text-shadow:none;
         span{
          font-weight: 300;
          display:block;
        }
      }
      .uwm-testimonials-wrap &{
        color:$white;
        @include sotuTextShadow();
        span{
          font-weight: 300;
          display:block;
        }
      }
    
    &.uwm-article-quad-footer{
      font-family:$font-family-sans-condensed-bold;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -1px;
      color:$gray;
       @include rem-fallback(padding-top, 1rem);
        font-size: $h3-font-size - $h3-font-reduction;
         @media #{$large-up} {
          font-size: $h3-font-size ;  
        } 
      }
    &.uwm-article-section-header,
      .uwm-article-section-header &  {
        font-size: $h3-font-size - $h3-font-reduction;
        @media #{$large-up} {
        font-size: $h3-font-size ;  
        } 
      }
   &.uwm-connections,
   &.uwm-entrepreneurial,
   &.uwm-education,
   &.uwm-research,
   &.uwm-equity,
   &.uwm-forward{
       @include rem-fallback(font-size, 0.75rem);
       width:auto;
       display:inline-block;
       @include rem-fallback(padding, 0.25rem,0.5rem);
       color:$black;
       font-family:$font-1451-regular;
       font-weight:bold;
       margin-top:0;
       .beyond-innovation & {
        margin-top:0.75rem;
       }
   }
   &.uwm-static-headline{
      text-transform:capitalize;
      text-align:left;
      font-family:$font-family-sans-condensed;
      font-weight: 300;
      line-height:1;
      border-bottom:3px solid $uw-gold;
      display:inline-block;
      width:auto;
      @include rem-fallback(font-size,4.5rem);
      span{
        @include rem-fallback(font-size,4.0rem);
        font-weight:300;
        text-align:left;
        display:block;
        border-bottom:3px solid $uw-gold;
        text-transform:uppercase;
        max-width:12rem;
        overflow:hidden;
      }
      @media #{$medium-up} {
      }
      @media #{$large-up} {
        line-height:1;
      // @include rem-fallback(font-size,9.875rem);

      } 
      @media #{$xlarge-up} {
        // @include rem-fallback(font-size,11.875rem);
      } 
      color:$white;
      @include sotuTextShadow();
    }
  }    
  
  h3{
     font-weight: 300;
     font-family:$body-font-family;
     @include rem-fallback(font-size, 1.875rem);
     text-transform: uppercase;
     span{
         // font-weight:600;
      }
      .uwm-article-quad &,.uwm-article-quad-dna &{
          font-size: $h4-font-size - $h4-font-reduction;
          text-transform:inherit;
          @media #{$large-up} {
          font-size: $h4-font-size ;  
        } 
      }
      &.sotu-feature-hp-headline{
      text-transform:capitalize;
      text-align:left;
      font-family:$font-family-sans-condensed;
      
      border-bottom:1px solid $uw-gold;
      display:inline-block;
      width:auto;
      color:$white;
      line-height:1.25;
       @include rem-fallback(font-size,1rem);
      @media #{$medium-up} {
         @include rem-fallback(font-size,2rem);
      }
     
      span{
        @include rem-fallback(font-size,0.65rem);
        font-weight: 200;
        @media #{$medium-up} {

         @include rem-fallback(font-size,1rem);
      }
        text-align:left;
        display:block;
        border-bottom:1px solid transparent;
        text-transform:uppercase;
        max-width:4rem;
        overflow:hidden;
        }
      }
      &.uwm-feature-hp-headline{
        @include rem-fallback(margin, 0.5rem,0, 1rem, 0);
        padding: 0;
        @include rem-fallback(font-size, 1.45rem);
        @media #{$medium-up} {
           @include rem-fallback(font-size, 1.875rem);
        }  
        @media #{$large-up} {
          // @include rem-fallback(font-size, 3.125rem);
          // @include rem-fallback(line-height, 3.4rem);
        }
      }
      &.uwm-article-section-header,
      .uwm-article-section-header &  {
        font-size: $h3-font-size - $h3-font-reduction;
        @media #{$large-up} {
        font-size: $h3-font-size ;  
        } 
      }
      &.uwm-secondary-headline,
      &.uwm-related-headline
      {
        @include rem-fallback(font-size, 1.125rem);
        padding: 0;
        @media #{$medium-up} {
          
        }  
        @media #{$large-up} {
          // @include rem-fallback(font-size, 3.125rem);
          // @include rem-fallback(line-height, 3.4rem);
        }
      }
      &.uwm-related-headline{
       font-weight:600;
       color:$uw-black;
       font-family:$font-family-sans-condensed;
        @include rem-fallback(font-size, 0.85rem);
        border-bottom:2px solid $uw-gold;
        padding: 0;
        display:inline-block;
        text-transform:capitalize;
         span{
         font-weight:300 !important;
         text-transform: uppercase;
         display:block;
         border-bottom:2px solid transparent;
         @include rem-fallback(font-size, 0.85rem);
        }
        @media #{$medium-up} {
           @include rem-fallback(font-size, 1.125rem);
        }  
        @media #{$large-up} {
          // @include rem-fallback(font-size, 3.125rem);
          // @include rem-fallback(line-height, 3.4rem);
        }
      }
      &.uwm-nested-headline{
        
      }
      &.uwm-promo-item-heading{
           @include rem-fallback(font-size, 1.500rem);
        }
      }
  h4{
      @include rem-fallback(font-size, 1.500rem);
      text-transform: capitalize;
      &.uwm-prev-next-headline {
       font-family:$font-family-sans-condensed;
       font-weight:600;
       color:$uw-black;
       .uwm-prev-link &{
        float: right;
       }
       .uwm-next-link-hl &{
        float: left;
       }
       clear:both;
        @include rem-fallback(font-size, 0.85rem);
        border-bottom:2px solid $uw-gold;
        padding: 0;
        display:inline-block;
         span{
         font-weight:300;
         text-transform: uppercase;
         display:block;
         border-bottom:2px solid transparent;
         @include rem-fallback(font-size, 0.85rem);
        }
        @media #{$medium-up} {
           @include rem-fallback(font-size, 1.125rem);
        }  
        @media #{$large-up} {
          // @include rem-fallback(font-size, 3.125rem);
          // @include rem-fallback(line-height, 3.4rem);
        }
      }
    }
  h5{
    @include rem-fallback(font-size, 1.250rem);
  }
  h6{
    @include rem-fallback(font-size, 1rem);
  }
  strong, b {
    font-weight: 700;
  }
  span{
    &.icon-connection,
    &.icon-entrepreneurial,
    &.icon-education,
    &.icon-research,
    &.icon-equity,
    &.icon-forward{
      display:block;
      width:auto;
      @include rem-fallback(font-size, 3rem);
      clear:both;
      color:$black;
      font-weight:500;
      .beyond-innovation & {
         display:inline-block;
         clear:inherit;
         @include rem-fallback(font-size, 3rem);
         float:left;
         width:3.5rem;
      }
    }
  }
  a{
    color:$black;
    &:active{
       color:$black;
    }
    &:hover{
       color:$black;
       text-decoration:underline;
    }
    &.uwm-archive-alias{
        display:block;
        clear:both;
        float:left;
        img{
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            -moz-transition: opacity 0.35s, -moz-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
       &:hover{
        h2{
          text-decoration:underline;
        }
        .uwm-pub-cat-img{

          img{
             opacity:0.65;

            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            -moz-transition: opacity 0.35s, -moz-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
          }
        } 
      } 
    }
  }
/* buttons*/ 
  a.button {
    color: $white;
    background: none;
    @include rem-fallback( padding-left, 3.5rem);
    @include rem-fallback( padding-right, 2.5rem);
    background-image:url(../images/small-chevron.png);
    background-image:url(../images/small-chevron.svg);
    background-repeat:no-repeat;
    background-position:35px 20px; 
    text-transform:uppercase;
    .uwm-article-wrap,.uwm-web-page,.uwm-article-wrap-wide &{
      color: $black;
      background-color:$yellow-dark;
      @include rem-fallback( padding-left, 3.5rem);
      @include rem-fallback( padding-right, 2.5rem);
      background-image:url(../images/small-chevron-blk.png);
      background-image:url(../images/small-chevron-blk.svg);
      text-decoration:none;
      background-repeat:no-repeat;
      background-position:35px 20px; 
      text-transform:uppercase;
      }
      .reveal-nested &{ 
        color: $black;
        @include rem-fallback(font-size, 1rem);
        font-family:$body-font-family;
        font-weight:600;
        background-color:none;
        background-image:none;
        @include rem-fallback( padding, 1.2rem, 3.5rem);
        text-transform:uppercase;
        background-position:35px 20px;
      }
      .uwm-subscribe-button &{

      @include rem-fallback( padding-left, 1.5rem);
      @include rem-fallback( padding-right, 1.5rem);
      background-color: $yellow-dark;
      color:$black;
      background-image:none;
       @include rem-fallback(font-size, 1rem);
        @media #{$large-up} {
          @include rem-fallback(margin-top,  0);

          }
          @media #{$xlarge-up} {
            @include rem-fallback( padding-left, 1rem);
            @include rem-fallback( padding-right, 1rem);
          }
      }
      .it-button &{
        @include rem-fallback( padding-left, 1.5rem);
        @include rem-fallback( padding-right, 1.5rem);
        background-color: $yellow-dark;
        color:$black;
        background-image:none;
        text-decoration:none;
        display:table;
        align-items:center;
      }

    }

    button:hover,
    button:focus,
    a.button:hover,
    a.button:focus,  {
        background-color:$yellow-dark;
        background-image:url(../images/small-chevron-blk.png);
        background-image:url(../images/small-chevron-blk.svg);
        background-repeat:no-repeat;
        background-position:35px 20px; 
        color: $black;
        text-decoration:none;
    .uwm-article-wrap,.uwm-web-page,.uwm-article-wrap-wide &{
        background: $black;
        background-image:url(../images/small-chevron.png);
        background-image:url(../images/small-chevron.svg);
        background-repeat:no-repeat;
        background-position:35px 20px; 
        color: $white;
        text-decoration:none;
      }
      .uwm-subscribe-button &{
          background: $white;
         background-image:none;
       }
      .reveal-nested &{
        background: $black;
        color: $white;
        text-decoration:none;
        background-image:none;
        @include rem-fallback( padding, 1.2rem, 3.5rem);
        background-position:35px 22px;
        
      }
      .uwm-subscribe-button{

      background: $white;
      background-image:none;
      }
      .it-button &{
        color:$white;
        background:#000;
        background-image:none;
      }
    }

    .hero-button {
      .button {
        color: $white;
        background: transparent;
        @include rem-fallback(padding-left, 3.5rem);
        @include rem-fallback(padding-right, 2.5rem);
        background-image: url(../images/small-chevron.png);
        background-image: url(../images/small-chevron.svg);
        @include sotuTextShadow();
        background-repeat: no-repeat;
        background-position: 35px 20px;
        text-transform: uppercase;
      &:hover{
          -webkit-text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
          -moz-text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
          text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
  

        }
      }

    }

   button{

   

    &.caption-toggle{ 

        font-family:$body-font-family;
        color: $white;
        background:none;
        line-height:1;
        opacity:0;
        @include rem-fallback(font-size, 0.8rem);
        visibility:hidden;
        -webkit-transition: opacity 0.25s,visibility 0.3s ease  ;
        -moz-transition: opacity  0.25s,visibility 0.3s ease  ; 
         -o-transition: opacity  0.25s,visibility 0.3s ease ; 
        -ms-transition: opacity   0.25s,visibility 0.3s ease ; 
        transition: opacity  0.25s ,visibility 0.3s ease ; 
        @include sotuTextShadow();
        text-transform: uppercase;
        font-weight:400;
        @include rem-fallback(padding-left, 0.5rem);
        @include rem-fallback(padding-right, 0.5rem);
        @include rem-fallback(padding-top, 2.8rem);
        @include alpha-attribute('background-color', rgba(black, 0.1), black);
        &:after{
          display:block;
          position:absolute;
          left:50%;
          @include rem-fallback(font-size, 0.8rem);

          @include rem-fallback(top, 0.7rem);
          @include rem-fallback(margin-left, -1.61rem);
          @include rem-fallback(width, 3.125rem);
          content: url(../images/caption-arrow-sml.png);
          content: url(../images/caption-arrow-sml.svg);
          -webkit-transition: all 0.25s;
          -moz-transition: all  0.25s; 
           -o-transition: all  0.25s;
          -ms-transition: all  0.25s;
              transition: all  0.25s;
        
        }
        @media #{$medium-up}{
          
          
            &:after{
            content: url(../images/caption-arrow.png);
            content: url(../images/caption-arrow.svg);
            // display:block;
            // position:absolute;
            // left:50%;
            // top:5px;
            // @include rem-fallback(margin-left, -1.61rem);
            // @include rem-fallback(width, 3.125rem);
            // content: url(../images/caption-arrow.png);
            // content: url(../images/caption-arrow.svg);
            // -webkit-transition: all 0.25s;
            // -moz-transition: all  0.25s; 
            //  -o-transition: all  0.25s;
            // -ms-transition: all  0.25s;
            //     transition: all  0.25s ;
          
          }
        }
       &.caption-active{
          &:after{
            -webkit-transform:scale(1,-1);          
            -moz-transform:scale(1,-1);    
            transform:scale(1,-1);    
          }
        }
        &:hover,&:focus{
            outline-offset:0;
           @include alpha-attribute('background-color', rgba(black, 0.7), black);
          
      }
      &.showScroll{
        opacity:1;
        visibility:visible;
        -webkit-transition: opacity 0.25s,visibility 0.3s ease;
        -moz-transition: opacity  0.25s,visibility 0.3s ease  ; 
         -o-transition: opacity  0.25s,visibility 0.3s ease ; 
        -ms-transition: opacity   0.25s,visibility 0.3s ease ; 
            transition: opacity  0.25s ,visibility 0.3s ease ; 
        
        }

      }


   }
  .caption-toggle{
     position:absolute;
     // bottom:-15px;
     // right:2%;

     @media #{$medium-up}{
           top:0;
            position:absolute;
        }
  }
  .no-caption{
    display:none;
  } 
/* Blockquotes */
blockquote {
  text-align:center;
  border:none;
  width:100%;
  color:$gray;

  @include rem-fallback(padding, 1.7rem, 0.5rem);
  margin:0;
  background-color:$light-gray;
  background-image:url(../images/chevron-large-5.png);
  background-image:url(../images/chevron-large-5.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size:30%;
   p{
    margin: 0 0 $paragraph-margin-bottom;
   
    @include rem-fallback(padding, 1.7rem, 2rem);
    border:none;
    color:$gray;
    @include rem-fallback(font-size, 1.25rem);
    font-weight:300;
    text-align:center;
    line-height:1.4;
    margin:0;
    color:$black;
    font-weight:300;
    font-family:$font-family-sans-serif;

   &:before{
    content:"\201C";
    color:$gray;
    font-family: 'arial',sans-serif;
    font-weight:400;
    display:inline-block;
    text-align:left;
    @include rem-fallback(height, 1rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(font-size, 6rem);
    @include rem-fallback(padding-right, 0.4rem);
    vertical-align: text-top;
    }
   &:after{
    content:"\201D";
    color:$gray;
    font-family: 'arial',sans-serif;
    font-weight:400;
    display:inline-block;
    text-align:left;
    @include rem-fallback(height, 1rem);
    @include rem-fallback(line-height,6rem);
    @include rem-fallback(font-size, 6rem);
    @include rem-fallback(padding-left, 0.4rem);
    vertical-align: text-top;
    
 
    } 
  }
  footer{
    line-height:1;
    p{
       &:before,
        &:after{
          content:"";
         
        }
    }
    strong{
         line-height:1;
         color:$black;
          @include rem-fallback(margin, 1.7rem, 0rem);
          @include rem-fallback(font-size, 1.2rem); 
          &:before {
          content: "\2014 \0020";
          }
      }
    
    }
   
  cite {
    display: block;
    font-family:$font-family-sans-serif;
    font-weight:300;
    font-style:inherit;
    @include rem-fallback(font-size, 1rem);
    color: $blockquote-cite-font-color;
    @include rem-fallback(margin, 1.7rem, 0rem);
    a,
    a:visited {
     color: $blockquote-cite-link-color;
    }
  }
 .uwm-testimonials-wrap-inline & {
  @include rem-fallback(padding, 4rem, 0.5rem); 
  p{
    @include rem-fallback(padding, 1.7rem, 0.5rem); 
  }
  footer{ 
    line-height:1.25;      
    @include rem-fallback(font-size,  0.85rem);
  }
  strong{ 
    line-height:1.25;      
    @include rem-fallback(font-size, 0.85rem);
    }
  }
  .uwm-article-sidebar & {
    line-height:1.2;
    footer{ 
      line-height:1;      
      @include rem-fallback(font-size,  0.85rem);
    }
    strong{ 
      line-height:1;      
      @include rem-fallback(font-size, 0.85rem);
    }
   p{
    
     @include rem-fallback(font-size, 1.25rem);
     @include rem-fallback(padding, 1rem, 0rem);
      &:before{   
        @include rem-fallback(height, 1rem);
        @include rem-fallback(line-height,2rem);
        @include rem-fallback(font-size, 4rem);
        @include rem-fallback(padding-left, 0.4rem)}
      &:after{
        @include rem-fallback(height, 1rem);
        @include rem-fallback(line-height,4rem);
        @include rem-fallback(font-size, 4rem);
        @include rem-fallback(padding-left, 0.4rem);
      }
    }
  }

  
  .uwm-testimonials-wrap &{
    background-color:transparent;
    background-image:none;
     color:$white;
     @include sotuTextShadow();   
     @include rem-fallback(font-size, 1rem);
      
    p{
      color:$white;
      @include sotuTextShadow();
      background-color:transparent;
      @include rem-fallback(font-size,1.5rem);
       @include rem-fallback(padding, 1rem, 1rem);
     
      &:before,
      &:after{
      color:$yellow-dark;
      @include sotuTextShadow();
      }
    }
   footer{
      color:$white;
      @include sotuTextShadow();   
      strong{
       color:$white;
        @include sotuTextShadow();   
      }
    }
    strong{
       color:$white;
      @include sotuTextShadow();
      @include rem-fallback(padding, 1rem, 1rem, 2rem, 1rem);   
    }      
  } 
  @media #{$large-up} {
     
    footer{
       @include rem-fallback(font-size, 1rem);
      } 
      strong{@include rem-fallback(font-size, 1rem);}
    p{
      @include rem-fallback(font-size, 1.5rem);
      @include rem-fallback(padding, 1.7rem, 5rem);
      &:before{     
      @include rem-fallback(height, 1rem);
      @include rem-fallback(line-height, 4rem);
      @include rem-fallback(font-size, 8rem);
      @include rem-fallback(padding-right, 0.4rem);
    }
      &:after{ 
        @include rem-fallback(height, 1rem);
        @include rem-fallback(line-height,8rem);
        @include rem-fallback(font-size, 8rem);
        @include rem-fallback(padding-left, 0.4rem);
      }
    }
    .uwm-article-sidebar & {
      line-height:1.2;     
       @include rem-fallback(font-size, 0.85rem);
        p{
            @include rem-fallback(font-size, 1rem);
        }
     }
   .uwm-testimonials-wrap-inline & {
      @include rem-fallback(padding, 4rem, 0.5rem); 
  }
    .uwm-testimonials-wrap &{
       color:$white;
       @include sotuTextShadow();   
       @include rem-fallback(font-size, 1.2rem);

      p{ 
        @include rem-fallback(font-size, 2rem);
        @include rem-fallback(padding, 1rem, 4rem);
      }
     footer{
        color:$white;
        @include sotuTextShadow();   
      p{@include rem-fallback(font-size, 1rem);
       }
      strong{
        @include rem-fallback(font-size, 1rem);
       }
      }
     strong{
       color:$white;
       @include sotuTextShadow();   
       @include rem-fallback(font-size, 1.2rem);
     }
    }
  }
  &.hero-blockquote{
      // @include rem-fallback(padding, 0rem);
      text-align:left;
      padding:0;
      background-color:transparent;
      background-image:none;
      background-repeat:no-repeat;
      background-position:inherit;
      background-size:inherit;
      line-height:1.4;
    p{ text-align:left;
       line-height:1.4;
       padding:0;
       &:first-of-type{
        margin:0;
       }
       &:last-of-type{
        // margin:0;
       }
       &:before{
        content:"";
        display:none;
        }
       &:after{
        content:"";
        display:none;
        } 
       &.small-block{
        font-family:$font-family-serif;
        @include rem-fallback(font-size, 0.85rem);
        font-style:italic;

       }
       &.large-block{
        font-family:$font-1451-regular;
        font-weight:bold;
        @include rem-fallback(font-size, 1.4rem);
      }
    }
    cite{
      font-family:$font-1451-regular;
      font-weight:bold;
      color:$white;
      
      margin:0;

       &:before {
       content: "";
        }
      span{
        line-height: 1.25;
        color:inherit;
        text-transform:uppercase;
        &.small-cite{@include rem-fallback(font-size, 0.75rem);

        }
        &.large-cite{@include rem-fallback(font-size, 1.4rem);}
      }
    }
    .org-wrap &,
    .env-wrap &{
       cite{
        color:$uw-black;
       } 
      }
  }
}
 
// p tags
  p{
 
    .org-wrap &{
    color:$black;  
    }
    .ahs-wrap &{
    color:$white;  
    }
    .eng-wrap &{
      color:$white;  
    }
    .art-wrap &{
      color:$white;  
    }
    .env-wrap &{
      color:$black;  
    }
    .sci-wrap &{
      color:$white;
    }
    .math-wrap &{
      color:$white;    
    }
    .uwm-article-caption &{
      @include rem-fallback(font-size, 0.85rem);
      font-family: $body-font-family;
      font-weight:400;
      display:block;
       @include rem-fallback(padding-top, 0.75rem);
       @include rem-fallback(padding-bottom, 0.5rem);
       @include rem-fallback(line-height, 1.25);
        @include rem-fallback(margin-bottom, 0rem);
      &:last-of-type{
         @include rem-fallback(padding-top, 0.5rem);
         @include rem-fallback(margin-bottom, 1rem);
      }
    }
    &.highlight,
    &.uw-highlight,
    &.lead{
      font-family: $body-font-family;
      @media #{$large-up} {

      @include rem-fallback(font-size, 1.25rem); 
      line-height:1.45;
       // font-size: $h2-font-size;
      } 
    }
     
    &.uwm-hero-sub-headline{
      font-family:$font-family-sans-condensed-bold;
      font-weight: 600;
      font-size: $h2-font-size - $h2-font-reduction;
      text-transform: uppercase;
      letter-spacing: -1px;

      span{
         // font-weight:600;
        }
     @media #{$medium-up} {
        @include rem-fallback(font-size,1.625rem);
       
      } 
   
      @media #{$large-up} {
        @include rem-fallback(min-height,3.625rem);
       font-size: $h2-font-size;
      } 
      color:$black;
      line-height:1;
      // @include sotuTextShadow();
      }
     &.uwm-hero-teaser{
      // font-family:$font-family-sans-condensed-bold;
      color:$white;
     

      span{
         font-weight:600;
        }
      @media #{$large-up} {
        @include rem-fallback(font-size, 1.5rem);
      } 
        // @include sotuTextShadow();
      }
    &.uwm-article-sub-headline{
      font-family:$font-family-sans-condensed-bold;
      font-weight: 600;
      font-size: $h2-font-size - $h2-font-reduction;
      text-transform: uppercase;
      color:$black;
      line-height:1;
      letter-spacing: -1px;
      @media #{$large-up} {
          font-size:$h2-font-size;
      } 
    }  
    &.uwm-related-sub{
      font-family:$font-1451-regular;
      font-weight:bold;
      background-color:$uw-gold;
      display:block;
      @include rem-fallback(padding, 0.25rem,0.5rem);
      // text-transform:uppercase;
      line-height:1;
      // @include rem-fallback(margin, 0.5rem,0, 0.5rem, 0);
      @include rem-fallback(font-size, 0.75rem);
      span{
          // font-weight:600;
        
        }
    }

  }



.uwm-article-quad-footer{
      font-family:$font-family-sans-condensed-bold;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -1px;
      color:$gray;
       @include rem-fallback(padding-top, 0.5rem);
        font-size: $h3-font-size - $h3-font-reduction;
         @media #{$large-up} {
          font-size: $h3-font-size ;  
        } 
      }
// span headlines
  .uwm-feature-hp-sub,
  .uwm-pub-cat-sub-headline{
        margin:0;
        @include rem-fallback(padding, 0,0, 0.5rem, 0);
        font-family:$font-family-sans-condensed;
        font-weight:300;
        line-height:1.2;
        @include rem-fallback(font-size, 1.500rem);
        display:block;
       span{
          // font-weight:600;
        }
  }
  .uwm-sub-text{
    text-transform:uppercase;
    display:block;
    @include rem-fallback(font-size, 1.125rem);
    line-height:1.2;
    text-align:center;
    span{
        font-weight:600;
      
      }
   }
  .uwm-feature-hp-teaser{
    display:block;
    @include rem-fallback(padding, 0,0, 0.75rem,0);
  }
  .uwm-secondary-sub{
    display:block;
    font-family:$font-family-sans-condensed;
    font-weight:300;
    // text-transform:uppercase;
    line-height:1.2;
    @include rem-fallback(margin, 0.5rem,0, 0.5rem, 0);
    @include rem-fallback(font-size, 1.125rem);
    padding: 0;
    span{
        // font-weight:600;
      
      }
  }
  hr{
      @include rem-fallback(margin, 0.45rem, 0, 0.5em,0);
      @media #{$large-up} {
         @include rem-fallback(margin, 1.25rem, 0, 1.1875rem,0);
          
       }
    }

// main content wrapper
  .uwm-main-content{
     // @include rem-fallback(padding-bottom, 3rem);
      z-index:map-get($zindex, content);
      background:transparent;
    // .showmark &{
    //   @include rem-fallback(padding-top, 1rem);
    // }
    .uwm-right {
      width: 100%;
      position: relative;
      @media #{$xlarge-up} { 
      width:60%;
      overflow:scroll;
      position: absolute;
      right: 0;
      bottom: 0;
      top:0;
      padding-top:5rem;
      // top: 5rem;
      // background:olive; 
       }
      @media #{$xxxlarge-up} {
         width:50%;
     }
     .uwm-rt{
      height:auto;
      display:block;
     }
    }
    .uwm-left {
      position: static;
      width: 100%;
        @media #{$xlarge-up} {
        position: absolute;
        // top: 5rem;
        top:0;
        // padding-top:5rem;
        bottom: 0;
        left: 0;
        width: 40%; 
        // background:green;
        @media #{$xxxlarge-up} {
         width:50%;
        }
      } 
    }
  }
  .uwm-left{
     @include rem-fallback( margin-top, 10rem);
     &.menu-open{
      margin-top:0;
     }
       @media #{$xlarge-up} {
        margin-top:0; 
      }
  }
  .uwm-main-content-wrapper{
//    @include rem-fallback( padding-top, 4.500rem);
      position: relative;
      @include rem-fallback(min-height, 40.000rem);
      z-index:map-get($zindex, wrapper);

  }
.uwm-prev-next-articles-wrap,
.uwm-related-articles-wrap,
.uwm-testimonials-wrap-inline
{
  @include rem-fallback(margin-top, 2rem);
  @include rem-fallback(margin-bottom, 2rem);
}
// waterloo marks

//404
  .uwm-404-wrap{
     background: url(../images/404.png)  no-repeat 40% center;
     background: url(../images/404.svg)  no-repeat 40% center;
     background-size:75%;
    }
.beyond-innovation{
  display:block;
  clear:both;
  a {
      .uwm-sotu-connection,
      .uwm-sotu-education,
      .uwm-sotu-entrepreneurial,
      .uwm-sotu-equity,
      .uwm-sotu-research,
      .uwm-sotu-forward,
      .uwm-sotu-education {
        padding:0.5rem;
        min-height:12rem;
        margin-bottom:1rem;
        span{
          color:#000;
        }
        p{
          font-family:$font-1451-regular;
          font-weight:bold;
          // line-height:1.25;
          @include rem-fallback(font-size, 0.85rem);
        }

          padding:0.5rem;
     
      }
      &:hover,
      &:focus{
      .uwm-sotu-connection,
      .uwm-sotu-education,
      .uwm-sotu-entrepreneurial,
      .uwm-sotu-equity,
      .uwm-sotu-research,
      .uwm-sotu-forward,
      .uwm-sotu-education {
        color:$white;
        background:#000;
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        span{
          color:$white;
          }
        }
        
        
      }
  }
  h2{
   &.uwm-connections,
   &.uwm-entrepreneurial,
   &.uwm-education,
   &.uwm-research,
   &.uwm-equity,
   &.uwm-forward{

      margin-top:0.75rem;
    }
  }
}
