// hero{
  .uwm-hero{
    position:relative;
    height:100%;
  }
  .uwm-hero-feature{
    // @include rem-fallback(height, 20rem);
    height: 100%;
    position:relative;
    background-color:$middle-gray;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    width:100%;
     @media #{$small-up} {
        @include rem-fallback(height, 32rem);
      } 
      @media #{$medium-up} {
            // @include rem-fallback(height, 26.500rem);
         }
        @media #{$large-up} {
          
            // @include rem-fallback(height, 42.500rem);
            @include rem-fallback(height, 42.500rem);
         }
            @media #{$xlarge-up} {
               height:100%;
        //   // @include rem-fallback(height, 37.500rem);
          // @include rem-fallback(height,  42.500rem);
        }
    a:hover,
    a:focus {
      text-decoration: none;
    }
    // float:left;
  }
  .uwm-hero-info{
    height:auto;
    clear:both;    
    // text-align:center;
    // @include vertical-align();
      @include rem-fallback(padding-top,  2rem);
      @media #{$medium-up} {
         // @include rem-fallback(padding-top,  7.8rem);
       }
      @media #{$xlarge-up} {
           @include rem-fallback(padding-top,  6rem);

     }
     @media #{$xlarge-up} {
          // max-width:70rem;
          // margin-left:auto;
          // margin-right:auto;
          

     }
    .uwm-hero-sub-headline{
      position:relative;
      text-transform: uppercase;
       span{
         font-weight:600;
        }
      @media #{$medium-up} {
        // position:absolute;
        // left:50%;
        // top:30%;
        // margin-left:-325px;
        // width:650px;
        // overflow:hidden;

      }
    }
   
  }