$highlighted-fact-bg-color:$light-gray !default;
$highlighted-fact-color:$uw-black;

//fonts
$highlighted-fact-font:$body-font-family;
$highlighted-fact-font-big:$font-family-sans-condensed-bold;
$highlighted-fact-font-medium:$body-font-family;
$highlighted-fact-font-small:$font-1451-medium;
$highlighted-fact-font-caption:$font-family-serif;

//appearance
$global-radius: 3px;
$global-rounded: 1000px;
$highlighted-fact-radius: $global-radius;
$highlighted-fact-round:$global-rounded;

$color-ff: 
uwaterloo #fffaaa #ffea30 #fdd54f $dark-gray,
ahs #97DFEF #00BED0 #0098A5 #005963,
arts #FFD5A5 #FBAF00 #E78100 #D93F00,
engineering #D0B4EF #BE33DA #8100B4 #57058B,
environment #DAF582 #BED500 #B4BE00 #607000,
math #FFBEEF #FF63AA #DF2498 #C60078,
science #B4D5FF #63A0FF #0073CE #0033BE,
org_school #FFA5AA #E41740 #B71233 #80001F,
org_cgc #FFA5AA #E41740 #B71233 #80001F,
org_ren #FFA5AA #E41740 #B71233 #80001F,
org_stj #FFA5AA #E41740 #B71233 #80001F,
org_stp #FFA5AA #E41740 #B71233 #80001F;


//ul 
.highlighted-fact{
  
    margin-right:5px;
    margin-left:5px;
    
  }
  .owl-item{
    &:first-child{
      margin-left:0;
    }
  }
[data-highlighted-carousel]{
  width:100%;
  display:block;
  float:left;
  height:auto;
  margin:0;
  position:relative;
  @include rem-fallback(margin-bottom, 3rem);
 
  list-style-type:none;
  clear:both;
  .uwm-article-body &{ padding:0; 

  }
}
.data-usecarousel,
.data-numberpercarousel,
{
  visibility:hidden;
  height:0;
}

%highlighted-fact {

  text-align:center;
  font-weight:300;
  border-radius: $highlighted-fact-radius + 10;
  display: block;
  @include rem-fallback(padding, 1rem);
  position:relative;
  min-height:20rem;
  img{
    margin:0 auto;
    @include rem-fallback(margin-bottom, 1rem);
    display:block;
     height: 6rem;
    width: auto;
   
  }
  &.no-icon {
    span{
      &:first-child{
         margin-top:4rem;
      }
    }
  }
  span{
    text-align:center;
    clear:both;
    float:none;

  }
}


.highlighted-fact-tall{
  border-top:1px solid $gray;
  color:$gray;
  @include rem-fallback(padding-top, 3rem);
  span{display:block;}
  // ul{  list-style:disc outside url(../images/small-chevron-yellow.png);
  //      list-style:disc outside url(../images/small-chevron-yellow.svg);
  // }
  @media #{$medium-up}
  {
    @include rem-fallback(padding-left, 1.5rem);
   border-top:1px solid $white;
   border-left:1px solid $gray;
  }
}

.highlighted-fact{
  @extend %highlighted-fact;
 @each $color in $color-ff {
     &.#{nth($color, 1)} {
      .black &{
        $highlighted-fact-bg-color:$black;
        background-color:$highlighted-fact-bg-color;  
        .highlighted-fact-text-big,.highlighted-fact-text-medium,.highlighted-fact-caption{
          color:nth($color, 3);
        }
        .highlighted-fact-caption{
           a{
            color:nth($color, 2);
           }
        }
        .highlighted-fact-text-small{
          background-color:nth($color, 3);
          color:$highlighted-fact-bg-color;
        }
      }
      .grey &{
        $highlighted-fact-bg-color:$lighter-gray;
        background-color:$highlighted-fact-bg-color;  
        .highlighted-fact-text-big,.highlighted-fact-text-medium,.highlighted-fact-caption{
          color:nth($color, 5);
        }
        .highlighted-fact-text-small{
          background-color:nth($color, 5);
          color:$highlighted-fact-bg-color;
        }
         .highlighted-fact-caption{
           a{
            color:nth($color, 5);
           }
        }

      }
      .white &
      {
        $highlighted-fact-bg-color:$white;
        background-color:$highlighted-fact-bg-color;  
        .highlighted-fact-text-big,.highlighted-fact-text-medium,.highlighted-fact-caption{
          color:nth($color, 4);
        }
        .highlighted-fact-text-small{
          background-color:nth($color, 4);
          color:$highlighted-fact-bg-color;
        }
         .highlighted-fact-caption{
           a{
            color:nth($color, 5);
           }
        }
      }

    }

  }

  .text-left &,
  &.text-left{
    img{
      float:left;
      clear:both;
    }
     span{
      text-align:left;
      display:block;
      clear:left;
    } 
  }
  .text-center &,
  &.text-center{
    span{
    text-align:center;
    display:block;
    clear:both;
   }
  }
 .text-right &,
  &.text-right{
    img{
      margin:0;
      float:right;
      clear:both;
    }
    span{
     text-align:right;
      display:block;
      clear:right;
    }
  }
  &.img-left{
   img{
      float:left;
    }
     span{
      text-align:left;
      display:block;
      clear:none;
    }
  }
  &.img-right{
   img{
      float:right; 
    }
     span{
      text-align:right;
      display:block;
      clear:none;
    }
  }
}



.highlighted-fact-text-big{
  font-family:$highlighted-fact-font-big;
  @include rem-fallback(font-size, 3.750rem);
  font-weight:600;
  line-height:1.2;
  hyphens: none;
}
.highlighted-fact-text-medium{
  font-family:$highlighted-fact-font-medium;
  @include rem-fallback(font-size, 1.500rem);
  font-weight:300;
  line-height:1.2;
  padding: 0.25rem 0rem;
  hyphens: none;

}
.highlighted-fact-text-small{
  font-family:$highlighted-fact-font-small;
  @include rem-fallback(font-size, 1.125rem);
 line-height:1.25;
  padding: 0.25rem 0rem;
  margin:1rem auto;
  padding:0.5rem 1.25rem;
  hyphens: none;
  width:auto;
  display:inline-block !important;


}
.highlighted-fact-caption{
  font-family:$highlighted-fact-font;
  @include rem-fallback(font-size, 0.875rem);
  line-height:1.2;
  @include rem-fallback(padding, 0.25rem,0rem);

}
  .owl-item{
      &:nth-child(odd){
        &::after{
           border-bottom: 1.5rem solid $highlighted-fact-bg-color;
          .black &{
           $highlighted-fact-bg-color:$black;
            border-bottom: 1.5rem solid $highlighted-fact-bg-color;
          }
          .white &{
           $highlighted-fact-bg-color:$white;
            border-bottom: 1.5rem solid $highlighted-fact-bg-color;
          }
         }
        }
        &:nth-child(even){
          &::after{
          border-top: 1.5rem solid $highlighted-fact-bg-color;
            .black &{
             $highlighted-fact-bg-color:$black;
               border-top: 1.5rem solid $highlighted-fact-bg-color;
            }
            .white &{
             $highlighted-fact-bg-color:$white;
              border-top: 1.5rem solid $highlighted-fact-bg-color;
            }
          }
        }
  }