

  .uwm-feature-hp-block{
     // @include rem-fallback(min-height, 40rem); 
  }
.uwm-feature-hp-teaser {
  .uwm-hero-button,
  .button{
    // display:none;
  }
}
.uwm-homepage-links{
   
  a{
    color: $black;
    background: $uw-gold;
    text-align:center;
    margin:0 1rem;
    padding:1rem;
    text-transform: uppercase;
    display:block;
    @include rem-fallback(font-size, 1.5rem);
    font-family:$button-font-family;
    &:first-child{
      margin-left:0;
    }
    &:last-child{
      margin-right:0;
    }
    
  }
}
// Top Featured Stories in wide view

  .uwm-feature-hp-list{
    padding:0;
    margin:0;
    list-style:none;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // justify-content: space-between;
    li{
      padding:0;
      display:block;
      display: inline-block;
      width: calc(50%);
      @media #{$medium-up} {
       width: calc(50%);
      } 
      @media #{$large-up} {
       width: calc(33%);
      } 
      position:relative;
      // @include rem-fallback(margin-top, 0.5rem);
      // @include rem-fallback(margin-bottom, 0.5rem);
      a.uwm-feature-hp-alias{
        text-decoration:none;
        display:block;
        // @include borderEffect(1px, $white, $white, $white, 0px);
        // @include borderBoxHover($light-gray, $white);
        &:hover{
        text-decoration:none;
        // @include borderEffect(1px, $gray, $light-gray,$white, 0px);
        // @include borderBoxHover(#aaaaaa, $light-gray);
        }
       }
      &.hide-feature{
         display:none;
       }
      @media #{$large-up} {
        // @include rem-fallback(margin-bottom, 3.125rem); 
      }  
    }
  }
  .uwm-feature-hp-info{
    position:absolute;
    bottom:0.5rem;
    left:0.5rem;
    background:$uw-gold;
    color:$black;
     p{
       font-family:$font-1451-bold;
       margin:0;
      @include rem-fallback(font-size, 0.75rem);
      @include rem-fallback(padding,0.1rem , 0.25rem);
     }
    // @include rem-fallback(min-height, 9.813rem);
    // @include rem-fallback(padding, 0rem,0.25rem);
    @media #{$large-up} {
            // @include rem-fallback(padding, 0rem,1rem);
        }
    z-index:10;
  }
  .uwm-feature-hp-img{
    height:auto;
    overflow:hidden;
    position:relative;
    // -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; 
    // -webkit-box-shadow:rgba(0, 0, 0, 0.2) 1px 1px 1px;
    // box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    background-color:$entry-bg-color;
    &:hover > ::after{
        right:1000px;
      }
    img{
      width:100%;
      display:block; 
    } 
  }
  .uwm-secondary-list{
   list-style:none;
     li{
        &.hide-cat{
           display:none;
      }
     }
   // display of the shadowed boxes
    .ng-enter &,.ng-enter-active &{
        li{
        &.hide-cat{
          .uwm-secondary-meta{
             background-color:$entry-bg-color;
          }
          .uwm-secondary-img{
             background-color:$entry-bg-color;
              @include rem-fallback(min-height, 14.06rem);
            
          }
          .uwm-secondary-info{
            h3{
              background-color:$entry-bg-color;
              display:block;
              @include rem-fallback(height, 3rem);
             }
             span.effect{
              background-color:$entry-bg-color;
              display:block;
              @include rem-fallback(height, 1rem);
              @include rem-fallback(margin-bottom, 1rem);
             }
          }
          display:block;
        }
      }
    }
  }
  .more-feature {
    text-align: center;
    .button {
      background-color: $black;
    }
  }
  
  // secondary stories
  .uwm-secondary-block{
     @include rem-fallback(min-height, 40rem); 
  }
  .uwm-secondary-wrap{
    @media #{$large-up} {
      [class*="block-grid-"] > li { 
      @include rem-fallback(padding,  0 , 1.25rem, 0, 1.25rem);
      }
    }   
  }
  .uwm-secondary-wrap{}
  .uwm-secondary-list {list-style:none;}
  .uwm-secondary-hp{
    @include rem-fallback(margin-bottom, 3rem);
  }
  .uwm-secondary-meta{

    @include rem-fallback(height, 2.813rem);
    @include rem-fallback(line-height, 2.813rem);
    @include rem-fallback(padding-left, 1rem);
    font-family:$font-family-sans-condensed-bold;
    font-weight:300;
    text-transform:uppercase;
    background-color:$faculty-color;
    width:100%;
    @media #{$medium-up} {
      width:60%;
    }
    a{
       
    } 
  }
  .uwm-secondary-img{
    float:left;
    height:100%;
    position:relative;
    overflow:hidden;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    img{
      width:100%;
      display:block;
    }
    &:after{
      content:"";
      position:absolute;
      background:url(../images/chevron-white-up.svg) no-repeat 0 0;
      background-size:contain;
      left:0.2rem;
      display:block;
      @include rem-fallback(left, 0.8rem);
      @include rem-fallback(bottom, -0.4rem);
      @include rem-fallback(height, 1rem);
      @include rem-fallback(width, 1rem);
    }  
  }
  .uwm-secondary-info{
    @include rem-fallback(margin, 0.5rem,0, 1rem, 0);
    float:left;
  }
