// publication category

// hide html from the teaser section on term pages
.uwm-term-page{
  .uwm-term-page-hide{
    display:none;
  }
}
  .uwm-publication-category-wrap{
    overflow:hidden;
  }
  .uwm-publication-category-wrap .row .columns .row {
     // @include rem-fallback(margin-bottom, 4rem);
  }
  .uwm-pub-cat{
        [class*="block-grid-"] > li {
          // display: block;
          // float: left;
          // height: auto;
          // @include rem-fallback(padding,  0);
            // @include rem-fallback(margin-top, 1rem);
        }
         @media #{$large-up} {
          // @include rem-fallback(padding,  0, 0.625rem, 1.25rem);
          [class*="block-grid-"]{ 
            // @include rem-fallback(margin-top, 2.3rem);
          }
    ul{
      list-style:none;
      padding:0;
      margin:0;
        
        }  
    }
  }
  .uwm-pub-cat-img{
    display:block;
    height:auto;
    position:relative;
    width:100%;
    overflow:hidden;
    // -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
    // -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    // box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    @media #{$large-up} {
        display:block;
        @include rem-fallback(max-height, 18.750rem);

      }
     &::after{
      content:"";
      position:absolute;
      background:url(../images/chevron-large.svg) no-repeat 100% 0;
      background-size:contain;
      display:block;
      height:100%;
      opacity:0.5;
      width:100%;
      @media #{$medium-up} {

       
      }  
      @media #{$large-up} {
      
      
      }
     
    } 
  }
  .uwm-pub-cat-listing{
    @include rem-fallback(margin-bottom, 5rem);
    @include rem-fallback(padding, 1.5rem);
    .button{
      display:none;
    }
    a{
     display:inline-block;
      &.uwm-pub-cat-listing-alias{
        display:block;
      @include borderEffect(1px, $white, $white, $white, 0px);
        &:hover, &:focus{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);
        }
      }
    }
      // &.uwm-pub-alias{
      //   border:1px solid $white;
      //   background:$white;
      //   -webkit-transition: border-color 0.35s, -webkit-transform 0.35s;
      //   -moz-transition: border-color 0.35s, -moz-transform 0.35s;
      //   transition: border-color 0.35s, transform 0.35s;
      //   -moz-box-shadow: rgba(0, 0, 0, 0) 1px 1px 1px; 
      //   -webkit-box-shadow:rgba(0, 0, 0, 0) 1px 1px 1px;
      //   box-shadow: rgba(0, 0, 0, 0) 1px 1px 1px;
      //   &:hover{
      //     border:1px solid $gray;
      //     background:$light-gray;
      //     -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px; 
      //     -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0px 0px 10px;
      //     box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
      //     text-decoration: none; 
      //   } 
      // }
    @media #{$large-up} {
       // @include rem-fallback(margin-bottom, 5rem);
    }   
  }
 .uwm-pub-cat-info{
     @include rem-fallback(padding, 1rem , 1.5rem);
      @media #{$large-up}{
       @include rem-fallback(padding, 1rem , 2rem);
    }
 } 
 .uwm-pub-cat-headline{
    margin:0;
   
  }
  .uwm-pub-cat-sub-headline{
    // see _global.scss
  }
  .uwm-pub-cat-exerpt{ 
    margin:0;
    @include rem-fallback(line-height, 1.5rem);
    font-weight:300;
  }
  .uwm-pub-cat-meta{
  
      @media #{$medium-up}{
        @include rem-fallback(margin-top, 1rem);
    }
  }
  .uwm-pub-cat-issue{

  }
   .uwm-pub-cat-issue, .uwm-pub-cat-name,.uwm-pub-cat-theme,.uwm-pub-cat-type{
    font-family:$header-font-family;
    font-weight:300;
    color:$gray; 
    display:block;
    text-transform:uppercase;
    line-height:1; 
    @include rem-fallback(margin, 0.6rem,  0.6rem , 0.6rem, 0rem);
    strong{
      font-weight:700;
    }
    a{
     
      font-weight:400;
       &.archive{
        background:$middle-gray;
        @include rem-fallback(padding, 0.125rem);
      }
    }
    span{
      font-weight:400;
    }
    @media #{$medium-up}{
      line-height:1.25;

    }
    @media #{$large-up}{
      display:inline;
      @include rem-fallback(margin, 0rem,  0.6rem ,0rem, 0rem);
    }
  }
  .uwm-pub-cat-exerpt {
    .uwm-hero-teaser{
      .uwm-hero-sub-headline{
        &.gold{
          color:$black
          }
        font-family:$body-font-family;
        line-height: 1.5rem;
        font-weight: 300;
        font-size: 1rem;
        color:$black;
        text-transform:inherit;
         -webkit-text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
        -moz-text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
        text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
        letter-spacing:inherit;


      }
    }

  }