<?php require 'template-prepend.inc'; ?>
    <div class="uwm-on-this-page">
      <div class="row">
        <div class="uwm-issue-title small-11  small-centered medium-10 columns four-title">
          <h1 class="small-10 small-centered columns">404 - PAGE NOT FOUND</h1>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="uwm-web-page uwm-404-wrap medium-11 medium-centered columns">
          <div class="uwm-404">
            <h2>Oops! The page you are looking for could not be found.</h2>
            <p>This may be due to a broken link, a mistyped URL or an outdated search result. You can try starting from the <a href="<?php print $base_path; ?>" target="_self">Homepage</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- If pub type is publication then show -->
  <div data-ng-if="pubType === 'publication'" id="main" role="main" class="uwm-main-content-wrapper">
    <div role="document" id="uwm-main-content" class="uwm-main-content uwm-animate">
      <div class="uwm-issue-title four-title">
        <h1 class="small-10 small-centered medium-5 columns">404 - PAGE NOT FOUND</h1>
      </div>
      <div class="row">
        <div class="uwm-web-page uwm-404-wrap medium-11 medium-centered columns">
          <div class="uwm-404">
            <h2>Oops! The page you are looking for could not be found.</h2>
            <p>This may be due to a broken link, a mistyped URL or an outdated search result. You can try starting from the <a href="<?php print $base_path; ?>" target="_self">Homepage</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- If pub type is report then show -->
  <div data-ng-if="pubType === 'report'" role="main" class="uwm-main-content-wrapper">
    <div class="row">
      <div class="uwm-issue-title four-title">
        <h1 class="small-10 small-centered medium-5 columns">404 - PAGE NOT FOUND</h1>
      </div>
      <div class="uwm-web-page uwm-404-wrap medium-11 medium-centered columns">
        <div class="uwm-404">
          <h2>Oops! The page you are looking for could not be found.</h2>
          <p>This may be due to a broken link, a mistyped URL or an outdated search result. You can try starting from the <a href="<?php print $base_path; ?>" target="_self">Homepage</a></p>
        </div>
      </div>
    </div>
    <div data-ui-view role="document" class="uwm-main-content anim-in-out anim-fade " data-anim-speed="150"></div>
  </div>
  <!-- If pub type is sotu3 then show -->
  <div data-ng-if="pubType === 'sotu3'" role="main" class="uwm-main-content-wrapper">
    <div class="uwm-main-content anim-in-out anim-fade ">
      <style data-ng-style>
        .uwm-article-cover-parallax {background-image: url('apps/uw_publication/images/sotu3hero-540.jpg');}
        @media only screen and (min-width: 48.063em){
          .uwm-article-cover-parallax {background-image: url('apps/uw_publication/images/sotu3hero.jpg');}
        }
      </style>
      <div id="article-parallax" class="uwm-left uwm-article-cover-parallax">
        <div class="uwm-hero-info row">
          <div class="uwm-hero-heading small-12 columns">
            <h2 class="uwm-hero-headline"><span>beyond</span> Innovation</h2>
          </div>
          <div class="small-12 columns">
            <div data-ng-if="pubType ==='sotu3'" class="uwm-issue-title-small">
              <div class="org-wrap">
                <p>2016-17 STATE OF THE UNIVERSITY REPORT</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uwm-right">
        <div class="row">
          <div class="uwm-issue-title four-title">
            <h1 class="small-10 small-centered medium-5 columns">404 - PAGE NOT FOUND</h1>
          </div>
          <div class="uwm-web-page uwm-404-wrap medium-11 medium-centered columns">
            <div class="uwm-404">
              <h2>Oops! The page you are looking for could not be found.</h2>
              <p>This may be due to a broken link, a mistyped URL or an outdated search result. You can try starting from the <a href="<?php print $base_path; ?>" target="_self">Homepage</a></p>
            </div>
          </div>
        </div>
        <footer data-ng-if="pubType === 'sotu3'" id="uwm-footer">
          <div class="uwm-footer row full-width">
            <div class="uwm-footer-inner row">
              <div class="small-12 columns"><a class="uwm-top-link" href="javascript:void(0);" onClick="uwmScrollTopSOTU();">^</a></div>
              <div class="small-10 small-centered medium-6 large-3 large-uncentered columns no-padding-right" data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }">
                <div class="uwm-affiliate-title ">
                  <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" data-ng-bind-html="metaData().settings.faculty_or_dept"></a>
                </div>
                <div class="uwm-affiliate-logo">
                  <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
                    <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" />
                  </a>
                </div>
                <div id="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
                  <div class="element-hidden">
                    <div property="v:fn">University of Waterloo</div>
                    <div rel="v:org">
                      <div property="v:organisation-name">University of Waterloo</div>
                    </div>
                    <div rel="v:geo">
                      <div property="v:latitude">43.471468</div>
                      <div property="v:longitude">-80.544205</div>
                    </div>
                  </div>
                  <div rel="v:adr">
                    <div property="v:street-address">200 University Avenue West</div>
                    <div>
                      <span property="v:locality">Waterloo</span>,
                      <span property="v:region">ON</span>,
                      <span property="v:country-name">Canada</span>&nbsp;
                      <span property="v:postal-code">N2L 3G1</span>
                    </div>
                  </div>
                  <div class="uw-footer-phone" rel="v:tel">
                    <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
                  </div>
                </div>
              </div>
              <div class="small-8 small-centered medium-6 large-6 large-uncentered columns no-padding ">
                <nav class="uwm-footer-nav" data-ng-controller="FooterMenuController">
                  <ul>
                    <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
                  </ul>
                </nav>
              </div>
              <div class="small-12 small-centered medium-8 large-3 large-uncentered columns ">
                <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade delay1500 uwm-subscribe-button">
                  <a class="button" href="{{ metaData().settings.subscription_link }}">Contact Us</a>
                </div>
                <div data-ng-if="metaData().settings.subscription_link == NULL" class="uwm-social-links">
                  <ul>
                    <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                      <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="uwm-social row full-width">
            <div class="uwm-social-inner row">
              <div data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}" class="uwm-social-tag small-12 large-offset-4 large-4 columns">
                <a href="https://twitter.com/search?q=%23UWaterlooBeyond">#UWaterlooBeyond</a>
              </div>
              <div data-ng-if="metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 columns in-social-bar">
                <div data-ng-if="metaData().settings.subscription_link != NULL" class="uwm-social-links">
                  <ul>
                    <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                      <a href="{{ value }}"><span class="icon icon-{{ key }} "></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <!--/ main-->

  <!--footer-->
<!-- If pub type is publication and report, then show -->
<footer data-ng-if="pubType === 'publication' || pubType === 'magazine' || pubType === 'report'" id="uwm-footer">
  <div class="uwm-footer row full-width">
    <div class="uwm-footer-inner row">
      <div class="small-12 columns"><a class="uwm-top-link" href="#skip-link"><abbr title="Back to top">^</abbr></a></div>
      <div class="small-10 small-centered medium-8 large-3 large-uncentered columns" data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }">
        <div class="uwm-affiliate-title ">
          <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" data-ng-bind-html="metaData().settings.faculty_or_dept"></a>
        </div>
        <div class="uwm-affiliate-logo">
          <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
            <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" />
          </a>
        </div>
        <div class="uwm-university-logo">
          <a class="uwm-footer-uw-link" href="https://uwaterloo.ca/">
            <img data-ng-src="apps/uw_publication/images/uw-logo-white-h.png" alt="University of Waterloo Logo" />
          </a>
        </div>
      </div>
      <div class="small-8 small-centered medium-6 large-6 large-uncentered columns ">
        <nav class="uwm-footer-nav" data-ng-controller="FooterMenuController">
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 ">
            <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
          </ul>
        </nav>
      </div>

      <div class="small-12 small-centered medium-8 large-3 large-uncentered columns ">
        <div data-ng-if="metaData().settings.social != NULL && metaData().settings.subscription_link == NULL" class="uwm-social-links">
          <ul>
            <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
              <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
            </li>
          </ul>
        </div>
        <div data-ng-if="metaData().settings.social != NULL && metaData().settings.subscription_link != NULL && pubType != 'magazine'" class="uwm-social-links">
          <ul>
            <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
              <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
            </li>
          </ul>
        </div>

        <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade delay1500 uwm-subscribe-button">
          <a class="button" href="{{ metaData().settings.subscription_link }}">Subscribe</a>
        </div>

        <div data-ng-if="pubType === 'magazine'" class="fade delay1500 uwm-support-button">
          <a class="button" href="https://uwaterloo.ca/support/supporting-waterloo/ways-give">Support Waterloo</a>
        </div>
      </div>

    </div>
  </div>
  <div class="uwm-social row full-width">
    <div class="uwm-social-inner row">
      <div data-ng-if="pubType === 'publication' || pubType === 'magazine' && metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 large-offset-4 columns in-social-bar">
        <div data-ng-if="pubType === 'report'" data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}" class="uwm-social-tag small-12 large-offset-4 large-4 columns">
          <a href="https://twitter.com/search?q=%23UWATERLOOINNOVATION">#uwaterlooinnovation</a>
        </div>

      </div>
      <div data-ng-if="pubType === 'publication' || pubType === 'magazine'" class="uwm-login text-center small-12 columns">
        <div class="uwm-social-bottom small-12 medium-6 columns" data-ng-if="pubType === 'magazine' && metaData().settings.subscription_link != NULL">
          <div data-ng-if="metaData().settings.social.twitter != NULL || metaData().settings.social.facebook != NULL || metaData().settings.social.instagram != NULL || metaData().settings.social.linkedin != NULL || metaData().settings.social.youtube != NULL || metaData().settings.social.vimeo != NULL" class="uwm-social-links bottom-row">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="uwm-footer-login medium-centered text-center medium-6 small-12 columns" data-ng-class="{'sub':metaData().settings.subscription_link != NULL, 'no-sub':metaData().settings.subscription_link == NULL}">
          <?php print $login_link; ?>
        </div>

      </div>
      <?php require 'template-append.inc';

