<?php require 'template-prepend.inc'; ?>
  <div role="document" id="uwm-main-content" class="uwm-main-content uwm-animate" data-ui-view></div>
  </div>
  <!-- If pub type is publication then show -->
  <div data-ng-if="pubType === 'publication'" id="main" role="main" class="uwm-main-content-wrapper">
    <div role="document" id="uwm-main-content" class="uwm-main-content uwm-animate" data-ui-view></div>
  </div>
  <!-- If pub type is report then show -->
  <div data-ng-if="pubType === 'report'" role="main" class="uwm-main-content-wrapper">
    <div data-ui-view role="document" class="uwm-main-content anim-in-out anim-fade " data-anim-speed="150"></div>
  </div>
  <!-- If pub type is sotu3 then show -->
  <div data-ng-if="pubType === 'sotu3'" role="main" class="uwm-main-content-wrapper">
    <div data-ui-view role="document" class="uwm-main-content anim-in-out anim-fade " data-anim-speed="150"></div>
  </div>
  <!--/ main-->

  <!--footer-->
  <!-- If pub type is magazine then show -->
  <footer data-ng-if="pubType === 'Smagazine'" id="uwm-footer">
    <div class="uwm-footer row full-width">
      <div class="uwm-footer-inner row">
        <div class="small-12 small-centered large-3 large-uncentered columns">
          <a class="uwm-logo-link" href="/"><div class="uwm-logo"></div></a>
        </div>
        <div class="small-8 small-centered large-6 large-uncentered columns">
          <nav class="uwm-footer-nav" data-ng-controller="FooterMenuController">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 ">
              <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
            </ul>
          </nav>
        </div>
        <div class="small-8 small-centered large-3 large-uncentered colapse columns">
          <div class="uwm-subscribe-button">
            <a class="button" href="https://uwaterloo.ca/alumni/opt-digital-version-university-waterloo-magazine">Subscribe</a>
          </div>
          <div class="uwm-support-button">
            <a class="button" href="https://uwaterloo.ca/support/supporting-waterloo/ways-give">Support Waterloo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="uwm-social row full-width" id="footer">
      <div class="uwm-social-inner row">
        <div class="uwm-social-links small-12 small-centered columns">
          <a class="uwm-top-link" onclick= "uwmScrollTop()" href="#skip-link"><abbr title="Back to top">^</abbr></a>
          <ul>
            <li><a href="https://www.facebook.com/{{metaData().settings.facebook}}"><i class="fi-social-facebook step size-28"></i><span class="show-for-sr">facebook</span></a></li>
            <li><a href="https://www.youtube.com/user/{{metaData().settings.youtube}}"><i class="fi-social-youtube step size-28"></i><span class="show-for-sr">youtube</span></a></li>
            <li><a href="https://twitter.com/{{metaData().settings.twitter}}"><i class="fi-social-twitter step size-28"></i><span class="show-for-sr">twitter</span></a></li>
            <li><a href="https://instagram.com/{{metaData().settings.instagram}}"><i class="fi-social-instagram step size-28"></i><span class="show-for-sr">instagram</span></a></li>
            <li><a href="https://www.linkedin.com/company/{{metaData().settings.linkedin}}"><i class="fi-social-linkedin step size-28"></i><span class="show-for-sr">linkedin</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- If pub type is publication and report, then show -->
  <footer data-ng-if="pubType === 'publication' || pubType === 'magazine' || pubType === 'report'" id="uwm-footer">
    <div class="uwm-footer row full-width">
      <div class="uwm-footer-inner row">
        <div class="small-12 columns"><a class="uwm-top-link" onclick= "uwmScrollTop()" href="#skip-link"><abbr title="Back to top">^</abbr></a></div>
        <div class="small-10 small-centered medium-8 large-3 large-uncentered columns" data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }">
          <div class="uwm-affiliate-title ">
            <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" data-ng-bind-html="metaData().settings.faculty_or_dept"></a>
          </div>
          <div class="uwm-affiliate-logo">
            <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
              <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" />
            </a>
          </div>
          <div class="uwm-university-logo">
            <a class="uwm-footer-uw-link" href="https://uwaterloo.ca/">
              <img data-ng-src="apps/uw_publication/images/uw-logo-white-h.png" alt="University of Waterloo Logo" />
            </a>
          </div>
        </div>
        <div class="small-8 small-centered medium-6 large-6 large-uncentered columns ">
          <nav class="uwm-footer-nav" data-ng-controller="FooterMenuController">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 ">
              <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
            </ul>
          </nav>
        </div>

        <div class="small-12 small-centered medium-8 large-3 large-uncentered columns ">
          <div data-ng-if="metaData().settings.social != NULL && metaData().settings.subscription_link == NULL" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
          <div data-ng-if="metaData().settings.social != NULL && metaData().settings.subscription_link != NULL && pubType != 'magazine'" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>

          <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade delay1500 uwm-subscribe-button">
            <a class="button" href="{{ metaData().settings.subscription_link }}">Subscribe</a>
          </div>

          <div data-ng-if="pubType === 'magazine'" class="fade delay1500 uwm-support-button">
            <a class="button" href="https://uwaterloo.ca/support/supporting-waterloo/ways-give">Support Waterloo</a>
          </div>
        </div>

      </div>
    </div>
    <div class="uwm-social row full-width">
      <div class="uwm-social-inner row">
        <div data-ng-if="pubType === 'publication' || pubType === 'magazine' && metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 large-offset-4 columns in-social-bar">
          <div data-ng-if="pubType === 'report'" data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}" class="uwm-social-tag small-12 large-offset-4 large-4 columns">
            <a href="https://twitter.com/search?q=%23UWATERLOOINNOVATION">#uwaterlooinnovation</a>
          </div>

        </div>
        <div data-ng-if="pubType === 'publication' || pubType === 'magazine'" class="uwm-login text-center small-12 columns">
          <div class="uwm-social-bottom small-12 medium-6 columns" data-ng-if="pubType === 'magazine' && metaData().settings.subscription_link != NULL">
            <div data-ng-if="metaData().settings.social.twitter != NULL || metaData().settings.social.facebook != NULL || metaData().settings.social.instagram != NULL || metaData().settings.social.linkedin != NULL || metaData().settings.social.youtube != NULL || metaData().settings.social.vimeo != NULL" class="uwm-social-links bottom-row">
              <ul>
                <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                  <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="uwm-footer-login medium-centered text-center medium-6 small-12 columns" data-ng-class="{'sub':metaData().settings.subscription_link != NULL, 'no-sub':metaData().settings.subscription_link == NULL}">
            <?php print $login_link; ?>
          </div>

         </div>
          <?php require 'template-append.inc';
