

  .uwm-feature-hp-block{
     @include rem-fallback(min-height, 40rem); 
  }
.uwm-feature-hp-teaser {
  .uwm-hero-button,
  .button{
    display:none;
  }
}
// Top Featured Stories in wide view

  .uwm-feature-hp-list{
    padding:0;
    margin:0;
    list-style:none;
    li{
      @include rem-fallback(margin-top, 1rem);
      @include rem-fallback(margin-bottom, 2rem);
      a.uwm-feature-hp-alias{
        text-decoration:none;
        display:block;
        @include borderEffect(1px, $white, $white, $white, 0px);
        // @include borderBoxHover($light-gray, $white);
        &:hover{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);
        // @include borderBoxHover(#aaaaaa, $light-gray);
        }
       }
      &.hide-feature{
         display:none;
       }
      @media #{$large-up} {
        @include rem-fallback(margin-bottom, 3.125rem); 
      }  
    }
  }
  .uwm-feature-hp-info{
    @include rem-fallback(min-height, 9.813rem);
    @include rem-fallback(padding, 0rem,0.25rem);
    @media #{$large-up} {
            @include rem-fallback(padding, 0rem,1rem);
        }
  }
  .uwm-feature-hp-img{
    height:auto;
    overflow:hidden;
    position:relative;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; 
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    background-color:$entry-bg-color;
    &:hover > ::after{
        right:1000px;
      }
    img{
      width:100%;
      display:block; 
    }
    &::after{
      content:"";
      position:absolute;
      background:url(../images/chevron-large.svg) no-repeat 0 0;
      background-size:contain;
      right:0;
      display:block;

      @include rem-fallback(height, 4.907rem);
      @include rem-fallback(width, 5.625rem);
      @include rem-fallback(bottom, -0.5rem);
      @media #{$medium-up} {
        @include rem-fallback(height, 7.5rem);
        @include rem-fallback(width, 9.375rem);
      }  
      @media #{$large-up} {
        @include rem-fallback(height, 9.813rem);
        @include rem-fallback(width, 11.25rem);
      }
     
    } 
    &.hex{
      &::after{
        content:"";
        position:absolute;
        background:url(../images/hex-yellow.png) no-repeat 0 0;
        background:url(../images/hex-yellow.svg) no-repeat 0 0;
        background-size:contain;
        right:0;
        display:block;

        @include rem-fallback(height, 4.907rem);
        @include rem-fallback(width, 5.625rem);
        @include rem-fallback(bottom, -0.5rem);
        @media #{$medium-up} {
          @include rem-fallback(height, 7.5rem);
          @include rem-fallback(width, 9.375rem);
        }  
        @media #{$large-up} {
          @include rem-fallback(height, 9.813rem);
          @include rem-fallback(width, 11.25rem);
        }
       
      }
    }
  }
  .uwm-secondary-list{
   list-style:none;
     li{
        &.hide-cat{
           display:none;
      }
     }
   // display of the shadowed boxes
    .ng-enter &,.ng-enter-active &{
        li{
        &.hide-cat{
          .uwm-secondary-meta{
             background-color:$entry-bg-color;
          }
          .uwm-secondary-img{
             background-color:$entry-bg-color;
              @include rem-fallback(min-height, 14.06rem);
            
          }
          .uwm-secondary-info{
            h3{
              background-color:$entry-bg-color;
              display:block;
              @include rem-fallback(height, 3rem);
             }
             span.effect{
              background-color:$entry-bg-color;
              display:block;
              @include rem-fallback(height, 1rem);
              @include rem-fallback(margin-bottom, 1rem);
             }
          }
          display:block;
        }
      }
    }
  }
  .more-feature {
    text-align: center;
    .button {
      background-color: $black;
    }
  }
  
  // secondary stories
  .uwm-secondary-block{
     @include rem-fallback(min-height, 40rem); 
  }
  .uwm-secondary-wrap{
    @media #{$large-up} {
      [class*="block-grid-"] > li { 
      @include rem-fallback(padding,  0 , 1.25rem, 0, 1.25rem);
      }
    }   
  }
  .uwm-secondary-wrap{}
  .uwm-secondary-list {list-style:none;}
  .uwm-secondary-hp{
    @include rem-fallback(margin-bottom, 3rem);
  }
  .uwm-secondary-meta{

    @include rem-fallback(height, 2.813rem);
    @include rem-fallback(line-height, 2.813rem);
    @include rem-fallback(padding-left, 1rem);
    font-family:$font-family-sans-condensed-bold;
    font-weight:300;
    text-transform:uppercase;
    background-color:$faculty-color;
    width:100%;
    @media #{$medium-up} {
      width:60%;
    }
    a{
       
    } 
  }
  .uwm-secondary-img{
    float:left;
    height:100%;
    position:relative;
    overflow:hidden;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    img{
      width:100%;
      display:block;
    }
    &:after{
      content:"";
      position:absolute;
      background:url(../images/chevron-white-up.svg) no-repeat 0 0;
      background-size:contain;
      left:0.2rem;
      display:block;
      @include rem-fallback(left, 0.8rem);
      @include rem-fallback(bottom, -0.4rem);
      @include rem-fallback(height, 1rem);
      @include rem-fallback(width, 1rem);
    }  
  }
  .uwm-secondary-info{
    @include rem-fallback(margin, 0.5rem,0, 1rem, 0);
    float:left;
  }
