  .uwm-prev-next-articles-wrap {
  }
  .uwm-prev-next-item{
    a{          
      @include rem-fallback( min-height, 18rem);      
      display:block;
      float:left;
        @include borderEffect(1px, $white, $white, $white, 0px);
        &:hover, &:focus{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);
        
          // .uwm-next-link,
          // .uwm-previous-link,
          // .uwm-prev-next-cat,
          .uwm-prev-next-headline{
            text-decoration:underline;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-break:break;
            word-wrap: break-word;
          span{
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-break:break;
            word-wrap: break-word;
            }
          } 
        }
      @media #{$medium-up}{
         @include rem-fallback( min-height, 23rem);  
      }
    }
    &.uwm-previous-article{ 
      .uwm-prev-next-link{
          float:right;
          text-align:right;
         @include rem-fallback(padding, 0rem, 0.5rem);      
        }
    }
    &.uwm-next-article{
      .uwm-prev-next-link{
        @include rem-fallback(padding, 0rem, 0.5rem);
        float:left;
      }
    }
  
  }
  .uwm-prev-next-img{
    height:100%;
    float:left;
    figure{
       }
     img{
      padding:0;
      width:100%;
     }
  }
  .uwm-prev-next-link{
    @include rem-fallback(margin, 0.5rem, 0rem, 1rem, 0rem);
  }
  .uwm-next-link,.uwm-previous-link{
    font-family: $body-font-family;
    font-weight:600;
    color: $black;
    text-transform:uppercase;
    @include rem-fallback(font-size, 0.825rem);
   
    @media #{$medium-up}{
       @include rem-fallback(font-size, 1rem);
    }
    @media #{$large-up}{
       @include rem-fallback(font-size, 1rem);
    }

   }
.uwm-prev-next-cat{
  text-align:right;
  display:block;
  text-transform:uppercase;
  @include rem-fallback(font-size, 0.825rem);
  font-family:$font-family-sans-condensed;
  .uwm-next-article &{
      text-align:left;
    }

   
    @media #{$medium-up}{
       @include rem-fallback(font-size, 1rem);
    }
    @media #{$large-up}{
       @include rem-fallback(font-size, 1rem);
    }
}


