@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }
  #{$property}: $pxValues;
  #{$property}: $remValues;
}

$zindex: (
    modal     : 11,
    overlay   : 11,
    dropdown  : 8,
    menu      : 10,
    logo      : 10,
    header    : 5,
    footer    : 4,
    content   : 3,
    slides    : 2,
    wrapper   : 2,
    background: 1,
);
@mixin filter( $var ) {
  -webkit-filter: $var;
  -moz-filter: $var;
  -ms-filter: $var;
  -o-filter: $var;
  filter: $var;
}
@mixin circle($width) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}
@mixin vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin vertical-align-relative {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin reset-valign {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
@mixin hozizontal-align {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
@mixin center-align-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:  translate(-50%,-50%);
         -moz-transform:  translate(-50%,-50%);
           -o-transform:  translate(-50%,-50%);
           -ms-transform: translate(-50%,-50%);
              transform:  translate(-50%,-50%);
    }
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}
@mixin borderBoxHover($borderBoxColor,$borderBoxBgColor) {
  border: 1px solid $borderBoxColor;
    -webkit-box-shadow:  
      -1px 1px $borderBoxColor,
      -2px 2px $borderBoxColor,
      -3px 3px $borderBoxColor,
      -4px 4px $borderBoxColor,
      -5px 5px $borderBoxColor;
    -moz-box-shadow:  
     -1px 1px $borderBoxColor,
     -2px 2px $borderBoxColor,
     -3px 3px $borderBoxColor,
     -4px 4px $borderBoxColor,
     -5px 5px $borderBoxColor;
    box-shadow:  
    -1px 1px $borderBoxColor,
    -2px 2px $borderBoxColor,
    -3px 3px $borderBoxColor,
    -4px 4px $borderBoxColor,
    -5px 5px $borderBoxColor;
    background:$borderBoxBgColor;
    -webkit-transition:all 0.35s, -webkit-transform 0.35s;
    -moz-transition:all 0.35s, -moz-transform 0.35s;
    transition: all 0.35s, transform 0.35s;
}
@mixin borderEffect($bordersize, $borderColor, $borderBgColor,$borderShadowColor, $borderShadowSpread) {
      border:$bordersize solid $borderColor;
      -webkit-box-shadow:$borderShadowColor 0px 0px $borderShadowSpread;
      -moz-box-shadow:$borderShadowColor 0px 0px $borderShadowSpread;
      box-shadow:$borderShadowColor 0px 0px $borderShadowSpread; 
      background:$borderBgColor;
      -webkit-transition:all 0.35s, -webkit-transform 0.35s;
      -moz-transition:all 0.35s, -moz-transform 0.35s;
      transition: all 0.35s, transform 0.35s;
      outline:none;
}
@mixin subNav($bordersize, $borderColor, $subHeight, $subpadding-top,$subpadding-bottom, $backgroundColor){
        background-color:$backgroundColor;
        border-bottom:$bordersize solid $borderColor;
       -webkit-transition: background-color 0.35s, -webkit-transform 0.35s;
        -moz-transition: background-color 0.35s, -moz-transform 0.35s;
        transition: background-color 0.35s, transform 0.35s;
        -webkit-transition: border-bottom-color 0.35s, -webkit-transform 0.35s;
        -moz-transition:  border-bottom-color 0.35s, -moz-transform 0.35s;
        transition:  border-bottom-color 0.35s, transform 0.35s;
        display:block;
        @include rem-fallback(padding-top, $subpadding-top);
        @include rem-fallback(padding-bottom, $subpadding-bottom);
        height:$subHeight;
}
@mixin sotuTextShadow(){
    -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
}
$faculty-colors: (
  '.uwdefault':$black, 
  '.ahs':$sotu-teal,
  '.arts':$sotu-orange,
  '.engineering':$sotu-purple,
  '.environment':$sotu-green,
  '.math':$sotu-fushia,
  '.science':$sotu-blue
);
@function faculty-color($key: $value) {
  @return map-get($faculty-colors, $key);
}
// Size helper mixin
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
// [Private] 
// Position helper mixin
@mixin _position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i
    and $i + 1 <= length($args)
    and type-of( nth($args, $i + 1) ) == number {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}
// @param [list] $args: list of offsets and values
@mixin absolute($args) {
  @include _position(absolute, $args);
}
// Arrow helper mixin
@mixin triangle($direction, $position, $color: currentColor, $size: 1em) {
  // Make sure the direction is valid
  @if not index(top right bottom left, $direction) {
    @warn "Direction must be one of top, right, bottom or left.";
  }
  @else {
    @include absolute($position); // Position
    @include size(0); // Size
    content: '';
    z-index: 2;
    border-#{opposite-position($direction)}: $size * 1.5 solid $color;
    $perpendicular-borders: $size solid transparent;
    @if $direction == top or $direction == bottom {
      border-left:   $perpendicular-borders;
      border-right:  $perpendicular-borders;
    }
    @else if $direction == right or $direction == left {
      border-bottom: $perpendicular-borders;
      border-top:    $perpendicular-borders;
    }
  }
}

/* position 1 */

$colorbars: 
org_default #fffaaa #ffea30 #fdd54f #e4b429 $black url(../images/small-chevron-blk.svg),
org_ahs #97DFEF #00BED0 #0098A5 #005963 $white url(../images/small-chevron-wht.svg), 
org_art #FFD5A5 #FBAF00 #E78100 #D93F00 $white url(../images/small-chevron-wht.svg),
org_eng #D0B4EF #BE33DA #8100B4 #57058B $white url(../images/small-chevron-wht.svg),
org_env #DAF582 #BED500 #B4BE00 #607000 $black url(../images/small-chevron-blk.svg),
org_mat #FFBEEF #FF63AA #DF2498 #C60078 $white url(../images/small-chevron-wht.svg),
org_sci #B4D5FF #63A0FF #0073CE #0033BE $white url(../images/small-chevron-wht.svg),
org_school #fffaaa #ffea30 #fdd54f #e4b429 $black url(../images/small-chevron-blk.svg),
org_cgc #fffaaa #ffea30 #fdd54f #e4b429 $black url(../images/small-chevron-blk.svg),
org_ren #fffaaa #ffea30 #fdd54f #e4b429 $black url(../images/small-chevron-blk.svg),
org_stj #fffaaa #ffea30 #fdd54f #e4b429 $black url(../images/small-chevron-blk.svg),
org_stp #fffaaa #ffea30 #fdd54f #e4b429  $black url(../images/small-chevron-blk.svg);

body,div {
  @each $colors in $colorbars {
     &.#{nth($colors, 1)} {
      .uw-site--c1{background-color:nth($colors, 2);}
      .uw-site--c2{background-color:nth($colors, 3);}
      .uw-site--c3{background-color:nth($colors, 4);}
      .uw-site--c4{background-color:nth($colors, 5);}
      .uwm-pub-cat-name,.uwm-pub-cat-theme{
        span{
           background-color:nth($colors, 4);
           a{
            color:nth($colors, 6);

            }
        &.cat-type,
        &.cat-theme{
            background-color:transparent;
         }
       }
     }
     .uwm-next-link, .uwm-previous-link{
       background-color:nth($colors, 4);
       color:nth($colors, 6);
     }
     .uwm-related-articles-header{
        border-left: 3px solid nth($colors, 4);
     }
     .uwm-subscribe-button a.button {
      background-image:nth($colors, 7);
      background-color:nth($colors, 4);
      color:nth($colors, 6);
      &:hover,&:focus{ 
        background-repeat:no-repeat;
        background-position: 35px 16px;
        color:nth($colors, 6);
        background-color:nth($colors, 5);
     }
      &:before{
        color:nth($colors, 6);
      }
     }
     .login-link,.uwm-footer-nav ul li a:before{
       color:nth($colors, 4);
      }
    }
  }
}
@mixin uw-transition($duration, $delay, $property, $timing) {
  -moz-transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
  -webkit-transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
  -ms-transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
  transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
}