// Individual effects */
.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
  position: absolute;
  left: 0;
}

.animate-hide.ng-hide {
  left: -100%;
  opacity:0;
  padding:0 10px;
}


.loading{
      position: absolute;
      top:40%;
      left:50%;
      margin-left:-20px;
      z-index:map-get($zindex, content);

      @media #{$medium-up}{
         // top:35%;
        }
      }

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    background: $uw-black;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      max-width: 100%;
      width:100%;
      height:auto;
      opacity:1;
      }
    .uwm-related-articles-wrap &{
      @include rem-fallback( margin-bottom, 0.85rem);
      span.effect{
        margin: 0;
        .button {
          color: $white;
          background: none;
          @include rem-fallback( padding-left, 2rem);
          @include rem-fallback(font-size, 1.2rem);
          @include rem-fallback( padding-right, 1rem);
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:15px 17px; 
          text-transform:uppercase;
        }
        .button:hover,
        .button:focus,  {
            background-color:transparent;
            background-image:url(../images/small-chevron.png);
            background-image:url(../images/small-chevron.svg);
            background-repeat:no-repeat;
            background-position:15px 17px; 
            color: $white;
            text-decoration:none;
        }
      }
    }
    .uwm-prev-next-articles-wrap & {
      @include rem-fallback( margin-bottom, 0.85rem);
      @include rem-fallback(height, 5rem);
      @media #{$medium-up} {
         @include rem-fallback(height, 8rem);
      }
      @media #{$large-up} {
        @include rem-fallback( height, 12.5rem);
      }
      span.effect{
        margin: 0;
        .button {
          color: $white;
          background: none;
          @include rem-fallback( padding-left, 2rem);
          @include rem-fallback(font-size, 1.2rem);
          @include rem-fallback( padding-right, 1rem);
          text-transform:uppercase;
        }
        .button:hover,
        .button:focus,  {
          background-color:transparent;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:15px 17px; 
          color: $white;
          text-decoration:none;
        }
      }
      .uwm-previous-article &{
         p{
          .button {
            background-image:url(../images/small-chevron.png);
            background-image:url(../images/small-chevron.svg);
            background-repeat:no-repeat;
            background-position:15px 17px; 
            }
         }
      }
      .uwm-previous-article &{
          p{
            .button {
            background-image:url(../images/small-chevron.png);
            background-image:url(../images/small-chevron.svg);
            background-repeat:no-repeat;
            background-position:15px 17px; 
          }
        }
      }
    }  
    .uwm-pub-cat &{
      img{
        max-width:200%;
        position: relative;
        display: block;
        opacity:1;
        // @include rem-fallback(margin-left, -5.5em);
      @media #{$large-up} {
          display:block;
          // @include rem-fallback(margin-left, -5.5rem);
          max-width:200%;
        }  

      }
      span.effect{
        margin: 0;
        @media #{$medium-up} {
          .button {
            color: $white;
            background: none;
            @include rem-fallback( padding-left, 2rem);
            @include rem-fallback(font-size, 1.2rem);
            @include rem-fallback( padding-right, 1rem);
            background-image:url(../images/small-chevron.png);
            background-image:url(../images/small-chevron.svg);
            background-repeat:no-repeat;
            background-position:15px 17px; 
            text-transform:uppercase;
          }
          .button:hover,
          .button:focus,  {
              background-color:transparent;
              background-image:url(../images/small-chevron.png);
              background-image:url(../images/small-chevron.svg);
              background-repeat:no-repeat;
              background-position:15px 17px; 
              color: $white;
              text-decoration:none;
          }
        }
      }
    }
    .uwm-feature-hp-wrap &{
      
      figcaption{
        padding: 1rem;
      }
      span.effect{

      }
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,&::after {
        pointer-events: none;
      }
      > .uwm-image-info {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0;
      }
    }
    span{
      display:block;
      margin: 0;
      .button {
        color: $white;
        background: none;
       @include rem-fallback( padding-left, 2.5rem);
       @include rem-fallback( padding-right, 1.5rem);
        background-image:url(../images/small-chevron.png);
        background-image:url(../images/small-chevron.svg);
        background-repeat:no-repeat;
        background-position:15px 20px; 
        text-transform:uppercase;
      }
      .button:hover,
      .button:focus,  {
          background-color:transparent;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:15px 20px; 
          color: $white;
          text-decoration:none;
      }
    }
  }




  a figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, -40px);
    -moz-transform: translate3d(-40px,0, -40px);
    transform: translate3d(-40px,0,0 -40px);
  }
  a figure.effect-lily figcaption {
    text-align: center;
    .uwm-feature-hp-wrap &{
      text-align:left;
    }
  }
  a figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 75%;
    .uwm-feature-hp &{
      padding: 1rem;
      height:100%;
      @media #{$medium-up} {
         height:75%;
         padding:2rem;
      }
    }
  }
  a figure.effect-lily h2,
  a figure.effect-lily h3,
  a figure.effect-lily span.effect {
    -webkit-transform: translate3d(0,40px,0);
    -moz-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
  }
  a figure.effect-lily h2,
  a figure.effect-lily h3 {
    -webkit-transition: -webkit-transform 0.35s;
    -moz-transition: -moz-transform 0.35s;
    transition: transform 0.35s;
  }
  a figure.effect-lily span.effect {
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.2s, -moz-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
  }
  a:hover figure.effect-lily img,
  a:focus figure.effect-lily img{
     opacity: 0.3;
     @include filter(saturate(0%));
  }
  a:hover figure.effect-lily span.effect,
  a:focus figure.effect-lily span.effect {
    opacity: 1;
  }
  a:hover figure.effect-lily img,
  a:hover figure.effect-lily h2,
  a:hover figure.effect-lily h3  ,
  a:hover figure.effect-lily span.effect,
  a:focus figure.effect-lily img,
  a:focus figure.effect-lily h2,
  a:focus figure.effect-lily h3  ,
  a:focus figure.effect-lily span.effect {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  a:hover figure.effect-lily span.effect,
  a:focus figure.effect-lily span.effect {
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    transition-duration: 0.35s;
  }

/*---------------*/
/***** Ruby *****/
/*---------------*/

a figure.effect-ruby {
  background-color:$white;
}

a figure.effect-ruby img {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  transform: scale(1.10);
}

a:hover figure.effect-ruby img {
  opacity: 0.9;
  -webkit-transform: scale(1);
  -moz-transform: scale(1); 
  transform: scale(1);
}

figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-ruby .effect {
  margin: 1em 0 0;
  padding: 3em;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  -moz-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-ruby:hover .effect {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}


.fade.ng-hide-add,.fade.ng-enter{
   -webkit-transition: all linear 0.150s;
    -moz-transition: all linear  0.150s;
   transition: all linear 0.150s;

  }
.fade.ng-hide-remove,.fade.ng-leave{
     -webkit-transition: all linear  0.250s;
    -moz-transition: all linear 0.250s;
   transition: all linear 0.250s;

}


// .fade.ng-hide-add{
//   -webkit-animation: fadein 300ms ; /* Safari, Chrome and Opera > 12.1 */
//    -moz-animation: fadein 300ms ;/* Firefox < 16 */
//     -ms-animation: fadein 300ms ;/* Internet Explorer */
//      -o-animation: fadein 300ms ; /* Opera < 12.1 */
//         animation: fadein  300ms ;
// }
//  .fade.ng-hide-remove{
//   -webkit-animation: fadeout 300ms; /* Safari, Chrome and Opera > 12.1 */
//  -moz-animation: fadeout 300ms; /* Firefox < 16 */
//   -ms-animation: fadeout 300ms; /* Internet Explorer */
//    -o-animation: fadeout 300ms; /* Opera < 12.1 */
//       animation: fadeout 300ms;
//  }
.fade.ng-hide,.fade.ng-leave{
  opacity:0;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
     from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


.delay125{
  -webkit-animation-delay: .125s;
          animation-delay: .125s;
}
.delay250 {
  -webkit-animation-delay: .250s;
          animation-delay: .250s;
}
.delay500{
  -webkit-animation-delay: .500s;
          animation-delay: .500s;
}
.delay750{
  -webkit-animation-delay: .750s;
          animation-delay: .750s;
}
.delay1{
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.delay1000{
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.delay1250{
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.delay1500{
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.delay1750{
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.delay2000 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.delay2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.delay2500 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.delay3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.delay4{
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.delay5{
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.reveal-modal.fade {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.reveal-modal.in {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}