// hero{
  .uwm-hero{
    position:relative;
    @include rem-fallback(min-height, 23rem);
  }
  .uwm-hero-feature{
    @include rem-fallback(height, 20rem);
    height:auto;
    position:relative;
    background-color:$light-gray;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    width:100%;
     @media #{$small-up} {
       
      } 
      @media #{$medium-up} {
            @include rem-fallback(height, 26.500rem);
         }
        @media #{$large-up} {
            @include rem-fallback(height, 37.500rem);
            // @include rem-fallback(height, 42.500rem);
         }
            @media #{$xlarge-up} {
        //   // @include rem-fallback(height, 37.500rem);
          @include rem-fallback(height,  42.500rem);
        }
    a:hover,
    a:focus {
      text-decoration: none;
    }
    float:left;
  }
  .uwm-img-tran{

       // background:url(../images/effect1.png)  repeat;
       background:rgba(0, 0, 0, 0.5);
      
       width:100%;
       position:absolute;
       top:0;
       bottom:0;
       left:0;
       right:0;
       display:block;
        @include rem-fallback(min-height, 23rem);
        @media #{$medium-up} {
            @include rem-fallback(height, 26.500rem);
         }
        @media #{$large-up} {
            @include rem-fallback(height, 37.500rem);
            // @include rem-fallback(height, 42.500rem);
         }
            @media #{$xlarge-up} {
        //   // @include rem-fallback(height, 37.500rem);
          @include rem-fallback(height,  42.500rem);
        }
        //   @media #{$xxlarge-up} {
        //   // @include rem-fallback(height, 37.500rem);
        //   @include rem-fallback(height,  42.500rem);
        // }
        display:none;
    }
  .uwm-hero-info{
    height:auto;    
    text-align:center;
    // @include vertical-align();
      // @include rem-fallback(margin-top,  7.8rem);
      @media #{$medium-up} {
       }
      @media #{$large-up} {
           @include rem-fallback(margin-top,  3rem);

     }
     @media #{$xlarge-up} {
          max-width:70rem;
          margin-left:auto;
          margin-right:auto;
          

     }
     .uwm-hero-heading {
      
      }   

    // .uwm-hero-headline{
    //   color: $header-font-color;
    //   font-family: $header-font-family;
    //   font-style: $header-font-style;
    //   font-weight: 300;
    //   line-height: $header-line-height;
    //   margin-bottom: $header-bottom-margin;
    //   margin-top: $header-top-margin;
    //   text-rendering: $header-text-rendering;
    //   font-size: $h1-font-size - $h1-font-reduction;
    //    span{
    //       font-weight:600;
    //   }
    //   @media #{$large-up} {
    //     @include rem-fallback(min-height,5.625rem);
    //     font-size: $h1-font-size;
    //  } 
    //   color:$white;
    //   line-height:1;
    //   text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    // }
    .uwm-hero-sub-headline{
      position:relative;
      text-transform: uppercase;
       span{
         font-weight:600;
        }
      @media #{$medium-up} {
        // position:absolute;
        // left:50%;
        // top:30%;
        // margin-left:-325px;
        // width:650px;
        // overflow:hidden;

      }
    }
   
  }