  .uwm-promo-items{
    .show-sidebar &{
      display:block;
      background:$white;
      overflow:hidden;
    
    }   
    li {
      list-style: none;
      &.odd{ 
         }
      &.even{ 
        @include rem-fallback(margin, 1.5rem, 0rem);
      }
    }
    @media #{$small-up} {
     
    
    }
    
    @media #{$large-up} {
    
    }

  }

  .uwm-testimonials-wrap-inline{
    
      @include rem-fallback(margin,  2rem , 0rem);
       @media #{$medium-up} {
        
         }
      
       @media #{$large-up} {
         
         
         }

      }
 .uwm-testimonials{
    padding:0;
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
    width:100%;
    height:auto;
    position:relative;
    @include rem-fallback(margin-top, 1.5rem);  
    .uwm-testimonials-wrap-nobg &{
      background-color:$light-gray;  
      blockquote{
      background-color:$light-gray;  
      }
    }
    @media #{$large-up} {
      &.article-inline-testimomies{
        
      }
      @include rem-fallback(min-height, 35rem); 
     }
     .uwm-testimonials-wrap-inline &{
      min-height:inherit;

     }
   }


  .uwm-testimonials-content{
   @include rem-fallback(min-height,6rem); 
  
   
    .uwm-testimonial-padding{
     @include rem-fallback(padding-top, 1.5rem); 
      @media #{$large-up} {
      @include rem-fallback(padding-top, 6rem); 

       }
     }
  }