  .uwm-related-articles-wrap{
  }
  .uwm-related-item{
     
    a{
      display:block;
      float:left;
        @include borderEffect(1px, $white, $white, $white, 0px);
        &:hover, &:focus{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);
      }
      @media #{$medium-up}{
        @include rem-fallback(min-height, 24rem);
      }
      @media #{$large-up}{
        @include rem-fallback(min-height, 23.125rem);
      }
    }
  }
  .uwm-related-img{
    height:100%;
    float:left;
    figure{
      -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; 
      -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
       }
     img{
      padding:0;
      width:100%;
     }
  }
  .uwm-related-info{  
    @include rem-fallback(margin, 0.5rem,0, 1rem, 0);
    @include rem-fallback(padding, 0rem ,0.5rem);
    float:left;
  }

