.uwm-sotu-dna{
  background-image:url(../images/dna.png);
  background-image:url(../images/dna.svg);
  background-repeat:repeat-y;
  background-position:0  0;
  height:100%;
  @include clearfix();
  @media #{$medium-up}{
      background-position:50% 50%;
  }
}
.uwm-article-quad-heading{
  clear:both;
  margin-bottom:0;
  border-style: solid;
  border-color:$gray;
  border-width: 0 0 1px 0;
}
.uwm-article-quad-footer{
  clear:both;
  margin-top:0;
  border-style: solid;
  border-color: $gray;
  border-width: 1px 0 0 0;
   @media #{$medium-up} {
      border-color: $gray;
   }
}
.uwm-article-quad{
  float: left;
  width: 100%;
  margin:0;
  @include rem-fallback(min-height, 25rem);
  @include rem-fallback(padding, 0rem);
  border-style: solid;
  border-color: $gray;
  &.header{
   border-width: 0 0 1px 0;
   margin:0;
  @include rem-fallback(padding, 0rem);

   @include rem-fallback(min-height, 15rem);
   width:100%;
  }
  h3{
    @include rem-fallback(margin-top, 1rem);
    @include rem-fallback(margin-bottom, 1rem);

  }
  &.q1{
   border-width: 0 0 1px 0;
   margin:0;}
  &.q2{
     border-width: 0 0 1px 0;
     margin:0;}
  &.q3{
   border-width: 0 0 1px 0;
   margin:0; }
  &.q4{
    border-width:   0;
    margin:0;
    padding-bottom:0;}
  &.q5{
    border-width: 1px 0 0 0;
    margin:0 ;
    padding-bottom:0;}
  &.q6{
     border-width: 1px 0 0 0;
     padding-bottom:0;}
  
  &-dna{
    width: 65%;
    border-width: 0 1px 0 0;
    h3{
      position:relative;
      overflow:visible;
      @include rem-fallback(margin-top, 1.25rem);
      @include rem-fallback(margin-bottom, 0.5rem);
      &:after{
          content:"";
          height:1px;
          border-bottom:1px solid $gray;
          display:block;
          position:absolute;
         
        }
      } 
    &.qdna1{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
    h3{
      &:after{
          @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
          @include rem-fallback(right, 15rem); 
        }
      }       
    }
    &.qdna2{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
       @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
          right:100%   
        }
      } 
    }
    &.qdna3{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
        @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
         right:100% 
        }
      } 
    }
    &.qdna4{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
       @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
          right:100%  
        }
      } 
    }
    &.qdna5{  
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
        @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
         right:100% 
        }
      } 
    }
  }
  @media #{$medium-up} {
    @include rem-fallback(min-height, 33rem);
    border-color:  $gray;
    width: 50%;
    &.q1 { 
      @include rem-fallback(padding, 0rem, 1rem, 0rem, 0rem);
       border-width: 0 1px 1px 0;
       margin:-1px -1px 0 0 ;
       clear:left;}
    &.q2 {
      @include rem-fallback(padding, 0rem, 0rem, 0rem, 1rem);
      border-width: 0  0 1px 1px;
      margin:0px 0 -1px 0 ;}
    &.q3 {
     @include rem-fallback(padding, 0rem, 1rem, 0rem, 0rem);
     border-width: 0 1px 0 0;
     margin:-1px -1px 0 0 ;
     clear:left;}
    &.q4{
      @include rem-fallback(padding, 0rem, 0rem, 0rem, 1rem);
      border-width:   0px 0 0 1px;
      margin:-1px 0 -1px 0;}
    &.q5 {
      @include rem-fallback(padding, 0rem, 1rem, 0rem, 0rem);
      border-width:  1px 1px 0 0;
      margin:-1px -1px 0 0 ;
      clear:left;}
    &.q6 {
     @include rem-fallback(padding, 0rem, 0rem, 0rem, 1rem);
     border-width:   1px 0 0 1px;
      margin:-1px 0 -1px 0;}
    &-dna{
    width: 50%;
    border-width:0;
    overflow:hidden;
    h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;
        }
      } 
    &.qdna1{
      border-width: 0;
      float:left;
      clear:both;
      text-align:right;
      position:relative;
      @include rem-fallback(padding, 1rem, 4rem, 1rem, 0rem); 
      left: inherit;
    }
    &.qdna2{
      border-width: 0;
      float:right;
      clear:both;
      margin-top:-100px;
      @include rem-fallback(margin-top, -9.375em); 
      @include rem-fallback(padding, 1rem, 0rem, 1rem, 4rem); }
    &.qdna3{
      border-width: 0;
      float:left;
      clear:both;
      text-align:right;
       @include rem-fallback(margin-top, -7em); 
      @include rem-fallback(padding, 1rem, 4rem, 1rem, 0rem); 
      left: inherit; }
    &.qdna4{
      border-width: 0;
      float:right;
      clear:both;
       @include rem-fallback(margin-top, -7em); 
      @include rem-fallback(padding, 1rem, 0rem, 1rem, 4rem); }
    &.qdna5{  
      border-width: 0;
      float:left;
      clear:both;
      text-align:right;
       @include rem-fallback(margin-top, -7em); 
      @include rem-fallback(padding, 1rem, 4rem, 1rem, 0rem); 
      left: inherit; }
    
    &.qdna1,
    &.qdna3,
    &.qdna5{
      h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          @include rem-fallback(top, 1rem);
          @include rem-fallback(width, 18rem);
          @include rem-fallback(right, -18.5rem);
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;

        }
      } }
    &.qdna2,
    &.qdna4{
      h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          @include rem-fallback(top, 1rem);
          @include rem-fallback(width, 18rem);
          @include rem-fallback(left, -18.5rem);
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;

        }
      } 
    }
   }
  }
  
  @media #{$large-up}{
  &-dna{
      width: 50%;
      border-width:0;
     overflow:hidden;
    &.qdna1,&.qdna3,&.qdna5{
      @include rem-fallback(padding, 1rem, 8rem, 1rem, 0rem);
      h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          @include rem-fallback(top, 1rem);
          @include rem-fallback(width, 18rem);
          @include rem-fallback(right, -18.5rem);
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;

        }
      } 
    }
    &.qdna2,&.qdna4{
    
      @include rem-fallback(padding, 1rem, 0rem, 1rem, 8rem);
      h3{
        position:relative;
        overflow:visible;
        &:after{
            content:"";
            @include rem-fallback(top, 1rem);
            @include rem-fallback(width, 18rem);
            @include rem-fallback(left, -18.5rem);
            height:1px;
            border-bottom:1px solid $gray;
            display:block;
            position:absolute;

          }
        }  
      }
    } 
  }
}