/* Timeline */
.timeline-wrap{
  width:100%;
  margin:1rem auto;
  @media #{$large-up} {
    width:80%;
  }
}
.class-notes--full-event{
  display:block;
  margin:0 auto;
  width:100%;
  border:1px solid #999;
  overflow:hidden;
  font-family:$font-family-serif;
  padding:1rem;
  @media #{$medium-up} {
      padding:2rem;
  }
  background:#f6f6f6;
  strong{
    font-weight: 600;
    font-family: $font-family-sans-serif;

  }
  p{
    line-height:1.4;
    @include rem-fallback(font-size,1rem);
  }
}
.class-notes--story-credit{
  font-family: $font-family-sans-serif;
  @include rem-fallback(font-size,0.85rem);
}
.class-notes--event-image{
  position:relative;
  display: block;

  margin-bottom:1rem;
  &.half-width{ width:100%;}
  &.eighty-width{  width:100%;}
  &.full-width{  width:100%;}
   @media #{$medium-up} {
      &.half-width{ width:50%;}
      &.eighty-width{ width:80%;}
    }

  img{
    height: auto;
    width:100%;
    max-width: 100%;
  }

  .class-notes--title{
    display: block;
    color:#000;
    font-family:$font-family-sans-condensed;
    font-weight:400;
    text-transform:uppercase;
    margin:0;
    @include rem-fallback(font-size, 1.65rem);
    @include rem-fallback(line-height, 2rem);
      @media #{$medium-up} {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        color:#fff;
        font-family:$font-family-sans-condensed;
        background: rgba(0,0,0,0.5);
        padding: 0.125rem 1rem;
        @include rem-fallback(font-size, 2rem);
        @include rem-fallback(line-height, 2.7rem);
    }


  }
}
.class-notes--photo-credit{
    display: block;
    @include rem-fallback(font-size, 0.7rem);
    font-family:$font-1451-medium;
    text-align:right;
    margin-bottom:1rem;
    position:absolute;
    top:1rem;
   @media #{$medium-up} {
     position:relative;
     top:inherit;
     // margin-bottom:0;
     // @include rem-fallback(font-size, 0.9rem);
     // text-align:left;
     // font-family:$font-1451-medium;
     // position: absolute;
     // top: -1rem;
     // right: 0;
     // transform: rotate(-90deg);
     // transform-origin: right bottom 0;
     // background: rgba(255,255,255,0.85);
     // padding: 0.125rem 1rem;
   }




}
.timeline {
  border-left: 1px solid #999;;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  margin: 2rem auto;
  position: relative;
  display: block;
  font-family:$font-family-sans-serif;
  @include rem-fallback(font-size, 0.875rem);
  line-height:1.25rem;
  color:$gray;
  padding:2rem 0 2rem 0;
  list-style: none;
  text-align: left;
  @include clearfix();
  width:100%;
   @media #{$medium-up} {
    width:60%;
  }
  @media #{$large-up} {
   width:40%;
 }
  margin:0 auto;
  font-family: $font-family-sans-serif;
  strong {
   font-weight: 600;
   font-family: $font-family-sans-serif;
   .strong-weak{
       font-weight: 200;
   }
  }

  .event {
        @media #{$medium-up} {
          width:100%;
        }
      list-style: none;
      // background-color:$middle-gray;

      &:nth-child(even){
        // background-color:$white;
        // border:1px solid $middle-gray;
      }
    a{
      display: block;
      text-decoration:none;
      background-color:$white;
      padding:1rem 1rem 2rem 1rem;
      margin-bottom: 2rem;
      border:1px solid #fff;
      box-shadow: 2px 2px 0 #f6f6f6;
      &:hover{
        color:#000;
        background-color:#f6f6f6;
      }
    }

    &.full{
      max-width:100%;
    }
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;

    }
    .data-date{
      display:inline-block;
      text-align: left;
      font-weight: 600;
      font-size: 0.8rem;
      background:#000;
      color:$white;
      padding:0.25rem 0.5rem;
      top: -0.5rem;
      left:0rem;
      position:relative;
      @media #{$medium-up} {
          position: absolute;
          top: -0.25rem;
          left: -7rem;
      }
    }
    &:after {
      border:1px solid #999;
      left:-0.9rem;
        @media #{$medium-up} {
          left: -1.93rem;
        }
      background:#f6f6f6;
      border-radius: 50%;
      height:0.75rem;
      width:0.75rem;
      top: 0.125rem;
      content:'';

    }
  }
}
.tab-options{
  width:100%;
}
