$faculty-colorsCTA:
uWaterloo $black #fdd54f #fdd54f #fdd54f,
ahs #005963 #97DFEF #0098A5 #97DFEF,
arts #D93F00 #FFD5A5 #E78100 #FFD5A5,
engineering #57058B #D0B4EF  #8100B4 #D0B4EF,
environment #607000 #DAF582 #B4BE00  #DAF582,
math #C60078 #FFBEEF #DF2498 #FFBEEF ,
science #0033BE #B4D5FF #0073CE #B4D5FF,
conrad $uw-school #fff3e6 #fdd54f $white,
renison #000e08 $uw-renison-light #fdd54f $uw-renison-light,
st-jeromes #001811 $uw-st-jeromes-light #fdd54f $uw-st-jeromes-light,
st-pauls #20240d  $uw-st-pauls-light #fdd54f $uw-st-pauls-light,
schools $uw-school  $uw-schools-light #fdd54f $uw-schools-light,
neutral $black $neutral $neutral $neutral,
uw-gray $black  $white $white #fdd54f;

.call-to-action {
  &-top-wrapper {
    width: 100%;
    height: 100%;
    clear: both;
    // float: left;
    // margin-bottom: 1rem;
    a{
      display:block;
      height: 6.25rem;
    }
    .sticky-promo & {
      margin-top: 0rem;
    }
  }

  &-center-wrapper {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    aside{
       -webkit-box-flex: 1 0 100%;
      box-flex:1 0 100%;
      -webkit-flex: 1 0 100%;
      -moz-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%;
      // @include flex(1 0 100%);

        @media #{$small-up}{
         -webkit-box-flex: 1 0 50%;
        box-flex:1 0 50%;
        -webkit-flex: 1 0 50%;
        -moz-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        }
        @media #{$large-up}{
         -webkit-box-flex: 1 0 30%;
        box-flex:1 0 30%;
        -webkit-flex: 1 0 30%;
        -moz-flex: 1 0 30%;
        -ms-flex: 1 0 30%;
        flex: 1 0 30%;
        }
      }
      .uw-site-sidebar  &{
        display:block;
      }

  }

  &-wrapper {
    // @include fontSmoothing();
    height: 6.25rem;
    display: table;
    float: left;
    width:100%;

    &.cta-sidebar {
      width: 100%;
      height: 6.25rem;
      display: table;
      // display:block;
    }

  }

   &-big-text {
    text-align: center;
    font-size: 1.42383rem;
    font-family:   $font-bg-book-cond;
    letter-spacing:0.05rem;
    padding: 0 0.250rem 0.313rem 0.250rem;
    line-height: $cta-big-line-height;
  }

  &-small-text {
    text-align: center;
    font-size: .79012rem;
    font-family: $font-1451-medium;
    padding: 0 0.250rem 0.250rem 0.250rem;
    color: $white;
    text-transform:uppercase;
  }

  &-theme {
    @each $faculty-color in $faculty-colorsCTA {
      &-#{nth($faculty-color, 1)} {
        display: table-cell;
        margin: 1px;
        border: 1px solid $white;
        vertical-align: middle;


      }
    }
  }
}
a {
  @each $faculty-color in $faculty-colorsCTA {
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
    .call-to-action-theme{
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
      &-#{nth($faculty-color, 1)} {
        background-color:$black;
        .call-to-action-big-text{
          color: nth($faculty-color, 3);
        }
        .call-to-action-small-text{
          color: $white;
        }
      };
    }
    &:hover,
    &:focus {
      .call-to-action-theme{
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
        &-#{nth($faculty-color, 1)} {
          background-color: nth($faculty-color, 5);
          .call-to-action-big-text{
            color: nth($faculty-color, 2);
          }
          .call-to-action-small-text{
            color: nth($faculty-color, 2);
          }
        };

      }
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

    }
  }
}
.call-to-action-theme-gray{
  background:$medium-gray;
  color:$dark-gray;
  a &{
    border: 1px solid $white;
    &:hover,
    &:focus {
      background-color:$white;
      border: 1px solid $dark-gray;
    }
    .call-to-action-small-text {
      color:$dark-gray;
    }
  }
}
.events-hide{
  .call-to-action-theme-gray{
    background-color:$white;
    color:$dark-gray;
    a &{
      border: 1px solid $white;
      &:hover,
      &:focus {

        border: 1px solid $dark-gray;
      }
      .call-to-action-small-text {
        color:$dark-gray;
      }
    }
  }
}

// Overwrite the uw & neutral hover colors to black.
.call-to-action-theme-uWaterloo,
.call-to-action-theme-neutral,
.call-to-action-theme-gray {
    a &{
        &:hover,
        &:focus {
        .call-to-action-small-text{
      color:$black;
      }
    }
  }
}