  .uwm-footer{
    position:relative;
    bottom:0;
    height:auto;
    background:$black;
    @media #{$large-up} {
      @include rem-fallback(min-height,  8.5rem);
    }
  }
  .uwm-footer-inner{
    @include rem-fallback(padding-top,  2rem);
    @include rem-fallback(padding-bottom,  2rem);
  }

 .uwm-affiliate-title,
 .uwm-affiliate-logo,
 .uwm-university-logo{
 }
   .uwm-affiliate-title {
         @include rem-fallback(font-size, 1.15rem);
    @media #{$medium-up} {
      @include rem-fallback(padding-top, 0.6rem);
      @include rem-fallback(line-height, 1.4rem);
      @include rem-fallback(font-size, 1.15rem);
      @include rem-fallback(padding-right, 0);
    }
    @media #{$large-up} {
      @include rem-fallback(padding-top, 0.6rem);
      @include rem-fallback(font-size, 1.4rem);
    }

    a {
      color: $white;
      @include rem-fallback(line-height, 1.5);
      &:hover {
        text-decoration: underline;
      }
    }
  }
 .uwm-affiliate-title{
    font-family: $font-family-sans-condensed-bold;
    color: $white;
    text-align:center;
    @include rem-fallback(font-size, 1.1rem);
    text-transform: uppercase;
    margin:  1rem auto 0 auto;
    @media #{$medium-up} {
      @include rem-fallback(padding-top, 0.6rem);
      @include rem-fallback(font-size, 1.15rem);
      @include rem-fallback(padding-right, 0);
      margin: 0 auto;
    }
    @media #{$large-up} {
        text-align:left;
    @include rem-fallback(padding-top, 0.6rem);
    @include rem-fallback(font-size, 1.4rem);
    }
    a{
      font-family: $font-family-sans-condensed-bold;
      color:$white;
      text-transform:uppercase;
      border:0px solid transparent;
      outline:none;
      @include single-transition(color);
      &:hover{
        color:$yellow-dark;
        text-decoration:underline;
        @include single-transition(color);

      }



    }
    .text-only &{
      display:block;
    }
    .text-only.logo &{
        display:block;
    }
    .uw-logo &{
      display:none;
    }

 }
 .uwm-affiliate-logo{
   .uwm-footer-logo-link{
            height:auto;

            outline:none;
            border:0px solid transparent;
        img{
            outline:none;
            border:0px solid transparent;
          max-height: 6rem;
          width: auto;
            @media #{$medium-up}{


            }
            @media #{$large-up}{
                  text-align:left;
            }

          }


      }
   .logo &{
      display:block;

    }
   .uw-logo &{
      display:none;

    }
    .text-only & {
      display:none;
    }
   .text-only.logo &{
     display: none;
     @media #{$large-up} {
       display: block;
     }
     visibility:hidden;
   }

 }
  .uwm-footer-login{
    width:100%;
    margin-bottom:1rem;
    @media #{$large-up} {
      width:49%;
      &.no-sub{
        width:100%;
      }
      margin-bottom:0;
    }
      float:left!important;
      text-align:left;
  }
  .uwm-social-bottom{
    width:100%;
    margin-bottom:1rem;
    @media #{$large-up} {
      width:49%;
      margin-bottom:0;

    }

    float:left;
    text-align:right;
  }
 .uwm-university-logo{
    .uwm-footer-uw-link{
            padding: 1rem;
            outline:none;
            border:0px solid transparent;
            @media #{$large-up}{
              width:100%;
              padding:0;

            }
        img{
            display:none;
            outline:none;
            border:0px solid transparent;
            @media #{$medium-up}{
              width:100%;

            }
            @media #{$large-up}{
                  text-align:left;
            }

          }


      }
    .uw-logo &{
          display:block;
          img{

            display:block;
          }
        }
     }

  .uwm-footer-nav{
    [class*="block-grid-"] {
      display: block;
      padding: 0;
      margin-left: 0 ;
      margin-right: 0 ;
    }
    ul{
      display:block;
      @include rem-fallback(margin-top,  2rem);
      @media #{$large-up} {
        @include rem-fallback(margin-top,  0);
      }
      li{
        display: inline-block;

        padding:0;
        @include rem-fallback(margin,  0.5rem, 0rem);

        a{
          color:$white;
          font-family: $font-family-sans-condensed;
          width:100%;
          height:100%;
          display:block;
          text-transform:uppercase;
          text-align: center;

          @include rem-fallback(font-size, 1rem);
          line-height:1;
          @include single-transition(color);

          &:hover{
            text-decoration:underline;
            color:$yellow-dark;
            @include single-transition(color);
          }

         @media #{$large-up} {
              text-align:center;
              @include rem-fallback(margin, 0rem);
          }


        }
      }
    }
  }
  .uwm-subscribe-button{
    text-align:center;
    @include rem-fallback(margin-top,  2rem);
    @media #{$large-up} {
      @include rem-fallback(margin-top,  0);
    }
  }
  .uwm-social{
     background:rgb(63,63,63);
     @include rem-fallback(min-height,  4.125rem);
  }
  .uwm-social-inner{
    @include rem-fallback(padding-top,  1.25rem);
  }
  .uwm-social-links{
    text-align:center;
    position:relative;
    margin-top:2rem;
    margin-bottom:1rem;
    @include rem-fallback(min-height,  4.125rem);
    @include rem-fallback(padding-top,  0.7rem);

    .uwm-social & {
      padding:0;
      min-height:inherit;
    }
    @media #{$large-up} {
      margin-top:0;
      margin-bottom:0;

      .uwm-social & {
        padding:0;
        min-height:inherit;
      }
      @include rem-fallback(padding-top, 0.4rem);

    }
    ul{ list-style:none;
      margin:0;
      padding:0;
      text-align:center;
      @media #{$large-up}{

        // text-align:right;
      }
      li{display:inline;
        &:last-child{
          padding-right: 0rem;
        }
        a{
          .icon{
            @include rem-fallback(font-size,  2.3rem);
            @include rem-fallback(padding-right,  0.2rem);
            color:$white;

            @include single-transition(color);

            &:last-of-type{
              padding-right: 0rem;
            }
            @media #{$medium-up}{
              @include rem-fallback(font-size,  3rem);
              @include rem-fallback(padding-right,  0.4rem);
            }
            @media #{$large-up}{
              @include rem-fallback(font-size,  1.75rem);
              @include rem-fallback(padding-right,  0.1rem);
            }
            .in-social-bar &{
              @media #{$medium-up}{
                @include rem-fallback(font-size,  2.3rem);
                @include rem-fallback(padding-right,  0.2rem);
              }
              @media #{$large-up}{
                @include rem-fallback(font-size,  1.75rem);
                @include rem-fallback(padding-right,  0.1rem);
              }
            }

          }
          &:hover,
          &:focus{
            .icon{
              color:$yellow-dark;
              @include single-transition(color);
            }
          }

        }
      }
    }
  }

  .uwm-social-tag{
    text-align:center;
    text-transform:uppercase;
    a{
      display:block;
      font-weight:600;
      display:block;
      font-family: $font-family-sans-condensed-bold;
      color:$white;
      @include rem-fallback(padding-top,  0.7rem);
      @include rem-fallback(font-size,   1.25rem);
      @include single-transition(color);
      &:hover,
      &:focus{
        color:$yellow-dark;
        @include single-transition(color);
        text-decoration:none;
      }
    }
    @media #{$medium-up} {
      text-align:center;
      a{

        @include rem-fallback(font-size,   1.25rem);
      }

    }
    @media #{$large-up} {
      a{
        @include rem-fallback(padding-top,  0rem);

        @include rem-fallback(font-size,   1.75rem);
      }

    }

  }
  .uwm-top-link{
    @include circle(30px);
    background-color:$black;
    position:absolute;
    display:inline-block;
    z-index:map-get($zindex, content);
    @include rem-fallback(top,  -3rem);
    @include rem-fallback(margin-left,   -0.9375rem);
    left:50%;
    text-align:center;
    @include single-transition(background-color);
    @include rem-fallback(font-size, 1rem);
    @include rem-fallback(line-height, 2rem);
    color:$yellow-dark;
    font-weight:bold;
     &:hover,
     &:focus{

      background-color:rgb(63,63,63);
      color:$yellow;
      text-decoration:none;
      @include single-transition(background-color);
    }
    abbr{
      color:$yellow-dark;
      border-bottom:none;
      text-decoration:none;
      cursor:pointer;
    }
  }
  .uwm-login{
    text-align:center;
    //padding: 1rem 0;
    .text-center &{
      padding-top:0;
    }
     @media #{$medium-up} {
       text-align:right;
     }
  }
  .login-link {
    // top: 0;
    // float: right;
    color:$yellow-dark;
    font-family: $font-family-sans-condensed-bold;

    font-weight:bold;
    padding: 0.7rem;
    text-transform:uppercase;
    // position:absolute;
    // right:2rem;
    &:hover,
    &:focus{
      background:$topbar-bg-color;
      color:$yellow;
      text-decoration:none;
      @include single-transition(background-color);
    }
  }