.uwm-header{
  @include clearfix();
  @media #{$large-up} {
    .uwm-pub-article-page &{
      height:169px;
    }
  }
  @media #{$xlarge-up} {
    .uwm-pub-article-page &{
      height:80px;
    }
  }

}
.uwm-header-bar-wrapper{
  .fixed-to-top &,
  .scrollShow &
  {
    top: 0;
    position: fixed;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    .flow-top &{
      position:relative;
    }
  }
  .menu-open &{
    position:relative;
  }
  .uwm-logo-header{

    &.hide-logo{
      height:0;
      overflow:hidden;
      margin:0;
      .bt-menu-open &{
        // @include rem-fallback(height,  2.5rem);
        //   // width:100%;
        //   // max-width:100%;
        //  text-align:center;
        //   @include rem-fallback(margin-top, 1rem);
        //   @media #{$medium-up} {
        //    @include rem-fallback(height,  3rem);

        //        @include rem-fallback(padding-left,  1rem);
        //     }
        //   @media #{$large-up} {
        //      // max-width:15rem;
        //      text-align:left;
        //      // float: left;
        //   }
      }
    }
  }
}
.menu-open ~ .uwm-left{
  margin-top:0;
}
.uwm-header-bar-wrapper{
  @include rem-fallback( min-height, 2.65rem);

  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  z-index:map-get($zindex, header);
  background:$topbar-bg;
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  @media #{$large-up} {
    position:absolute;
  }
  @media #{$xlarge-up} {
    @include rem-fallback( min-height, 4rem);

  }
}

.uwm-header-bar{
  position:relative;
  overflow:hidden;
  margin: 0 auto;
  border-bottom:1px solid #353535;
  @include rem-fallback( min-height, 2.65rem);
  @media #{$medium-up} {
    @include rem-fallback( min-height, 4rem);
  }
  @media #{$xlarge-up} {
    overflow:visible;
  }
}
.row.full-width .row.uwm-header-bar{
  max-width:100%;
}
h1.uwm-site-title{
  @include rem-fallback( padding,  0rem);
  @include rem-fallback( padding-top,  0.250rem);
  // letter-spacing: -0.5px;
}
.columns ,
.column{
  .uwm-web-page &,
  .uwm-pub-article-page &,
  .uwm-web-page-state &{
    &.uwm-site-title{

      @include rem-fallback( padding-right,  0rem);
      @include rem-fallback( padding-left,  0rem);

    }

  }
}
.uwm-site-title{
  font-family: $font-family-sans-condensed-bold;
  @include sotuTextShadow();
  @include rem-fallback(font-size, 1.5rem);
  text-transform: uppercase;
  text-align:center;
  line-height:1.2;
  letter-spacing: 0.5px;
  @include rem-fallback( padding, 0.75rem, 0rem, 0.5rem, 0rem);
  @media #{$xlarge-up} {
    border-bottom:0px solid $gray;
    // text-align:center;
  }
  @media #{$xlarge-up} {
    .search-open & {
      @include rem-fallback(right, 18rem);
      -webkit-transition: 200ms ease right;
      -moz-transition: 200ms ease right;
      -ms-transition: 200ms ease right;
      -o-transition:200ms  ease right;
      transition:200ms  ease right;

    }
    @include rem-fallback(right, 0rem);
    @include rem-fallback(font-size, 2.1rem);
    -webkit-transition: 200ms ease right;
    -moz-transition: 200ms ease right;
    -ms-transition: 200ms ease right;
    -o-transition:200ms  ease right;
    transition:200ms  ease right;
  }
  a {
    color: $white;
    display:inline-block;
    -webkit-transition: 200ms ease color;
    -moz-transition: 200ms ease color;
    -ms-transition: 200ms ease color;
    -o-transition:200ms  ease color;
    transition:200ms  ease color;
    &:hover {
      text-decoration: none;
      color:$yellow-dark;
      -webkit-transition: 200ms ease color;
      -moz-transition: 200ms ease color;
      -ms-transition: 200ms ease color;
      -o-transition:200ms  ease color;
      transition:200ms  ease color;
    }
    @media #{$large-up} {

    }
  }
}
.uwm-logo-header {
  @include rem-fallback(height,  1.875rem);
  // width:100%;
  // max-width:100%;
  text-align:center;
  @include rem-fallback(margin-top, 1rem);
  @media #{$small-up} {
    @include rem-fallback(height,  2.188rem);
  }
  @media #{$medium-up} {
    @include rem-fallback(height,  2.5rem);
  }
  @media #{$xlarge-up} {
    @include rem-fallback(margin-top, 0.65rem);
    @include rem-fallback(height, 2.688rem);
    // @include rem-fallback(padding-left,  1rem);
    text-align:left;
    .search-open & {
      @include rem-fallback(right, 18rem);
      -webkit-transition: 200ms ease right;
      -moz-transition: 200ms ease right;
      -ms-transition: 200ms ease right;
      -o-transition:200ms  ease right;
      transition:200ms  ease right;

    }
    @include rem-fallback(right, 0rem);
    @include rem-fallback(font-size, 2.1rem);
    -webkit-transition: 200ms ease right;
    -moz-transition: 200ms ease right;
    -ms-transition: 200ms ease right;
    -o-transition:200ms  ease right;
    transition:200ms  ease right;
  }
  a{
    // @include rem-fallback(margin-top, 1rem);
    @include rem-fallback(margin-bottom, 0rem);
    background-image:url(../images/uwaterloo-logo.svg);
    background-repeat:no-repeat;
    display:block;
    height:100%;
    width:100%;
    background-position:50% 50%;
    background-size:contain;
    &:hover{
      @include filter(saturate(50%));
    }
    @media #{$xlarge-up} {

    }
    @media #{$xlarge-up} {
      background-position:0 0;
    }
  }
}

.columns,.column{
  &.search-button-wrap{
    @include rem-fallback( padding, 0rem);
  }
  &.navigation-button-wrap{
    @include rem-fallback( padding, 0rem);
  }
}
// NAVIGATION
.navigation-button-wrap{
  text-align:center;
  border-top:1px solid #353535;
  border-right:1px solid #353535;
  width:100%;
  position:relative;
  float:left;
  @include rem-fallback( height, 3rem);
  -webkit-transition: 0s ease left;
  -moz-transition:0s ease left;
  -ms-transition: 0s ease left;
  -o-transition:0s ease left;
  transition: 0s ease left;
  transition:ease left;
  .search-open & {
    left:100%;
    -webkit-transition: 300ms ease left;
    -moz-transition: 300ms ease left;
    -ms-transition: 300ms ease left;
    -o-transition:300ms ease left;
    transition: 300ms ease left;
  }
  @media #{$medium-up} {

  }

  @media #{$xlarge-up} {
    position:absolute;
    top:0;
    right:0;
    border-top:1px solid transparent;
    @include rem-fallback(width, 5.250rem);
    @include rem-fallback( height, 4rem);
    .search-open & {
      left:inherit;
    }
  }
}
[data-nav-visible="true"] {
  visibility:visible;
  opacity:1;
  height:auto;
}
[data-nav-visible="true"] #navigation {
  height:auto;
  visibility:visible;
  opacity:1;
  display:block;
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition:300ms ease all;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
[data-nav-visible="false"] {
  visibility:visible;
  opacity:1;
}
[data-nav-visible="false"] #navigation {
  visibility: hidden;
  opacity:0;
  height:0;
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
a[href="#navigation"], a[href="#navigation"]:focus, a[href="#navigation"]:hover {
  color: $white;
  text-transform:uppercase;
  outline-offset:0;
  @include sotuTextShadow();
}
a[href="#navigation"]:focus, a[href="#navigation"]:hover {
  outline: none;
  outline-offset:0;
  text-decoration:underline;
}
.navigation-button {
  @include rem-fallback(font-size, 0.8rem);
  @include rem-fallback( padding, 1.5rem, 0rem, 0rem, 0rem);
  @include rem-fallback( height, 3rem);
  display: block;
  cursor: pointer;
  position:relative;
  width:100%;
  font-family:$font-bg-book;
  z-index:map-get($zindex, menu);
  span{
    position: absolute;
    top: 25%;
    left:50%;
    @include rem-fallback( margin-left, -0.5rem);
    display: block;
    @include sotuTextShadow();
    @include rem-fallback( height, 0.1rem);
    @include rem-fallback( width, 1rem);
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;

  }
  @media #{$medium-up} {

  }
  @media #{$xlarge-up} {
    @include rem-fallback(width, 5.250rem);
    @include rem-fallback( padding, 2rem, 0rem, 0rem, 0rem);
    @include rem-fallback( height, 4rem);
    span{
      top: 33%;
      @include rem-fallback( height, 0.125rem);
      @include rem-fallback( margin-left, -0.75rem);
      @include rem-fallback( width, 1.5rem);
    }
  }
}
.navigation-button span:before,
.navigation-button span:after {
  @include sotuTextShadow();
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.navigation-button span:before {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}
.navigation-button span:after {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  transform: translateY(300%);
}
.bt-menu-open .navigation-button span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.bt-menu-open .navigation-button span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}


#navigation{
  z-index:map-get($zindex, dropdown);
  position:relative;
}
ul.uwm-main-nav.columns{
  list-style:none;
  padding:0;
  // @include rem-fallback( padding-top, 1rem);
  margin:0;
  background:$dropdown-bg-color;
  position:absolute;
  height:0;
  overflow:hidden;
  z-index:map-get($zindex, menu);
  .menu-open &{
    position:relative;
    height:auto;
    overflow:inherit;
  }
  li{

    @media #{$large-up} {

    }
    text-align:center;
    border-bottom: 1px solid #353535;
    &.active {
      border-top: 1px solid $yellow-dark;
      border-bottom: 1px solid $yellow-dark;
      a{color:$yellow-dark;

      }
    }


    &:hover{


    }
    a{
      font-family:$font-bg-book;
      font-weight:400;
      text-transform:uppercase;
      display:block;
      @include rem-fallback( padding, 0.5rem,0);
      @media #{$xlarge-up} {
        @include rem-fallback(font-size, 1.2rem);
        @include rem-fallback(padding, 1rem,0);
      }

      color:$white;
      &:hover,
      &:focus{

        background:$topbar-bg-color;
        text-decoration:none;
        color:$yellow-dark;
        outline-offset: 0;
      }
    }
  }
}

//

// SEARCH
.search-button-wrap{
  display: none;
  border-right:1px solid #353535;
  border-left:1px solid #353535;
  text-align:center;
  border-top:1px solid #353535;
  width:50%;
  position:relative;
  float:left;
  -webkit-transition: 200ms ease all;
  -moz-transition: 200ms ease all;
  -ms-transition: 200ms ease all;
  -o-transition:200ms  ease all;
  transition:200ms  ease all;
  @include rem-fallback( height, 3rem);
  .search-open & {
    @include rem-fallback(width, 5.250rem);
    background:$header-bg-color;
  }
  @media #{$xlarge-up} {
    float:none;
    position:absolute;
    top:0;
    border-top:1px solid transparent;
    @include rem-fallback(width, 5.250rem);
    @include rem-fallback( height, 4rem);
    @include rem-fallback(right, 5.250rem);
    .search-open & {
      @include rem-fallback(right, 22.250rem);
      @include rem-fallback(width, 5.250rem);
      background:$header-bg-color;
      -webkit-transition: 200ms ease all;
      -moz-transition: 200ms ease all;
      -ms-transition: 200ms ease all;
      -o-transition:200ms  ease all;
      transition:200ms  ease all;

    }

  }
}
a.search-button{
  @include rem-fallback(font-size, 0.8rem);
  z-index:map-get($zindex, menu);
  display: block;
  cursor: pointer;
  width:100%;
  color:$white;
  text-transform:uppercase;
  font-family:$font-bg-book;
  outline-offset:0;
  @include rem-fallback( padding, 1.5rem, 0rem, 0rem, 0rem);
  @include rem-fallback( height, 3rem);
  @include sotuTextShadow();
  &:focus,
  &:hover {
    color:$white;
    outline: none;
    outline-offset:0;
    text-decoration:underline;
  }
  span{
    position: absolute;
    top: 7%;
    @include rem-fallback(font-size, 1.2rem);
    left:50%;
    display: block;
    @include rem-fallback( width, 1rem);
    @include rem-fallback( margin-left, -0.75rem);
    @media #{$xlarge-up} {
      top: 12%;
      left:50%;
      @include rem-fallback(font-size, 1.5rem);
    }
  }
  @media #{$xlarge-up} {
    @include rem-fallback( height, 4rem);
    @include rem-fallback( padding, 2rem, 0rem, 0rem, 0rem);


  }
}



//SEARCH FORM


.uwm-search-wrap{
  background:$header-bg-color;
  position:absolute;
  @include rem-fallback(width, 0rem);
  overflow:hidden;
  right:0;
  -webkit-transition: 0s ease width;
  -moz-transition: 0s ease width;
  -ms-transition:0s ease width;
  -o-transition:0s  ease width;
  transition:0s  ease width;
  height:0;
  .search-open & {
    width: -webkit-calc(100% - 84px);
    width: calc(100% - 84px);
    bottom:0;
    @include rem-fallback( height, 3rem);
  }
  @media #{$xlarge-up} {
    top:0px;
    @include rem-fallback(width, 0rem);
    overflow:hidden;
    @include rem-fallback( height, 4rem);
    .search-open & {
      @include rem-fallback(right, 5.250rem);
      @include rem-fallback(width, 17rem);
      @include rem-fallback( height, 4rem);
      -webkit-transition: 200ms ease width;
      -moz-transition: 200ms ease width;
      -ms-transition: 200ms ease width;
      -o-transition:200ms  ease width;
      transition:200ms  ease width;
    }
  }
}
input.uw-search-term{
  font-family:$font-bg-book;
  .search-open & {
    @include rem-fallback(margin, 0.5rem, 0rem, 0.5rem, 0.85rem);
    @include rem-fallback(padding, 0.5rem);
    @include rem-fallback(height, 2rem);
    width: 90%;
    @media #{$xlarge-up} {
      @include rem-fallback(margin, 0.85rem, 0rem, 1rem, 0.85rem);
      @include rem-fallback(padding, 0.5rem);
    }
  }
}
.bt-menu-open .navigation-button span {
  background-color: transparent;
  @include sotuTextShadow();
}

//Color bar
.uw-site--cbar {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  width: 100%;
  // position:absolute;
  // top:4rem;
  background:black;
  z-index: map-get($zindex, overlay);
  .uw-cbar {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    margin: 0;

    height:0.625rem;
    @media #{$small-up} {
      height:0.875rem;
    }
    @media #{$medium-up} {
      height:1rem;
    }
    @media #{$xlarge-up} {
      height:1.125rem;
    }
  }
}

