.uwm-article-parallax-wrap{
  position:relative;


    @include rem-fallback(min-height, 24.250rem);
    @media #{$large-up} {
       @include rem-fallback(min-height, 40rem);
    } 
     @media #{$xxlarge-up} {
       @include rem-fallback(min-height, 42.750rem);
    }  
  }
  .uwm-article-cover-parallax {
    z-index:map-get($zindex, wrapper);

    background-size:cover; 
    background-color:$middle-gray;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position:relative;
    background-position:center top;
    @include rem-fallback(height, 24.250rem);
    @media #{$large-up} {
       @include rem-fallback(height, 40rem);
    } 
     @media #{$xxlarge-up} {
       @include rem-fallback(height, 42.750rem);
    }

  }
  .no-parallax-bg .uwm-article-cover-parallax {
    background-attachment: scroll;
    background-position:center top;
  }
  .uwm-parallax-intro{
    position:relative;  
    @include rem-fallback(height, 24.250rem);
    @media #{$large-up} {
       @include rem-fallback(height, 40rem);
    } 
     @media #{$xxlarge-up} {
       @include rem-fallback(height, 42.750rem);
    }   
  }
  .uwm-parallax-heading{
      @include  center-align-middle();
      z-index:map-get($zindex, menu);
      background-repeat: no-repeat;
      background-position: 97% 50%;
      top:55%;
      background-size: 40%;
       @include rem-fallback(min-height, 8rem);
   // &::after{
   //    z-index:map-get($zindex, content);
   //    content:"";
   //    position:absolute;
   //    background-repeat: no-repeat;
   //    background-position: 97% 0;
   //    background-size:contain;
   //    @include rem-fallback(height, 15rem);
   //    width:100%;
   //    right:0;
   //    // @include rem-fallback(top, $header-menu-height);
   //    display:block;

   //    @media #{$medium-up} {
   //      height:100%;
   //      background-position: 97% 0;
      
   //    }  
   //    @media #{$large-up} {
   //    @include rem-fallback(height, 15rem);

   //    }
   //  }
     @media #{$medium-up} {


      @include rem-fallback(min-height, 8rem);
      background-size: 25%;
      }  
      @media #{$large-up} {
           top:50%;
          @include rem-fallback(min-height, 15rem);
          // background-size: 30%;

      }
  }
  .uwm-parallax-sub-heading {
    @include rem-fallback(min-height, 1.5rem);
    text-align:center;
    @include rem-fallback(bottom, 3.5rem);
      @media #{$medium-up} {
      
      }  
      @media #{$large-up} {
      }
  }
  // .uwm-article-wrap-wide .columns, 
  // .uwm-article-wrap-wide .column,
  // .uwm-web-page .columns, 
  // .uwm-web-page .column,
  // {
  //    padding-left:0.5rem ;
  //    padding-right:0.5rem ;
  //   @media #{$large-up} {
  //     padding-left:1.25rem ;
  //     padding-right:1.25rem;
  //   }
  // }

  
  .uwm-transition-bar {
    border-top-style: solid;
    border-top-color: $white;
    // @include alpha-attribute('background-color', rgba(green, 0.7), white);
  
    // @include rem-fallback(border-top-width, 1rem);
    // @media #{$large-up} {
    //   @include rem-fallback(border-top-width, 1.25rem);
    // }
  }
  .uwm-article-wrap{
    // @include rem-fallback(margin-top, -0.5rem);
    // @media #{$large-up} {
    //     @include rem-fallback(margin-top, -0.625rem);
    // }  
    background-color:$white;

    @include clearfix(); 
  }
  .uwm-article-wrap-wide{
    // @include rem-fallback(margin-top, -0.5rem);
    // @media #{$large-up} {
    //     @include rem-fallback(margin-top, -0.625rem);
    // }   
  }
  .white-bg{
    background:$white;
  }

  .uwm-article{
    @media #{$large-up} {
       @include rem-fallback(padding-top, 1.5rem);
    }   
  }
  // .uw-sidebar{
  //   display:none;
  //   .no-sidebar &{display:none;}
  //   .show-sidebar &{display:block;}
  // }
  // .uwm-promo-items{
  //   display:none;
  //   .no-sidebar &{display:none;}
  //   .show-sidebar &{display:block;}
  // }
  .uwm-article-content{
       @include rem-fallback(min-height, 40rem);

  }
  .uwm-article-body {
    overflow:hidden;
   a{
      text-decoration:underline;
      &:hover{
        text-decoration:none;
      }
    }
   @include rem-fallback(min-height, 40rem);
    h2,h3,h4,h5,h6{
      @include rem-fallback(margin-top, 2rem);
      @include rem-fallback(margin-bottom, 2rem);
      &.text-center{
        @include rem-fallback(padding-bottom,  1rem);
        @include rem-fallback(padding-bottom,  1rem);
        border-bottom:1px solid $gray;
        clear:both;
      &.uwm-article-quad-heading{
        border-bottom:0px solid $gray;
        @include rem-fallback(margin-top, 2rem);
        @include rem-fallback(margin-bottom, 0rem)
        }
      &.uwm-article-quad-footer{
        border-top:1px solid $gray;
        border-bottom:1px solid $white;

        @include rem-fallback(margin-top, 0rem);
        @include rem-fallback(margin-bottom, 2rem);
        }
      }
    }
   
    ul{
      @include rem-fallback(padding-left, 1.5rem);
      li{
          @include rem-fallback(margin, 0.7rem, 0.5rem);
          @include rem-fallback(padding-left, 0.75rem);
        &.highlighted-fact {
          @include rem-fallback(margin, 2rem,0.5rem);
        }
        @media #{$medium-up}
        {
        
        }
      }
    }
    ol{
      @include rem-fallback(padding-left, 0.75rem);
        li{
        @include rem-fallback(margin, 0.7rem,0);
      }
    }
    ul.circle {
      list-style-type: circle;
      }
      ul.disc {
          list-style-type: disc;
      }
      ul.square {
          list-style-type: square;
      }
      ol.lower-roman {
          list-style-type: lower-roman;
      }
      ol.upper-roman {
          list-style-type: upper-roman;
      }
      ol.lower-alpha {
          list-style-type: lower-alpha;
      }
      ol.upper-alpha {
          list-style-type: upper-alpha;
      }
      ol.decimal {
          list-style-type: decimal;
      }
    ul li > ul,
    ul li > ol,
    ol li > ol,
    ol li > ul {
         @include rem-fallback(margin, 0.7rem, 0rem);
         @include rem-fallback(padding-left, 0.75rem);
      }
    ol li > ol {
        list-style-type: lower-alpha;
    }
    ol li > ol li > ol {
        list-style-type: lower-roman;
    }
    ul li > ul {
        list-style-type: circle;
    }
    ul li > ul li > ul {
        list-style-type: disc;
    }
    .col-50,
    .col-33,
    .col-66,
    .threecol-33 {
        float: left;
        @include rem-fallback(margin-top, 0.25rem);
        @include rem-fallback(margin-bottom, 0.25rem);

    }
    .col-50.first,
    .col-33.first,
    .col-66.first,
    .threecol-33 {
        @media #{$medium-up} {
            margin-right: 2%;
        }  
    }
    .threecol-33.last {
        margin-right: 0;
      }
      .col-50 {
        width:100%;
        @media #{$medium-up} {
               width: 49%;
          }   
         
      }
      .col-33 {
          width:100%;
           @media #{$medium-up} {
               width: 33%;
          }  
        
      }
      .col-66 {
          width:100%;
           @media #{$medium-up} {
              width: 65%;
          }  
          
      }
      .threecol-33 {
          width:100%;
           @media #{$medium-up} {
           width: 32%;
         }  
         
      }
      .half-column {
          width:100%;
          float: left;

         @media #{$medium-up} {
           width: 48%;
           &.first{  margin-right: 2%;}
          }  
            
      }
   
}
  .uwm-article-sidebar {
    display:none;
    &.showme{
    display:block
    }
  
  }

  .uwm-promo-items{
    list-style-type: none;
      opacity:0;
        -webkit-transition: opacity 0.3s  ease;
       -moz-transition: opacity 0.3 ease;
         -o-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;

    .no-sidebar &{
      opacity:0;
        -webkit-transition: opacity 0.3s  ease;
       -moz-transition: opacity 0.3 ease;
         -o-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;

     }
    .show-sidebar &{ 
      opacity:1;
      -webkit-transition: opacity 0.4s ease 1s;
       -moz-transition: opacity 0.4s ease 1s;
         -o-transition: opacity 0.4s  ease 1s;
        -ms-transition: opacity 0.4s  ease 1s;
            transition: opacity 0.4s  ease 1s;
   }
}
// sidebar settings for webpage and publication articles
  // .uw-display-wide-screen {
  //   $width_sidebar: 12rem;
  //   $width_sidebar_large: 15rem;
  //   .uwm-article-body,
  //   .uwm-web-page-body {
  //     @media #{$medium-up} {
  //       float: left;
  //       width: auto;
  //       @include rem-fallback(margin-right, $width_sidebar);
  //     }
  //     @media #{$large-up} {
  //       @include rem-fallback(margin-right, $width_sidebar_large);
  //     }
  //   }
  //   .uw-sidebar {
  //     .show-sidebar &{
  //     display:block;
  //     }
  //   .no-sidebar &{
  //     display:none;
  //     }   
  //     @media #{$medium-up} {
  //       position: absolute;
  //       right: 0;
  //       @include rem-fallback(width, $width_sidebar);
  //     }
  //     @media #{$large-up} {
  //       @include rem-fallback(width, $width_sidebar_large);
  //     }
  //   }
  // }
















  .uwm-article-header{
  }
  .uwm-article-meta{
    @include rem-fallback(min-height, 2.813rem);
    line-height:1.2;
    @include rem-fallback(font-size, 1rem);
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    text-align:center;
  }
  .uwm-article-meta-item{
    // @include rem-fallback(height, 2.813rem);
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
   
    span{    
      color:$white;
      font-family:$font-family-sans-condensed-bold;
      font-weight:600;
      text-transform:uppercase;
    a{color:$white;
      text-decoration:underline;
      &:hover{
        text-decoration:none;
      }
    }
     &.uwm-article-meta-issue{}
     &.uwm-article-meta-type{}
     &.uwm-article-meta-themes{}
     }
  }

  .uwm-header-meta{
    @include rem-fallback(min-height, 3rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(  margin-top,  1.25rem);
    @include rem-fallback(  margin-bottom,   1.1875rem);
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
    a{
      color:$gray;
    }
    @include rem-fallback(font-size, 0.85rem);

    @media #{$medium-up}{
          @include rem-fallback(font-size, 1rem);

    }
    @media #{$large-up}{}
  
    &.sotu-share {
      border-top:0px solid $light-gray;
      border-bottom:0px solid $light-gray;
      clear:both;
    }
    &.sotu-meta{
      text-transform:uppercase;
      font-weight:600;
      border-top:0px solid $light-gray;
      border-bottom:0px solid $light-gray;
      min-height:auto;
      line-height:1.25;
      @include rem-fallback(  margin-top,  1.25rem);
      @include rem-fallback(  margin-bottom,   1.1875rem);
    }
  }
  .uwm-article-author{
    line-height: 1.25;
    @include rem-fallback(padding-bottom, 1.1875rem);
    @media #{$large-up}{
      @include rem-fallback(line-height, 3rem);
      @include rem-fallback(padding-bottom, 0rem);
    }
  }
  .uwm-social-share{
    @include rem-fallback(height, 3rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(  margin-top,  1.25rem);
    @include rem-fallback(  margin-bottom,   1.1875rem);
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
    clear:both;
    .sotu-top-social &{
         @include rem-fallback(  margin-top,  0.5rem);
         @include rem-fallback(  margin-bottom,   0.5rem);
  
      @media #{$large-up}{
         @include rem-fallback(  margin-top,  0rem);
         @include rem-fallback(  margin-bottom,   1rem);
      }
      
    } 
    .uwm-header-meta &{
      clear:none;
      float:right;
      border-top:0px solid $light-gray;
      border-bottom:0px solid $light-gray;
      @include rem-fallback(  margin-top, 0);
      @include rem-fallback(  margin-bottom, 0);

    }
    .sotu-share &{
      float:none;
      text-align:center;
      border-top:0px solid $light-gray;
      border-bottom:0px solid $light-gray;
      @include rem-fallback(  margin-top, 0);
      @include rem-fallback(  margin-bottom, 0);
    }
  }

.uwm-social-share-on{
    float:left;
    color:$black;
    font-family:$font-family-sans-condensed;
    font-weight:300;
    text-transform:uppercase;
    clear:both;
  }
 .uwm-social-share-btns{
    @include rem-fallback(height, 3rem);
    @include rem-fallback(line-height, 3rem);
    @include rem-fallback(margin-left, 3rem);

    .sotu-share &{
      float:none;
    }
    ul{
      list-style: none;
    }
    li{
      display:inline-block;
    }
     a{ display:inline-block;
        @include rem-fallback( padding,   0.5rem, 0.125rem, 0, 0.125rem);
        color:$gray;
        text-decoration:none;
        @include single-transition(color);
        &:hover{
          color: $white;
          text-decoration:none;
          &:before{
          background-color:$gray;
      }

      }
      &:before{
      }
    }    
 }  

  .uwm-article-headline{
// see h1 on _global.scss
  }
  .uwm-article-sub-headline{
// see p on _global.scss
    }
  .uwm-article-author{
    font-family: $body-font-family;
    font-weight:600;
    color: $gray;
    
    @include rem-fallback(font-size, 1.25rem);
    
    @media #{$large-up}{
        float:left;
      }
  }
  .slide-toggle{    
    overflow: hidden;
    -webkit-transition:  height ease 0.3s,visibility 0.3s ease ;
    -moz-transition:   height ease 0.3s,visibility 0.3s ease ;
    -ms-transition:  height ease 0.3s,visibility 0.3s ease ;
    -o-transition:  height ease 0.3s,visibility 0.3s ease ;
    transition: height ease 0.3s,visibility 0.3s ease ; 
    
    [data-slide-toggle]{
      visibility:visible;
    }

    &.ng-show{
      height:0;
      [data-slide-toggle]{
        visibility:hidden;
      }
    }
  }
  .uwm-caption-row {
    background-color:$middle-gray;
   
    .uwm-home-page &{
       background-color: $black;
       p{color:$light-gray;}
    }

  }
  .uwm-article-caption {
    span{
      display:block;
      font-weight:700;
    }
  }




