.uwm-nested-insert{
    display:block;
    @include rem-fallback(margin-top,  2.625rem);
    @include rem-fallback(margin-bottom,  2.625rem);
    cursor:pointer;
    border:2px solid $yellow-dark;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    &:hover{
      background:#fafafa;
      border:2px solid $gray;
      text-decoration:none;

    }
  }
  .uwm-nested-insert-wrap{

clear:both;
  }

  .uwm-nested-insert-info{
     @include rem-fallback(padding,  1rem);
     position:relative;
     .button {
             
       color: $black;
       background-color:none;
       @include rem-fallback( padding-left, 3.5rem);
       @include rem-fallback( padding-right, 2.5rem);
        background-image:url(../images/small-chevron-blk.png);
        background-image:url(../images/small-chevron-blk.svg);

        background-repeat:no-repeat;
        background-position:35px 20px; 
        text-transform:uppercase;
      }
      .button:hover,
      .button:focus,  {
          background: $black;
          background-image:url(../images/small-chevron.png);
          background-image:url(../images/small-chevron.svg);
          background-repeat:no-repeat;
          background-position:35px 20px; 
          color: $white;
          text-decoration:none;
      }

  }
  .uwm-top-white,.uwm-bottom-white{
    background:$white;
    width:90%;
    position:absolute;
    height:3px;
    @media #{$large-up} {
      width:95%;
    }
  }
  .uwm-top-white{
    top:-3px;
  }
  .uwm-bottom-white{
    bottom:-3px;
  }
  .uwm-nested-insert-meta{
      font-family:$font-family-sans-serif;
      font-weight:600;
      text-transform:uppercase;
      text-decoration:none;
      @include rem-fallback(padding,  0, 0, 0.5rem, 0);
      
      color:$gray; 
  }
  .uwm-nested-insert-headline{
    @include rem-fallback(margin,  1rem, 0);
     font-family:$font-family-sans-serif;
      font-weight:600;
      margin:0;
      color:$black;
      text-transform:inherit;
      text-decoration:none;   
      @include rem-fallback(font-size, 2.25rem);
      line-height:1.2;
      @include rem-fallback(margin,  0, 0, 1.250rem, 0);
  

    }
    .uwm-nested-insert-wrap {clear:both;}
   





  .reveal-nested {
    @include rem-fallback(padding,  5rem, 1rem, 3.125rem, 1rem);
    @media #{$medium-up} {
      @include rem-fallback(padding,  5rem, 3.125rem, 3.125rem, 3.125rem);
      width:650px;
      right: 0!important;
      left:inherit!important;
      border-top:4px solid $black;
    }
    .close-nestedArticle{
      right:30%;
      @include rem-fallback(font-size,  1.85rem);

      @media #{$large-up} {
      right:70%;
      }
    }
     
  }
  .uwm-nested-article-meta{
      font-family:$font-family-sans-serif;
      font-weight:600;
      text-transform:uppercase;
      @include rem-fallback(margin,  0, 0, 0.5rem, 0);
      @include rem-fallback(padding,  0, 0, 0.5rem, 0);
     
      color:$gray;
      text-decoration:none;   
  }
 .uwm-nested-article-headline {
      font-family:$font-family-sans-serif;
      font-weight:600;
      margin:0;
      color:$black;
      text-transform:inherit;
      text-decoration:none;   
      @include rem-fallback(font-size, 2rem);
      line-height:1.2;
      @include rem-fallback(margin,  0, 0, 1rem, 0);
  }
  .uwm-nested-article-body{ 
    @include rem-fallback(padding,  0, 0, 2rem, 0);
    p{
      
      &.highlight{
        color:$gray;
      }
    }
  }
