  .uwm-prev-next-articles-wrap {
  }
  .uwm-prev-next-item{
    a{
      @include rem-fallback( min-height, 16rem);
      display:block;
      float:left;
        @include borderEffect(1px, $white, $white, $white, 0px);
        &:hover, &:focus{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);

          // .uwm-next-link,
          // .uwm-previous-link,
          // .uwm-prev-next-cat,
          .uwm-prev-next-headline{
            text-decoration:underline;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-break:break;
            word-wrap: break-word;
          span{
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-break:break;
            word-wrap: break-word;
            }
          }
        }
      @media #{$medium-up}{
         @include rem-fallback( min-height, 21rem);
      }
    }
    &.uwm-previous-article{
      .uwm-prev-next-link{
          float:right;
          text-align:right;
         @include rem-fallback(padding, 0rem, 0.5rem);
        }
    }
    &.uwm-next-article{
      .uwm-prev-next-link{
        @include rem-fallback(padding, 0rem, 0.5rem);
        float:left;
      }
    }

  }
  .uwm-prev-next-img{
    height: 12rem;
    float:left;
    figure{
       }
     img{
      padding:0;

      width:80%;
     }
  }
  .uwm-prev-next-link{
    @include rem-fallback(margin, 0.5rem, 0rem, 1rem, 0rem);
  }
  .uwm-next-link,.uwm-previous-link{
    font-family:$font-1451-bold;
    color: $black;
    font-weight:300;
    text-transform:uppercase;
    display: inline-block;
    @include rem-fallback(padding, 0.125rem,0.5rem);
    margin-top:0;
    @include rem-fallback(font-size, 0.825rem);

   }
.uwm-prev-next-cat{
  text-align:right;
  display:block;
  text-transform:uppercase;
  @include rem-fallback(font-size, 0.825rem);
  font-family:$font-family-sans-condensed;
  .uwm-next-article &{
      text-align:left;
    }


    @media #{$medium-up}{
       @include rem-fallback(font-size, 1rem);
    }
    @media #{$large-up}{
       @include rem-fallback(font-size, 1rem);
    }
}


