// .uw_video-embed object {
//   width: 100%;  
//     @include rem-fallback(height, 12rem);
//      @media #{$medium-up} {
//       @include rem-fallback(height, 18.750rem);
//     }
//     @media #{$large-up} {
//       @include rem-fallback(height, 33.750rem);
//     }
// }
// .wide .uw_video-embed object {
//     @include rem-fallback(height, 27.750rem);
//     @media #{$large-up} {
//       @include rem-fallback(height, 33.750rem);
//     }

// }


.uw_video-embed,.wide .uw_video-embed ,.vimeoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  @include rem-fallback(padding-top, 1.563rem);
  height: 0;
  @include rem-fallback(margin-bottom, 0.5rem);
}
.uw_video-embed,.wide .uw_video-embed,.vimeoWrapper  {
object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clear:both;
  @include rem-fallback(margin-bottom, 0.5rem);
  }
  div{
    margin-top: 57%;
  } 
}
.uw_video-embed,.wide .uw_video-embed,.vimeoWrapper  {
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clear:both;
  @include rem-fallback(margin-bottom, 0.5rem);
  }
}


.image-left {float:left; margin: 0 1em 1em 0;}
.image-right {float: right; margin: 0 0 1em 1em;}
.image-center {display: block; margin: auto;}
img.block-image {
    display: block;
}
img.block-image.space-bottom-like-column {
    margin-bottom: 20px;
}
.wide img.block-image.space-bottom-like-column {
    margin-bottom: 30px;
}
#uwm-main-content object {
    max-width: 100%;
}



/* div templates */
.half-column {float: left; width: 240px;}
.half-column.first {margin-right: 20px;}

 .uwm-article-wrap img {
  height: auto;
  width: auto;
  max-width: 100%;
}
 .uwm-article-wrap img.block-image {
  display: block;
}
 .uwm-article-wrap img.block-image.space-bottom-like-column {
  margin-bottom: 20px;
}
.wide img.block-image.space-bottom-like-column {
  margin-bottom: 30px;
}
 .uwm-article-wrap  object {
  max-width: 100%;
}
.ie-resize-fix {
  height: 1em;
}