<!-- home.html -->
<style data-ng-if="pubType !=='sotu3'" data-ng-style>
  .uwm-hero-feature{background-image: url('{{ nodes[0].feature_image.styles.size540x370 }}');}
  @media only screen and (min-width: 48.063em){
    .uwm-hero-feature{background-image: url('{{ nodes[0].feature_image.styles.original }}');}
  }
</style>
<style data-ng-if="pubType === 'sotu3'" data-ng-style>
 .uwm-hero-feature {background-image: url('apps/uw_publication/images/sotu3hero-540.jpg');}
 @media only screen and (min-width: 48.063em){
   .uwm-hero-feature {background-image: url('apps/uw_publication/images/sotu3hero.jpg');}
 }
</style>
<!-- If publication type is 'mag' -->
<div data-ng-if="pubType ==='magazine'" class="uwm-hero-feature" id="uwm-hero-feature">
  <div class="loading" data-ng-if="!dataHasLoaded">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
  <a href="{{ nodes[0].alias }}">
  <div class="uwm-img-tran">
    <div class="uwm-hero-info small-12 small-centered columns">
      <h2 class="uwm-hero-headline" data-ng-bind-html="nodes[0].headline"></h2>
      <p class="uwm-hero-sub-headline" data-ng-bind-html="nodes[0].sub_headline"></p>
      <div data-ng-if="dataHasLoaded"  class="hero-button">
        <span class="button">Read More</span>
      </div>
    </div>
  </div>
  </a>
</div>
<div data-ng-if="pubType ==='magazine'"  class="uwm-on-this-page">
  <div class="row">
    <div class="uwm-issue-title " id="uwm-issue-title">
      <h2 data-ng-if="dataHasLoaded" class="small-12  small-centered medium-6 columns"><span class="uwm-capitalize">Inside <span data-ng-bind-html="issueName"></span></span></h2>
    </div>
  </div>
</div>
<div data-ng-if="pubType ==='magazine'"  class="uwm-feature-hp-block row">
  <div class="small-12 columns">
    <div class="uwm-feature-hp-wrap">
      <ul class="uwm-feature-hp-list small-block-grid-1">
        <li id="uwm-feature-hp-{{node.id}}" class="uwm-feature-hp uwm-animate"   data-ng-repeat="node in nodes |  filter : { category : 'Feature' } | limitTo: 4"  data-ng-show="!$first">
          <a href="{{ node.alias }}">
            <div class="uwm-feature-hp-img">
              <figure class="effect-lily">
                <img data-ng-src="{{ node.feature_image.styles.cover_photo }}" alt="{{node.feature_image.alt}}">
                <figcaption>
                  <div class="umw-image-info">
                    <p>
                      <span class="button">Read more</span>
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="uwm-feature-hp-info">
              <h3  class="uwm-feature-hp-headline" data-ng-bind-html="node.headline "></h3>
              <p class="uwm-feature-hp-sub" data-ng-bind-html="node.sub_headline"></p>
              <p class="uwm-feature-hp-teaser" data-ng-bind-html="node.teaser"></p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='magazine'">
  <div class= "row">
  <div data-ng-if="(nodes|filter:{category : '!Feature'}).length != 0" class= "">
    <h2   class="small-11  uwm-also-header  columns">Also in this issue</h2>
  </div>
  </div>
  <div data-ng-if="(nodes|filter:{category : '!Feature'}).length != 0"  class="uwm-secondary-block row">
    <div class="small-12 columns">
      <div class="uwm-secondary-wrap">
        <ul class="uwm-secondary-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <li id="uwm-secondary-hp-{{node.id}}" class="uwm-secondary-hp uwm-animate" data-ng-repeat="node in nodes | filter :{category : '!Feature'} ">
            <div class="uwm-secondary-meta">
              <a href="{{node._embedded['hal:publication_categories_no_metadata'][0].alias}}" data-ng-bind-html="node.category[0]"></a>
            </div>
            <a href="{{ node.alias }}">
              <div class="uwm-secondary-img">
                <figure class="effect-lily">
                  <img data-ng-src="{{node.feature_image.styles.size540x370}}" alt="{{node.feature_image.alt}}">
                  <figcaption>
                    <div class="umw-image-info">
                      <p>
                        <span data-ng-if="dataHasLoaded" class="button">Read more</span>
                      </p>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="uwm-secondary-info">
                <h3 class="uwm-secondary-headline" data-ng-bind-html="node.headline">

                </h3>
                <span class="uwm-secondary-sub" data-ng-bind-html="node.sub_headline"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<!-- /mag -->


<!-- If publication type is 'pub' -->
<div data-ng-if="pubType ==='publication'"  class="uwm-hero row full-width">
  <div class="loading" data-ng-if="!dataHasLoaded">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
  <div class="uwm-hero-feature" id="uwm-hero-feature">
    <a href="{{ nodes[0].alias }}">
      <div class="uwm-img-tran">
        <div class="uwm-hero-info small-12 small-centered columns">
          <h2 class="uwm-hero-headline" data-ng-bind-html="nodes[0].headline"></h2>
          <p data-ng-if="nodes[0].sub_headline" class="uwm-hero-sub-headline" data-ng-bind-html="nodes[0].sub_headline"></p>
          <div data-ng-if="dataHasLoaded"  class="hero-button">
            <span class="button">Read More</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div data-ng-if="pubType ==='publication'"  class="uwm-on-this-page">
  <div class="row">
    <div class="uwm-issue-title" id="uwm-issue-title">
      <h2 data-ng-if="dataHasLoaded" class="small-11 fade small-centered medium-12 columns">Inside <span data-ng-bind-html="issueName"></span></h2>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='publication'"  class="row">
  <div class="uwm-pub-cat columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
      <li id="uwm-pub-cat-listing-{{ node.id }}" class="uwm-pub-cat-listing fade" data-ng-repeat="node in nodes |  filter : { category : 'Feature' } | limitTo: 5"  data-ng-show="!$first">
        <a href="{{ node.alias }}">
          <div class="uwm-pub-cat-img-wrap small-12 large-4 columns">
            <div class="uwm-pub-cat-img">
              <figure class="effect-lily">
                <img data-ng-src="{{ node.feature_image.styles.size540x370 }}" alt="{{ node.feature_image.alt}}">
                 <figcaption>
                   <div class="umw-image-info">
                     <p><span class="button">Read more</span></p>
                   </div>
                 </figcaption>
              </figure>
            </div>
          </div>
        </a>
        <div class="uwm-pub-cat-info small-12 large-8 columns">
          <div class="uwm-pub-cat-issue"  data-ng-bind-html="node._embedded['hal:publication_issues_basic'][0].issue"></div>
          <h3 class="uwm-pub-cat-headline"><a href="{{ node.alias }}" data-ng-bind-html="node.headline"></a></h3>
          <p class="uwm-pub-cat-subheadline" data-ng-bind-html="node.sub_headline"></p>
          <p class="uwm-pub-cat-exerpt" data-ng-bind-html="node.teaser"></p>
          <hr/>
          <span class="uwm-pub-cat-name">
            <span class="cat-type">Category:</span>
            <span  class="" data-ng-repeat="category in node._embedded['hal:publication_categories_no_metadata']">
              <a href="{{category.alias}}" data-ng-bind-html="category.name"></a>
              <!--  <span data-ng-if="!$last">,</span> -->
            </span>
          </span>
          <div data-ng-if="node._embedded['hal:publication_themes_no_metadata'][0]" class="uwm-pub-cat-theme">
            <span class="cat-theme">Theme:</span>
            <!-- span data-ng-bing-html="node._embedded['hal:publication_themes_no_metadata'][0].label"></span> -->
            <span  data-ng-repeat="theme in node._embedded['hal:publication_themes_no_metadata']">
              <a href="{{theme.alias}}"data-ng-bind-html="theme.name" ></a>
            </span>
          </div>
        </div>
      </li>
    </ul>
    <div class="more-feature"><a class="button" href="categories/feature">More featured articles</a></div>
  </div>
</div>
<!-- /pub type pub -->

<!-- If publication type is 'report' -->
<div data-ng-if="pubType ==='report'" data-ng-class="{'caption-active':!caption}" class="uwm-hero row full-width">
  <div class="loading" data-ng-if="!dataHasLoaded">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
     </div>
  </div>
  <div class="uwm-hero-feature" id="uwm-hero-feature">
    <div class="uwm-img-tran"></div>
    <div class="uwm-hero-info">
      <div class="uwm-hero-heading small-11 small-centered medium-10 large-10  columns">
        <h2 class="uwm-hero-headline" data-ng-bind-html="nodes[0].headline"></h2>
        <p class="uwm-hero-teaser" data-ng-bind-html="nodes[0].teaser"></p>
      </div>
      <!--           <p class="uwm-hero-sub-headline" data-ng-bind-html="nodes[0].sub_headline"></p>
              <div data-ng-cloak class="hero-button">
                  <a href="{{ nodes[0].alias }}" data-ng-bind-html="readMore" class="button"></a>
             </div>
       -->
    </div>
    <div data-ng-hide = "!nodes[0].feature_image.caption">
      <button  tabindex="0" data-ng-class="{'caption-active':!caption, 'showScroll':boolChangeClass}" class="caption-toggle" data-ng-click="caption=!caption">Caption</button>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='report'" class="slide-toggle" data-slide-toggle data-ng-hide="caption">
  <div class="row uwm-caption-row full-width">
    <div class="row">
      <div class="uwm-article-caption small-12 columns" data-slide-toggle data-caption-visible="false" aria-hidden="true">
        <div data-ng-bind-html="nodes[0].feature_image.caption"></div>
      </div>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='report'" data-slide-toggle data-ng-show="caption">
  <div class="row uwm-caption-row full-width">
  </div>
</div>

<div data-ng-if="pubType ==='report'" class="uwm-on-this-page">
  <div class="row">
    <div class="uwm-issue-title" id="uwm-issue-title">
     <h2 data-ng-if="dataHasLoaded" class="small-11 fade small-centered medium-12 columns">Inside <span data-ng-bind-html="issueName"></span></h2>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='report'" class="uwm-feature-hp-block row">
  <div class="small-12 columns">
    <div class="uwm-feature-hp-wrap">
      <ul class="uwm-feature-hp-list small-block-grid-1">
        <li class="uwm-feature-hp fade"   data-ng-repeat="node in nodes |  filter : { category : 'Feature' }"  data-ng-show="!$first">
          <a class="uwm-feature-hp-alias" href="{{ node.alias}}">
            <div class="uwm-feature-hp-img">
              <figure class="effect-ruby">
                <img data-ng-src="{{ node.feature_image.styles.cover_photo }}" alt="{{node.feature_image.alt}}">
                <figcaption>
                <!--  <div class="umw-image-info">
                       <span class="effect">
                       <span class="button">Read more</span>
                       </span>
                       </div>-->
                </figcaption>
              </figure>
            </div>
            <div class="uwm-feature-hp-info">
              <!-- <div class="uwm-pub-cat-issue" data-ng-bind-html="nodes[0]._embedded['hal:publication_issues_basic'][0].name"></div> -->
              <h3 class="uwm-feature-hp-headline" data-ng-bind-html="node.headline "></h3>
                <span class="uwm-feature-hp-sub" data-ng-bind-html="node.sub_headline"></span>
                <span class="uwm-feature-hp-teaser" data-ng-bind-html="node.teaser"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='notshowme'" >
  <div class="uwm-on-this-page">
    <div class="row">
      <div class="uwm-issue-title">
        <h2 class="small-11  small-centered medium-6 columns">Also in this issue</h2>
      </div>
    </div>
  </div>
  <div class="uwm-secondary-block row">
    <div class="small-12 columns">
      <div class="uwm-secondary-wrap">
        <ul class="uwm-secondary-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <li id="uwm-secondary-hp-{{node.id}}" class="uwm-secondary-hp uwm-animate" data-ng-repeat="node in nodes | filter :{category : '!Feature'} ">
            <div class="uwm-secondary-meta"><a href="{{node._embedded['hal:publication_categories_no_metadata'][0].alias}}" data-ng-bind-html="node.category[0]"></a></div>
            <a href="{{node.alias }}">
              <div class="uwm-secondary-img">
                <figure class="effect-ruby">
                  <img data-ng-src="{{node.feature_image.styles.size540x370}}" alt="{{node.feature_image.alt}}">
                  <figcaption>
                            <!-- <div class="umw-image-info">
                              <span class="effect">
                                <span class="button">Read more</span>
                              </span>
                            </div> -->
                  </figcaption>
                </figure>
              </div>
              <div class="uwm-secondary-info">
                <h3 class="uwm-secondary-headline">
                  <a href="{{ node.alias }}" data-ng-bind-html="node.headline"></a>
                </h3>
                <span class="uwm-secondary-sub" data-ng-bind-html="node.sub_headline"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /report -->

<!-- If publication type is 'sotu3' -->
<div data-ng-if="pubType ==='sotu3'" class="uwm-left">
  <div class="uwm-hero">
    <div class="loading" data-ng-if="!dataHasLoaded">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <div class="uwm-hero-feature" id="uwm-hero-feature">
      <div class="uwm-hero-info">
        <div class="uwm-hero-heading small-12 columns">
          <h2 class="uwm-hero-headline"><span>beyond</span> Innovation</h2>
        </div>
        <div class="small-12 columns">
          <div data-ng-if="pubType ==='sotu3'" class="uwm-issue-title-small" >
            <div class="org-wrap">
              <p>2016-17 STATE OF THE UNIVERSITY REPORT</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='sotu3'" class="uwm-right page-animation-wrapper">
  <div  class="uwm-feature-cover-block row">
    <div class="small-11 small-centered  columns">
      <!-- <h2 class="" data-ng-bind-html="nodes[0].headline"></h2> -->
      <h3 class="" data-ng-bind-html="nodes[0].sub_headline"></h3>
      <div class="" data-ng-bind-html="nodes[0].teaser"></div>
    </div>
  </div>
  <div class="uwm-on-this-page">
    <div class="row">
      <div class="uwm-issue-title" id="uwm-issue-title">
        <h2 data-ng-if="dataHasLoaded" class="small-11  fade small-centered medium-12 columns">Inside <span data-ng-bind-html="issueName"></span></h2>
      </div>
    </div>
  </div>
  <div data-ng-if="pubType ==='sotu3'" class=" row">
    <div class="uwm-feature-hp-block">
      <div class="uwm-feature-hp-wrap">
        <ul class="uwm-feature-hp-list">
          <li class="uwm-feature-hp fade"   data-ng-repeat="node in nodes |  filter : { category : 'Feature' }"  data-ng-show="!$first">
            <a class="uwm-feature-hp-alias" href="{{ node.alias}}">
              <div class="uwm-feature-hp-info">
                <p data-ng-bind-html="node.sub_headline"></p>
              </div>
              <div class="uwm-feature-hp-img">
                <figure class="effect-lily">
                  <img data-ng-src="{{ node.image_position[0].styles.original }}" alt="{{node.feature_image.alt}}">
                  <figcaption>
                    <span class="effect">
                      <h3 class="sotu-feature-hp-headline" data-ng-bind-html="node.headline "></h3>
                    </span>
                  </figcaption>
                </figure>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <footer data-ng-if="pubType === 'sotu3'" id="uwm-footer">
    <div class="uwm-footer row full-width">
      <div class="uwm-footer-inner row">
        <div class="small-12 columns"><a class="uwm-top-link" href="javascript:void(0);" onClick="uwmScrollTopSOTU();">^</a></div>
        <div class="small-10 small-centered medium-6 large-3 large-uncentered columns no-padding-right"  data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }" >
          <div class="uwm-affiliate-title ">
            <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" ng-bind-html="metaData().settings.faculty_or_dept"></a>
          </div>
          <div class="uwm-affiliate-logo">
            <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
              <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" border="0"/>
            </a>
          </div>
           <!--    <div class="uwm-university-logo">
                    <a class=" uwm-footer-uw-link" href="https://uwaterloo.ca">
                      <img data-ng-src="apps/uw_publication/images/uw-logo-white-h.png" alt="University of Waterloo Logo" border="0"/>
                   </a>
            </div> -->
          <div id="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
            <div class="element-hidden">
              <div property="v:fn">University of Waterloo</div>
              <div rel="v:org">
                <div property="v:organisation-name">University of Waterloo</div>
              </div>
              <div rel="v:geo">
                <div property="v:latitude">43.471468</div>
                <div property="v:longitude">-80.544205</div>
              </div>
            </div>
            <div rel="v:adr">
              <div property="v:street-address">200 University Avenue West</div>
              <div>
                <span property="v:locality">Waterloo</span>,
                <span property="v:region">ON</span>,
                <span property="v:country-name">Canada</span>&nbsp;
                <span property="v:postal-code">N2L 3G1</span>
              </div>
            </div>
            <div class="uw-footer-phone" rel="v:tel">
              <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
            </div>
          </div>
        </div>
        <div class="small-8 small-centered medium-6 large-6 large-uncentered columns no-padding ">
          <nav role="navigation" class="uwm-footer-nav" data-ng-controller="FooterMenuController">
            <ul>
              <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
            </ul>
          </nav>
        </div>
        <div class="small-12 small-centered  medium-8 large-3 large-uncentered columns ">
          <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade  delay1500 uwm-subscribe-button">
            <a class="button" href="{{ metaData().settings.subscription_link }}">Contact Us</a>
          </div>
          <div data-ng-if="metaData().settings.subscription_link == NULL" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="uwm-social row full-width">
      <div class="uwm-social-inner row">
        <div data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}"  class="uwm-social-tag small-12 large-offset-4 large-4 columns">
          <a href="https://twitter.com/search?q=%23UWaterlooBeyond">#UWaterlooBeyond</a>
        </div>
        <div data-ng-if="metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 columns in-social-bar">
          <div data-ng-if="metaData().settings.subscription_link != NULL" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }} "></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- /sotu3 -->

