  <!-- publication_article.html -->
    <style data-ng-style>
        .uwm-article-cover-parallax {background-image: url('{{node[0].feature_image.styles.size540x370}}');}
      @media only screen and (min-width: 48.063em){
         .uwm-article-cover-parallax {background-image: url('{{node[0].feature_image.styles.original}}');}
      }
    </style>
<!-- If publication type is 'mag' -->
  <div data-ng-if="pubType === 'magazine'" class="uwm-article-cover-parallax row full-width is-parallax">
    <div class="loading fade" data-ng-if="!dataHasLoaded">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </div>
  <div data-ng-if="pubType === 'magazine'" class="uwm-article-wrap-wide">
     <div class="row">
         <div class="uwm-article-meta small-12 medium-11  columns">
            <span>{{issues[0].name}}<span data-ng-if="themes||node[0]._embedded['hal:publication_types_no_metadata'][0]">,&nbsp;</span></span>
            <span class="uwm-animate" data-ng-if="node[0]._embedded['hal:publication_types_no_metadata'][0]"><a href="{{node[0]._embedded['hal:publication_types_no_metadata'][0].alias}}">{{node[0]._embedded['hal:publication_types_no_metadata'][0].label}}</a></span>
            <span data-ng-if="themes">
            <span data-ng-repeat="theme in themes">
            <a href="{{theme.alias}}">{{theme.label}}</a><span data-ng-if="!$last">,&nbsp;</span></span>
         </div>
     </div>

    <div class="row">
      <div id="uwm-article" class="uwm-article medium-11 medium-centered  columns">
        <h1 class="uwm-article-headline" data-ng-bind-html="headline"></h1>
        <h2 data-ng-if="node[0].sub_headline"  data-ng-bind-html="sub_headline" class="uwm-article-sub-headline"></h2>
        <p data-ng-if="authors" class="uwm-article-author">
          <span data-ng-repeat="author in authors">
          <a data-ng-if="author.field_profile_link.und[0].url" href="{{author.field_profile_link.und[0].url}}"><span>{{author.field_author_name.und[0].value}}</span></a>
          <span data-ng-if="!author.field_profile_link.und[0].url" >{{author.field_author_name.und[0].value}}</span>
            <span data-ng-if="!$last">,&nbsp;</span>
          </span>
        </p>
        <div data-ng-if="pubType === 'magazine'" class="row">
          <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav">
            <div class="uwm-sub-articles">
              <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
                <li data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" class="uwm-sub-item" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
                  <style data-ng-style>
                   .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
                  </style>
                  <a href="{{subNavigationArticle.alias}}">
                    <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                    <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
         <!-- Moderation block -html-->
        <div data-ng-if="trustedModerationTabs" class="tab-options" data-ng-bind-html="trustedModerationTabs"></div>
        <div data-ng-if="trustedModerationBlock" class="block-options" data-ng-bind-html="trustedModerationBlock"></div>
        <div class="uwm-social-share">
          <div class="uwm-social-share-on"> Share:</div>
          <div class="uwm-social-share-btns">
            <ul>
              <li>
                  <a href="#" class="fi-social-facebook step size-28"
                  socialshare
                  socialshare-provider="facebook"
                  socialshare-text="{{metaData().metatags['og:description']}}"
                  socialshare-url="{{metaData().metatags['og:url']}}"
                  socialshare-media="{{metaData().metatags['og:image']}}"
                  socialshare-popup-height="400"
                  socialshare-popup-width="800"
                  socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                </a>
              </li>
              <li>
                <a href="#"  class="fi-social-twitter step size-28"
                  socialshare
                  socialshare-provider="twitter"
                  socialshare-text="{{metaData().metatags['og:description']}}"
                  socialshare-url="{{metaData().metatags['og:url']}}"
                  socialshare-media="{{metaData().metatags['og:image']}}"
                  socialshare-popup-height="400"
                  socialshare-popup-width="800"
                  socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                </a>
              </li>
              <li>
                <a href="#"  class="fi-social-linkedin step size-28"
                  socialshare
                  socialshare-provider="linkedin"
                  socialshare-text="{{metaData().metatags['og:description']}}"
                  socialshare-url="{{metaData().metatags['og:url']}}"
                  socialshare-media="{{metaData().metatags['og:image']}}"
                  socialshare-popup-height="400"
                  socialshare-popup-width="800"
                  socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="uwm-article-body" data-ng-bind-html="trustedContentBody"></div>
        <div class="uwm-social-share">
          <div class="uwm-social-share-on"> Share:</div>
          <div class="uwm-social-share-btns">
            <ul>
              <li>
                <a href="#"  class="fi-social-facebook step size-28"
                  socialshare
                  socialshare-provider="facebook"
                  socialshare-text="{{metaData().metatags['og:description']}}"
                  socialshare-url="{{metaData().metatags['og:url']}}"
                  socialshare-media="{{metaData().metatags['og:image']}}"
                  socialshare-popup-height="400"
                  socialshare-popup-width="800"
                  socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                </a>
              </li>
              <li>

                <a href="#"  class="fi-social-twitter step size-28"
                  socialshare
                  socialshare-provider="twitter"
                  socialshare-text="{{metaData().metatags['og:description']}}"
                  socialshare-url="{{metaData().metatags['og:url']}}"
                  socialshare-media="{{metaData().metatags['og:image']}}"
                  socialshare-popup-height="400"
                  socialshare-popup-width="800"
                  socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                </a>
              </li>
              <li>
                <a href="#"  class="fi-social-linkedin step size-28"
                  socialshare
                  socialshare-provider="linkedin"
                  socialshare-text="{{metaData().metatags['og:description']}}"
                  socialshare-url="{{metaData().metatags['og:url']}}"
                  socialshare-media="{{metaData().metatags['og:image']}}"
                  socialshare-popup-height="400"
                  socialshare-popup-width="800"
                  socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                </a>

              </li>
            <ul>
          </div>
        </div>
            <!--sub article nav bottom-->
        <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav-bottom row">
          <div class="uwm-sub-articles">
            <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
              <li class="uwm-sub-item"  data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
                <a href="{{subNavigationArticle.alias}}" filter>
                  <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                  <style>
                    .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
                  </style>
                  <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row full-width"  data-ng-controller="TestimoniesPromoController">
      <div data-ng-repeat="item in items |  filter :{categories:'Testimonies'} | limitTo:1 " data-ng-class="item.background_image.styles ? 'uwm-testimonials-wrap': 'uwm-testimonials-wrap-nobg'">
       <div class="uwm-testimonials uwm-testimonials-{{item.id}}">
         <div class="row">
           <div class="small-12 small-centered large-11  columns">
             <div class="uwm-testimonials-content">
               <h2  data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h2>
               <div data-ng-class="{'uwm-testimonial-padding':item.heading_hidden}" class="uwm-testimonial-body" data-ng-bind-html="item.trustedContent"></div>
             </div>
           </div>
           <style data-ng-if="item.background_image.styles">
            .uwm-testimonials-{{item.id}}{background-image: url('{{ item.background_image.styles.original }}');}
           </style>
         </div>
        </div>
      </div>
    </div>

    <div data-ng-if="previousArticles || nextArticles" style="height:0px; visibility:hidden; overflow:hidden;">
      <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
      <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
    </div>
      <!-- previous next-->
    <div data-ng-if="previousArticles || nextArticles" class="uwm-prev-next-articles-wrap  ">
      <div class="row">
        <div class="uwm-article-section-header  small-11 small-centered  large-12 large-uncentered columns">
              
        </div>
        <div class="uwm-related-articles-header small-12 medium-11 medium-centered  columns">
          <h2>More about <span data-ng-bind-html="issues[0].name"></span></h2>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered large-12 large-uncentered columns">
          <ul class="uwm-prev-next small-block-grid-2">
            <li class="uwm-prev-next-item uwm-previous-article">
              <a href="{{previousArticles[0].alias}}">
                <div class="uwm-prev-next-img">
                  <figure class="effect-lily">
                    <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{previousArticles[0].feature_image.alt}}">
                    <figcaption>
                      <div class="umw-prev-next-info">
                      <span class="effect">
                      <span class="button">Read More</span>
                      </span>
                      </div>
                    </figcaption>
                  </figure>
                </div>
                <div class="uwm-prev-next-link ">
                  <div class="uwm-previous-link text-right">&lt; previous</div>
                  <span class="uwm-prev-next-cat"   data-ng-bind-html="previousArticles[0].category"></span>
                  <span class="uwm-prev-next-headline" data-ng-bind-html="previousArticles[0].headline"></span>
                </div>
              </a>
            </li>
            <li class="uwm-prev-next-item uwm-next-article">
              <a href="{{nextArticles[0].alias}}">
                <div class="uwm-prev-next-img">
                  <figure class="effect-lily">
                    <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
                    <figcaption>
                      <div class="umw-prev-next-info">
                         <span class="effect">
                          <span class="button">Read More</span>
                          </span>
                      </div>
                
                    </figcaption>
                  </figure>
                </div>
                <div class="uwm-prev-next-link">
                  <div class="uwm-next-link">next &gt;</div>
                  <span class="uwm-prev-next-cat" data-ng-bind-html="nextArticles[0].category"></span>
                  <span class="uwm-prev-next-headline" data-ng-bind-html="nextArticles[0].headline"></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-if="relatedArticles" class="uwm-related-articles-wrap">
      <div class="row">
        <div class="uwm-related-articles-header small-12 medium-11 medium-centered  columns">
          <h2>Related Articles</h2>
        </div>
      </div>
      <div class="row">
        <div class="uwm-related-articles small-11 small-centered large-12 large-uncentered columns">
          <ul class="uwm-related-list small-block-grid-1 large-block-grid-3">
            <li id="uwm-related-item-{{relatedArticle.id}}" class="uwm-related-item" data-ng-repeat="relatedArticle in relatedArticles">
              <a href="{{relatedArticle.alias}}">
                <div class="uwm-related-img">
                  <figure class="effect-lily">
                    <img data-ng-src="{{ relatedArticle.feature_image.styles.size540x370}}" alt="{{relatedArticle.feature_image.alt}}">
                    <figcaption>
                      <div class="umw-image-info">
                        <p>
                          <span class="button">Read more</span>
                        </p>
                      </div>
                    </figcaption>
                  </figure>
                </div>
                <div class="uwm-related-info">
                  <h3 class="uwm-related-headline" data-ng-bind-html="relatedArticle.label"></h3>
                  <p class="uwm-related-sub" data-ng-bind-html="relatedArticle.sub_headline"></p>
                </div>
              </a>
            </li>
     
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="pubType === 'magazine'" class="uwm-nested-articles" data-ng-repeat="nestedArticle in nestedArticles">
    <div id="nestedArticle-{{nestedArticle.id}}" data-nested-id="" class="reveal-nested" data-reveal aria-hidden="true" role="dialog">
      <a class="close-nestedArticle button" data-close-nested-id=""  href="#"  aria-label="Close">Close</a>
      <div class="uw-nested-feature"><img alt="Feature image" data-ng-src="{{nestedArticle.feature_image.styles.size540x370}}"/></div>
      <div class="uwm-nested-article-meta">Article Sidebar<span data-ng-if="node[0]._embedded['hal:publication_themes_no_metadata'][0].label">, {{node[0]._embedded['hal:publication_themes_no_metadata'][0].label}}</span></div>
      <h2 class="uwm-nested-article-headline" data-ng-bind-html="nestedArticle.headline"></h2>
      <div class="uwm-nested-article-body-wrap">
        <div class="uwm-nested-article-body" data-ng-bind-html="nestedArticle.trustedNestedContentBody">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
<!-- /mag -->
<!-- If publication type is 'pub' -->
  <div data-ng-if="pubType === 'publication'"  class="uwm-article-cover-parallax row full-width is-parallax">
    <div class="loading fade" data-ng-if="!dataHasLoaded">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </div>
  <div data-ng-if="pubType === 'publication'"  class="uwm-article-wrap">
    <div class="row uwm-transition-bar">
      <div id="uwm-article" class="uwm-article medium-11 medium-centered columns">
        <div class="uwm-article-header">
          <div class="uwm-article-meta">
            <span>{{issues[0].name}}<span data-ng-if="themes||node[0]._embedded['hal:publication_types_no_metadata'][0]">,&nbsp;</span></span>
            <span class="uwm-animate" data-ng-if="node[0]._embedded['hal:publication_types_no_metadata'][0]"><a href="{{node[0]._embedded['hal:publication_types_no_metadata'][0].alias}}" data-ng-bind-html="node[0]._embedded['hal:publication_types_no_metadata'][0].label"></a>
            <span data-ng-if="!$last">,&nbsp;</span></span>
            <span data-ng-if="themes">
              <span data-ng-repeat="theme in themes">
                <a href="{{theme.alias}}">{{theme.label}}</a><span data-ng-if="!$last">,&nbsp;</span>
              </span>
            </span>
          </div>
          <h1 class="uwm-article-headline" data-ng-bind-html="node[0].headline"></h1>
          <h2 data-ng-if="node[0].sub_headline" class="uwm-article-sub-headline" data-ng-bind-html=" node[0].sub_headline"></h2>
          <p data-ng-if="authors" class="uwm-article-author">
            <span data-ng-repeat="author in authors"><a data-ng-if="author.field_profile_link.und[0].url" href="{{author.field_profile_link.und[0].url}}"><span>{{author.field_author_name.und[0].value}}</span></a>
              <span data-ng-if="!author.field_profile_link.und[0].url" >{{author.field_author_name.und[0].value}}</span>
              <span data-ng-if="!$last">,&nbsp;</span>
            </span>
          </p>
        </div>
         <!--sub navigation -->
        <div data-ng-if="pubType === 'publication'"  class="row">
          <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav">
            <div class="uwm-sub-articles small-centered columns"  data-ng-class="subNavigationArticles.length >=4 ? 'small-12': 'large-6'">
              <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
                <li data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" class="uwm-sub-item" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
                  <style data-ng-style>
                   .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
                  </style>
                  <a href="{{subNavigationArticle.alias}}">
                    <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                    <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Moderation block -html-->
        <div data-ng-if="trustedModerationTabs" class="tab-options" data-ng-bind-html="trustedModerationTabs"></div>
        <div data-ng-if="trustedModerationBlock" class="block-options" data-ng-bind-html="trustedModerationBlock"></div>
        
        <div class="uwm-social-share">
          <div class="uwm-social-share-on"> Share:</div>
          <div class="uwm-social-share-btns">
            <ul>
              <li>
                <a href="#"  class="fi-social-facebook step size-28"
                   socialshare
                   socialshare-provider="facebook"
                   socialshare-text="{{metaData().metatags['og:description']}}"
                   socialshare-url="{{metaData().metatags['og:url']}}"
                   socialshare-media="{{metaData().metatags['og:image']}}"
                   socialshare-popup-height="400"
                   socialshare-popup-width="800"
                   socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                </a>
              </li>
              <li>
                <a href="#" class="fi-social-twitter step size-28"
                   socialshare
                   socialshare-provider="twitter"
                   socialshare-text="{{metaData().metatags['og:description']}}"
                   socialshare-url="{{metaData().metatags['og:url']}}"
                   socialshare-media="{{metaData().metatags['og:image']}}"
                   socialshare-popup-height="400"
                   socialshare-popup-width="800"
                   socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                </a>
              </li>
              <li>
                <a href="#"  class="fi-social-linkedin step size-28"
                   socialshare
                   socialshare-provider="linkedin"
                   socialshare-text="{{metaData().metatags['og:description']}}"
                   socialshare-url="{{metaData().metatags['og:url']}}"
                   socialshare-media="{{metaData().metatags['og:image']}}"
                   socialshare-popup-height="400"
                   socialshare-popup-width="800"
                   socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                </a>
              </li>
              <li>
                <a href="#"  class="fi-social-google-plus step size-28"
                   socialshare
                   socialshare-text="{{metaData().metatags['og:description']}}"
                   socialshare-provider="google+"
                   socialshare-url="{{metaData().metatags['og:url']}}"
                   socialshare-media="{{metaData().metatags['og:image']}}"
                   socialshare-popup-height="400"
                   socialshare-popup-width="800"
                   socialshare-trigger="click" ><span class="off-screen" class="off-screen">Share on Google Plus</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- article body block -html-->
        <div data-ng-if="node[0].display_wide_screen == 1" data-ng-class="{ draft : draftNode }" class="uw-display-wide-screen">
          <div class="uwm-article-body" data-ng-bind-html="trustedContentBody"></div>
        </div>
        <div data-ng-if="node[0].display_wide_screen == 0" data-ng-class="{ draft : draftNode }" >
          <div data-ng-if="dataHasLoaded" class="uwm-article-body small-12  large-8 medium-uncentered columns"  data-ng-bind-html="trustedContentBody"></div>
            <div class="uwm-article-sidebar showme small-12   large-4 columns">
              <div data-ng-controller="PromoItemsController">
                <div class="uw-sidebar" data-ng-class="items.length  ? 'no-sidebar': 'show-sidebar'" >
                  <ul class="uwm-promo-items">
                    <li  class="fade  delay2" data-ng-class="{ 'odd': $even, 'even': $odd }" data-ng-repeat="item in items |  filter :{categories:'!Testimonies'}">
                      <h3 class="uwm-promo-item-heading" data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h3>
                      <div data-ng-bind-html="item.trustedContent"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="uwm-social-share">
          <div class="uwm-social-share-on"> Share:</div>
            <div class="uwm-social-share-btns">
              <ul>
                <li>
                  <a href="#"  class="fi-social-facebook step size-28"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-text="{{metaData().metatags['og:description']}}"
                    socialshare-url="{{metaData().metatags['og:url']}}"
                    socialshare-media="{{metaData().metatags['og:image']}}"
                    socialshare-popup-height="400"
                    socialshare-popup-width="800"
                    socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="fi-social-twitter step size-28"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-text="{{metaData().metatags['og:description']}}"
                    socialshare-url="{{metaData().metatags['og:url']}}"
                    socialshare-media="{{metaData().metatags['og:image']}}"
                    socialshare-popup-height="400"
                    socialshare-popup-width="800"
                    socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                  </a>
                </li>
                <li>
                  <a href="#"  class="fi-social-linkedin step size-28"
                    socialshare
                    socialshare-provider="linkedin"
                    socialshare-text="{{metaData().metatags['og:description']}}"
                    socialshare-url="{{metaData().metatags['og:url']}}"
                    socialshare-media="{{metaData().metatags['og:image']}}"
                    socialshare-popup-height="400"
                    socialshare-popup-width="800"
                    socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="fi-social-google-plus step size-28"
                    socialshare
                    socialshare-text="{{metaData().metatags['og:description']}}"
                    socialshare-provider="google+"
                    socialshare-url="{{metaData().metatags['og:url']}}"
                    socialshare-media="{{metaData().metatags['og:image']}}"
                    socialshare-popup-height="400"
                    socialshare-popup-width="800"
                    socialshare-trigger="click" ><span class="off-screen">Share on Google Plus</span>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end of transition bar-->
    <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav-bottom row">
      <div class="uwm-sub-articles small-centered columns"  data-ng-class="subNavigationArticles.length >=4 ? 'small-12': 'large-6'">
        <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
          <li class="uwm-sub-item"  data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
            <a  href="{{subNavigationArticle.alias}}" filter>
              <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
              <style>
               .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
              </style>
              <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
       <!-- testimonials-->
    <div class="row full-width"  data-ng-controller="TestimoniesPromoController">
      <div data-ng-repeat="item in items |  filter :{categories:'Testimonies'} | limitTo:1 " data-ng-class="item.background_image.styles ? 'uwm-testimonials-wrap': 'uwm-testimonials-wrap-nobg'">
        <div class="uwm-testimonials uwm-testimonials-{{item.id}}">
          <div class="row">
            <div class="small-12 small-centered large-11  columns">
              <div class="uwm-testimonials-content">
                <h2  data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h2>
                <div data-ng-class="{'uwm-testimonial-padding':item.heading_hidden}" class="uwm-testimonial-body" data-ng-bind-html="item.trustedContent"></div>
              </div>
            </div>
            <style data-ng-if="item.background_image.styles">
              .uwm-testimonials-{{item.id}}{background-image: url('{{ item.background_image.styles.original }}');}
            </style>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-if="previousArticles || nextArticles" style="height:0px; visibility:hidden; overflow:hidden;"> 
      <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
      <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
    </div>
    <!-- previous next-->
    <div data-ng-if="previousArticles || nextArticles" class="uwm-prev-next-articles-wrap  ">
      <div class="row">
        <div class="uwm-related-articles-header  small-11 small-centered  large-12 large-uncentered columns">
          <h2>More about <span data-ng-bind-html="issues[0].name"></span></h2>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered large-12 large-uncentered columns">
          <ul class="uwm-prev-next small-block-grid-2">
            <li class="uwm-prev-next-item uwm-previous-article">
              <a href="{{previousArticles[0].alias}}">
                <div class="uwm-prev-next-img">
                  <figure class="effect-lily">
                    <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{previousArticles[0].feature_image.alt}}">
                  </figure>
                </div>
                <div class="uwm-prev-next-link ">
                  <div class="uwm-previous-link text-right">&lt; previous</div>
                  <span class="uwm-prev-next-cat"   data-ng-bind-html="previousArticles[0].category"></span>
                  <span class="uwm-prev-next-headline" data-ng-bind-html="previousArticles[0].headline"></span>
                </div>
              </a>
            </li>
            <li class="uwm-prev-next-item uwm-next-article">
              <a href="{{nextArticles[0].alias}}">
                <div class="uwm-prev-next-img">
                  <figure class="effect-lily">
                    <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
                  </figure>
                </div>
                <div class="uwm-prev-next-link">
                  <div class="uwm-next-link">next &gt;</div>
                  <span class="uwm-prev-next-cat" data-ng-bind-html="nextArticles[0].category"></span>
                  <span class="uwm-prev-next-headline" data-ng-bind-html="nextArticles[0].headline"></span>
                </div>
              </a>
            </li>
              </ul>
          </div>
        </div>
      </div>
    <div ng-if="relatedArticles" class="uwm-related-articles-wrap">
      <div class="row">
        <div class="uwm-related-articles-header small-11 small-centered  large-12 large-uncentered columns">
          <h2>Related Articles</h2>
        </div>
      </div>
      <div class="row">
        <div class="uwm-related-articles small-11 small-centered large-12 large-uncentered columns">
          <ul class="uwm-related-list small-block-grid-1 large-block-grid-3">
            <li id="uwm-related-item-{{relatedArticle.id}}" class="uwm-related-item" data-ng-repeat="relatedArticle in relatedArticles">
              <a href="{{relatedArticle.alias}}">
                <div class="uwm-related-img">
                  <figure class="effect-lily">
                    <img data-ng-src="{{ relatedArticle.feature_image.styles.size540x370}}" alt="{{relatedArticle.feature_image.alt}}">
                    <figcaption>
                      <div class="umw-image-info">
                        <p>
                          <span class="button">Read more</span>
                        </p>
                      </div>
                    </figcaption>
                  </figure>
                </div>
                <div class="uwm-related-info">
                  <h3 class="uwm-related-headline" data-ng-bind-html="relatedArticle.label ">
                  </h3>
                  <p class="uwm-related-sub" data-ng-bind-html="relatedArticle.sub_headline "></p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="pubType === 'publication'" class="uwm-nested-articles" data-ng-repeat="nestedArticle in nestedArticles">
    <div id="nestedArticle-{{nestedArticle.id}}" data-nested-id="" class="reveal-nested" data-reveal aria-hidden="true" role="dialog">
      <a class="close-nestedArticle button" data-close-nested-id=""  href="#"  aria-label="Close">Close</a>
      <div class="uw-nested-feature"><img alt="Feature image" data-ng-src="{{nestedArticle.feature_image.styles.size540x370}}"/></div>
     <div class="uwm-nested-article-meta"><!-- Article Sidebar<span data-ng-if="node[0]._embedded['hal:publication_themes_no_metadata'][0].label">, {{node[0]._embedded['hal:publication_themes_no_metadata'][0].label}}</span> --></div>
      <h2 class="uwm-nested-article-headline" data-ng-bind-html="nestedArticle.headline"></h2>
      <div class="uwm-nested-article-body-wrap">
        <div class="uwm-nested-article-body" data-ng-bind-html="nestedArticle.trustedNestedContentBody">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!--/pub' -->

<!-- If publication type is 'report' -->
  <div data-ng-if="pubType === 'report'" id="article-parallax" class="uwm-article-cover-parallax row full-width is-parallax">
    <div class="loading fade" data-ng-if="!dataHasLoaded">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <div class="row uwm-parallax-intro">
      <div class="uwm-parallax-heading small-12 medium-11 large-12 small-centered columns">
        <h1 class="uwm-article-headline" data-ng-bind-html="headline"></h1>
      </div>
    </div>
      <div data-ng-hide = "!node[0].feature_image.caption">
        <button data-ng-class="{'caption-active':!caption, 'showScroll':boolChangeClass}"  class="caption-toggle" data-ng-click="caption=!caption">Caption</button>
      </div>
  </div>
  <!--end of parralax- hero-->

  <!--caption-->
    <div data-ng-if="pubType === 'report'">
      <div  class="slide-toggle" data-slide-toggle data-ng-hide="caption">
        <div class="row uwm-caption-row full-width">
          <div class="row">
            <div class="uwm-article-caption small-11 small-centered columns" data-slide-toggle data-caption-visible="false" aria-hidden="true">
              <div data-ng-bind-html="node[0].feature_image.caption"></div>
            </div>
          </div>
        </div>
      </div>
      <div data-slide-toggle data-ng-show="caption">
       <div class="row uwm-caption-row full-width">
         <div class="row">
         </div>
        </div>
      </div>
    </div>
  <!--caption-->
  <!--sub article nav top-->
    <div data-ng-if="pubType === 'report'" class="row">
      <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav">
        <div class="uwm-sub-articles small-centered columns"  data-ng-class="subNavigationArticles.length >=4 ? 'small-12': 'large-6'">
          <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
            <li data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" class="uwm-sub-item" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
              <style data-ng-style>
                .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
              </style>
              <a href="{{subNavigationArticle.alias}}">
                <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
    <div  data-ng-if="pubType === 'report'" class="uwm-article-wrap">
      <div class="row uwm-transition-bar">
       <!-- Moderation block -html-->
        <div data-ng-if="trustedModerationTabs" class="tab-options" data-ng-bind-html="trustedModerationTabs"></div>
        <div data-ng-if="trustedModerationBlock" class="block-options" data-ng-bind-html="trustedModerationBlock"></div>
        <div id="uwm-article" class="uwm-article small-11 small-centered columns">
          <div class="uwm-article-header">
            <!--header with author and icons-->
            <div class="uwm-header-meta row" data-ng-if="showAuthor" >
              <div class="uwm-social-share large-4 columns">
                <div class="uwm-social-share-on"> Share:</div>
                <div class="uwm-social-share-btns">
                  <ul>
                    <li>
                      <a href="#"  class="icon icon-facebook step size-28"
                         socialshare
                         socialshare-provider="facebook"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter step size-28"
                         socialshare
                         socialshare-provider="twitter"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-via="{{metaData().metatags['twitter:creator']}}"
                         socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-linkedin step size-28"
                         socialshare
                         socialshare-provider="linkedin"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div data-ng-if="authors" class="uwm-article-author large-8 columns">
                <span>By</span> <span data-ng-repeat="author in authors"><a data-ng-if="author.field_profile_link.und[0].url" href="{{author.field_profile_link.und[0].url}}">{{author.field_author_name.und[0].value}}</a><span data-ng-if="!author.field_profile_link.und[0].url" >{{author.field_author_name.und[0].value}}</span><span data-ng-if="!$last">,&nbsp;</span></span>
              </div>
            </div>
              <!--header with only icons-->
            <div class="uwm-header-meta sotu-share row" data-ng-if="showIcon">
              <div class="uwm-social-share small-6 small-centered columns">
                <div class="uwm-social-share-btns">
                  <ul>
                    <li>
                      <a href="#"  class="icon icon-facebook step size-28"
                         socialshare
                         socialshare-provider="facebook"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                      </a>
                    </li>
                    <li>
                      <a href="#"  class="icon icon-twitter step size-28"
                         socialshare
                         socialshare-provider="twitter"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-via="{{metaData().metatags['twitter:creator']}}"
                         socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="#"  class="icon icon-linkedin step size-28"
                         socialshare
                         socialshare-provider="linkedin"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--header with metas only-->
            <div class="uwm-header-meta   sotu-meta row">
              <div class="small-12 columns">
                <span class="uwm-article-meta-issue" data-ng-bind-html="issues[0].name"></span><span data-ng-if="themes||node[0]._embedded['hal:publication_types_no_metadata'][0]">, <span class="uwm-article-meta-type" data-ng-bind-html="node[0]._embedded['hal:publication_types_no_metadata'][0].label"></span></span><span data-ng-if="themes"><span data-ng-repeat="theme in themes"><a href="{{theme.alias}}">{{theme.label}}</a><span data-ng-if="!$last">,&nbsp;</span></span></span>
              </div>
            </div>
          </div>
          <!-- article full width-->
          <div data-ng-if="node[0].display_wide_screen == 1" class="uwm-article-content row">
            <div class="small-12 columns">
              <h2 data-ng-if="node[0].sub_headline"  data-ng-bind-html="sub_headline" class="uwm-article-sub-headline"></h2>
              <div class="row sotu-top-social">
                <div class="small-12 columns">
                  <div class="uwm-social-share">
                    <div class="uwm-social-share-on"> Share:</div>
                    <div class="uwm-social-share-btns">
                      <ul>
                        <li>
                          <a href="#"   class="icon icon-facebook step size-28"
                             socialshare
                             socialshare-provider="facebook"
                             socialshare-text="{{metaData().metatags['og:description']}}"
                             socialshare-url="{{metaData().metatags['og:url']}}"
                             socialshare-media="{{metaData().metatags['og:image']}}"
                             socialshare-popup-height="400"
                             socialshare-popup-width="800"
                             socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#"  class="icon icon-twitter step size-28"
                             socialshare
                             socialshare-provider="twitter"
                             socialshare-text="{{metaData().metatags['og:description']}}"
                             socialshare-url="{{metaData().metatags['og:url']}}"
                             socialshare-media="{{metaData().metatags['og:image']}}"
                             socialshare-popup-height="400"
                             socialshare-popup-width="800"
                             socialshare-via="{{metaData().metatags['twitter:creator']}}"
                             socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#"  class="icon icon-linkedin step size-28"
                             socialshare
                             socialshare-provider="linkedin"
                             socialshare-text="{{metaData().metatags['og:description']}}"
                             socialshare-url="{{metaData().metatags['og:url']}}"
                             socialshare-media="{{metaData().metatags['og:image']}}"
                             socialshare-popup-height="400"
                             socialshare-popup-width="800"
                             socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 columns">
              <div  class="uwm-article-body" data-ng-bind-html="trustedContentBody"></div>
            </div>
          </div>

          <!-- article with sidebar-->
          <div data-ng-if="node[0].display_wide_screen == 0" class="uwm-article-content row">
            <div class="small-12 columns">
              <h2 data-ng-if="node[0].sub_headline"  data-ng-bind-html="sub_headline" class="uwm-article-sub-headline"></h2>
              <div class="row sotu-top-social">
                <div class="small-12 columns">
                  <div class="uwm-social-share">
                    <div class="uwm-social-share-on"> Share:</div>
                    <div class="uwm-social-share-btns">
                      <ul>
                        <li>
                          <a href="#" class="icon icon-facebook step size-28"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-text="{{metaData().metatags['og:description']}}"
                            socialshare-url="{{metaData().metatags['og:url']}}"
                            socialshare-media="{{metaData().metatags['og:image']}}"
                            socialshare-popup-height="400"
                            socialshare-popup-width="800"
                            socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#"  class="icon icon-twitter step size-28"
                            socialshare
                            socialshare-provider="twitter"
                            socialshare-text="{{metaData().metatags['og:description']}}"
                            socialshare-url="{{metaData().metatags['og:url']}}"
                            socialshare-media="{{metaData().metatags['og:image']}}"
                            socialshare-popup-height="400"
                            socialshare-popup-width="800"
                            socialshare-via="{{metaData().metatags['twitter:creator']}}"
                            socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-linkedin step size-28"
                            socialshare
                            socialshare-provider="linkedin"
                            socialshare-text="{{metaData().metatags['og:description']}}"
                            socialshare-url="{{metaData().metatags['og:url']}}"
                            socialshare-media="{{metaData().metatags['og:image']}}"
                            socialshare-popup-height="400"
                            socialshare-popup-width="800"
                            socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-ng-if="dataHasLoaded" class="uwm-article-body small-12  large-8 medium-uncentered columns"  data-ng-bind-html="trustedContentBody"></div>
            <div class="uwm-article-sidebar showme small-12   large-4 columns">
              <div data-ng-controller="PromoItemsController">
                <div class="uw-sidebar" data-ng-cloak data-ng-class="node[0].display_wide_screen == 1 ? 'no-sidebar': 'show-sidebar'" >
                  <ul class="uwm-promo-items">
                    <li  class="fade  delay2" data-ng-class="{ 'odd': $even, 'even': $odd }" data-ng-repeat="item in items |  filter :{categories:'!Testimonies'}">
                      <h3 class="uwm-promo-item-heading" data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h3>
                      <div data-ng-bind-html="item.trustedContent"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- bottom social-->
          <div class="uwm-social-share">
            <div class="uwm-social-share-on"> Share:</div>
            <div class="uwm-social-share-btns">
              <ul>
                <li>
                  <a href="#"  class="icon icon-facebook step size-28"
                     socialshare
                     socialshare-provider="facebook"
                     socialshare-text="{{metaData().metatags['og:description']}}"
                     socialshare-url="{{metaData().metatags['og:url']}}"
                     socialshare-media="{{metaData().metatags['og:image']}}"
                     socialshare-popup-height="400"
                     socialshare-popup-width="800"
                     socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="#"  class="icon icon-twitter step size-28"
                     socialshare
                     socialshare-provider="twitter"
                     socialshare-text="{{metaData().metatags['og:description']}}"
                     socialshare-url="{{metaData().metatags['og:url']}}"
                     socialshare-media="{{metaData().metatags['og:image']}}"
                     socialshare-popup-height="400"
                     socialshare-popup-width="800"
                     socialshare-via="{{metaData().metatags['twitter:creator']}}"
                     socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                  </a>
                </li>
                <li>
                  <a href="#"  class="icon icon-linkedin step size-28"
                     socialshare
                     socialshare-provider="linkedin"
                     socialshare-text="{{metaData().metatags['og:description']}}"
                     socialshare-url="{{metaData().metatags['og:url']}}"
                     socialshare-media="{{metaData().metatags['og:image']}}"
                     socialshare-popup-height="400"
                     socialshare-popup-width="800"
                     socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end of article-->
      </div>
      <!-- end of transition bar-->
      
      <!--sub article nav bottom-->
      <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav-bottom row">
        <div class="uwm-sub-articles small-centered columns"  data-ng-class="subNavigationArticles.length >=4 ? 'small-12': 'large-6'">
          <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
            <li class="uwm-sub-item"  data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
              <a  href="{{subNavigationArticle.alias}}" filter>
                <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                <style>
                   .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
                </style>
                <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- testimonials-->
      <div class="row full-width"  data-ng-controller="TestimoniesPromoController">
        <div data-ng-repeat="item in items |  filter :{categories:'Testimonies'} | limitTo:1 " data-ng-class="item.background_image.styles ? 'uwm-testimonials-wrap': 'uwm-testimonials-wrap-nobg'">
          <div class="uwm-testimonials uwm-testimonials-{{item.id}}">
            <div class="row">
              <div class="small-12 small-centered large-11  columns">
                <div class="uwm-testimonials-content">
                  <h2  data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h2>
                  <div data-ng-class="{'uwm-testimonial-padding':item.heading_hidden}" class="uwm-testimonial-body" data-ng-bind-html="item.trustedContent"></div>
                </div>
              </div>
              <style data-ng-if="item.background_image.styles">
                .uwm-testimonials-{{item.id}}{background-image: url('{{ item.background_image.styles.original }}');}
              </style>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-if="previousArticles || nextArticles" style="height:0px; visibility:hidden; overflow:hidden;"> 
        <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
        <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
      </div>
      <!-- previous next-->
      <div data-ng-if="previousArticles || nextArticles" class="uwm-prev-next-articles-wrap  ">
        <div class="row">
          <div class="uwm-article-section-header  small-11 small-centered  large-12 large-uncentered columns">
              <h2>More about <span data-ng-bind-html="issues[0].name"></span></h2>
          </div> 
        </div>
        <div class="row">
          <div class="small-11 small-centered large-12 large-uncentered columns">
            <ul class="uwm-prev-next small-block-grid-2">
              <li class="uwm-prev-next-item uwm-previous-article">
                <a href="{{previousArticles[0].alias}}">
                  <div class="uwm-prev-next-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{previousArticles[0].feature_image.alt}}">
                      <figcaption>
                        <div class="umw-prev-next-info">
                         <!--  <span class="effect">
                         <span class="button">previous article</span>
                         </span> -->
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="uwm-prev-next-link ">
                    <div class="uwm-previous-link text-right">&lt; previous</div>
                    <span class="uwm-prev-next-cat"   data-ng-bind-html="previousArticles[0].category"></span>
                    <span class="uwm-prev-next-headline" data-ng-bind-html="previousArticles[0].headline"></span>
                  </div>
                </a>
              </li>
              <li class="uwm-prev-next-item uwm-next-article">
                <a href="{{nextArticles[0].alias}}">
                  <div class="uwm-prev-next-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
                      <figcaption>
                        <div class="umw-prev-next-info">
                         <!--   <span class="effect">
                         <span class="button">next article</span>
                         </span> -->
                        </div>
                
                      </figcaption>
                    </figure>
                  </div>
                  <div class="uwm-prev-next-link">
                    <div class="uwm-next-link">next &gt;</div>
                    <span class="uwm-prev-next-cat" data-ng-bind-html="nextArticles[0].category"></span>
                    <span class="uwm-prev-next-headline" data-ng-bind-html="nextArticles[0].headline"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- related articles-->
      <div ng-if="relatedArticles" class="uwm-related-articles-wrap">
        <div class="row">
          <div class="uwm-article-section-header small-12 columns">
              <h2>Related <span>Articles</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="uwm-related-articles small-11 small-centered large-12 large-uncentered columns">
            <ul class="uwm-related-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
              <li class="uwm-related-item" data-ng-repeat="relatedArticle in relatedArticles">
                <a href="{{relatedArticle.alias}}">
                  <div class="uwm-related-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ relatedArticle.feature_image.styles.size540x370}}" alt="{{relatedArticle.feature_image.alt}}">
                      <figcaption>
                        <div class="umw-image-info">
                        <!--  <span class="effect">
                            <span class="button">Read more</span>
                            </span> -->
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="uwm-related-info">
                    <h3 class="uwm-related-headline" data-ng-bind-html="relatedArticle.headline"></h3>
                    <p class="uwm-related-sub" data-ng-bind-html="relatedArticle.sub_headline"></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- nested articles-->
      <div class="uwm-nested-articles" data-ng-repeat="nestedArticle in nestedArticles">
        <div id="nestedArticle-{{nestedArticle.id}}" data-nested-id="" class="reveal-nested" data-reveal aria-hidden="true" role="dialog">
          <a class="close-nestedArticle button" data-close-nested-id=""  href="#"  aria-label="Close">Close &gt;</a>
          <div class="uw-nested-feature"><img alt="Feature image" data-ng-src="{{nestedArticle.feature_image.styles.size540x370}}"/></div>
          <h2 class="uwm-nested-article-headline" data-ng-bind-html="nestedArticle.headline"></h2>
          <div class="uwm-nested-article-body-wrap">
            <div class="uwm-nested-article-body" data-ng-bind-html="nestedArticle.trustedNestedContentBody">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  </div> closing tag matches nothing, so need to remove-->
<!--/report-->

<!-- If publication type is 'sotu3' -->

  <div data-ng-if="pubType === 'sotu3'" id="article-parallax" class="uwm-left uwm-article-cover-parallax">
    <div class="loading fade" data-ng-if="!dataHasLoaded">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <div class="uwm-article-info row">
        <!--<div class="small-12 medium-11 large-12 small-centered columns">
          <h1 class="uwm-article-headline" data-ng-bind-html="headline"></h1>
        </div>-->
       
    </div>
    <div class="uwm-article-caption">
      <div data-ng-bind-html="node[0].feature_image.caption"></div>
    </div>
  </div>
  <div data-ng-if="pubType === 'sotu3'" class="uwm-article-caption uwm-article-caption-small">
    <div data-ng-bind-html="node[0].feature_image.caption"></div>
  </div>
  <!--  </div> closing tag matches nothing, so need to remove-->
  <!--sub article nav top-->
  <div data-ng-if="pubType === 'sotu3'"  class="uwm-right">
    <div class="row">
      <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav">
        <div class="uwm-sub-articles small-centered columns"  data-ng-class="subNavigationArticles.length >=4 ? 'small-12': 'large-6'">
          <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
            <li data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" class="uwm-sub-item" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
              <style data-ng-style>
                .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
              </style>
              <a href="{{subNavigationArticle.alias}}">
                <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div  data-ng-if="pubType === 'sotu3'" class="uwm-article-wrap">
      <div class="row uwm-transition-bar">
     <!-- Moderation block -html-->
        <div data-ng-if="trustedModerationTabs" class="tab-options" data-ng-bind-html="trustedModerationTabs"></div>
        <div data-ng-if="trustedModerationBlock" class="block-options" data-ng-bind-html="trustedModerationBlock"></div>
        <div id="uwm-article" class="uwm-article small-11 xlarge-12 small-centered columns">
      
          <div class="uwm-article-header">
          <!--header with author and icons-->
            <div class="uwm-header-meta row" data-ng-if="showAuthor" >
              <div class="uwm-social-share large-4 columns">
                <div class="uwm-social-share-on"> Share:</div>
                <div class="uwm-social-share-btns">
                  <ul>
                    <li>
                      <a href="#" class="icon icon-facebook step size-28"
                        socialshare
                        socialshare-provider="facebook"
                        socialshare-text="{{metaData().metatags['og:description']}}"
                        socialshare-url="{{metaData().metatags['og:url']}}"
                        socialshare-media="{{metaData().metatags['og:image']}}"
                        socialshare-popup-height="400"
                        socialshare-popup-width="800"
                        socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter step size-28"
                        socialshare
                        socialshare-provider="twitter"
                        socialshare-text="{{metaData().metatags['og:description']}}"
                        socialshare-url="{{metaData().metatags['og:url']}}"
                        socialshare-media="{{metaData().metatags['og:image']}}"
                        socialshare-popup-height="400"
                        socialshare-popup-width="800"
                        socialshare-via="{{metaData().metatags['twitter:creator']}}"
                        socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-linkedin step size-28"
                        socialshare
                        socialshare-provider="linkedin"
                        socialshare-text="{{metaData().metatags['og:description']}}"
                        socialshare-url="{{metaData().metatags['og:url']}}"
                        socialshare-media="{{metaData().metatags['og:image']}}"
                        socialshare-popup-height="400"
                        socialshare-popup-width="800"
                        socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div data-ng-if="authors" class="uwm-article-author large-8 columns">
                <span>By</span> <span data-ng-repeat="author in authors"><a data-ng-if="author.field_profile_link.und[0].url" href="{{author.field_profile_link.und[0].url}}">{{author.field_author_name.und[0].value}}</a><span data-ng-if="!author.field_profile_link.und[0].url" >{{author.field_author_name.und[0].value}}</span><span data-ng-if="!$last">,&nbsp;</span></span>
              </div>
            </div>
            <!--header with only icons-->
            <div class="uwm-header-meta sotu-share row" data-ng-if="showIcon">
              <div class="uwm-social-share small-6 small-centered columns">
                <div class="uwm-social-share-btns">
                  <ul>
                    <li>
                      <a href="#" class="icon icon-facebook step size-28"
                         socialshare
                         socialshare-provider="facebook"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter step size-28"
                         socialshare
                         socialshare-provider="twitter"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-via="{{metaData().metatags['twitter:creator']}}"
                         socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-linkedin step size-28"
                         socialshare
                         socialshare-provider="linkedin"
                         socialshare-text="{{metaData().metatags['og:description']}}"
                         socialshare-url="{{metaData().metatags['og:url']}}"
                         socialshare-media="{{metaData().metatags['og:image']}}"
                         socialshare-popup-height="400"
                         socialshare-popup-width="800"
                         socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--header with metas only-->
            <!-- <div class="uwm-header-meta   sotu-meta row">
               <div class="small-12 columns">
                <span class="uwm-article-meta-issue" data-ng-bind-html="issues[0].name"></span><span data-ng-if="node[0]._embedded['hal:publication_types_no_metadata'][0]">, <span class="uwm-article-meta-type" data-ng-bind-html="node[0]._embedded['hal:publication_types_no_metadata'][0].label"></span></span><span data-ng-if="themes"><span data-ng-repeat="theme in themes">, <a href="{{theme.alias}}">{{theme.label}}</a></span></span>
                </div>
            </div>  -->
          </div>
          <!-- article full width-->
          <div data-ng-if="displayWideScreen" class="uwm-article-content row">
            <div class="small-12 columns">
              <h1 class="uwm-article-headline" data-ng-bind-html="headline"></h1>
              <!-- <h2 data-ng-if="node[0].sub_headline"  data-ng-bind-html="sub_headline" class="uwm-article-sub-headline"></h2> -->
              <div class="row sotu-top-social">
                <div class="small-12 columns">
                  <div class="uwm-social-share">
                    <div class="uwm-social-share-on"> Share:</div>
                    <div class="uwm-social-share-btns">
                      <ul>
                        <li>
                          <a href="#" class="icon icon-facebook step size-28"
                             socialshare
                             socialshare-provider="facebook"
                             socialshare-text="{{metaData().metatags['og:description']}}"
                             socialshare-url="{{metaData().metatags['og:url']}}"
                             socialshare-media="{{metaData().metatags['og:image']}}"
                             socialshare-popup-height="400"
                             socialshare-popup-width="800"
                             socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter step size-28"
                             socialshare
                             socialshare-provider="twitter"
                             socialshare-text="{{metaData().metatags['og:description']}}"
                             socialshare-url="{{metaData().metatags['og:url']}}"
                             socialshare-media="{{metaData().metatags['og:image']}}"
                             socialshare-popup-height="400"
                             socialshare-popup-width="800"
                             socialshare-via="{{metaData().metatags['twitter:creator']}}"
                             socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-linkedin step size-28"
                             socialshare
                             socialshare-provider="linkedin"
                             socialshare-text="{{metaData().metatags['og:description']}}"
                             socialshare-url="{{metaData().metatags['og:url']}}"
                             socialshare-media="{{metaData().metatags['og:image']}}"
                             socialshare-popup-height="400"
                             socialshare-popup-width="800"
                             socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                          </a>
                        </li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="small-12 columns">
              <div  class="uwm-article-body" data-ng-bind-html="trustedContentBody"></div>
            </div>
          </div>
        <!-- article with sidebar-->
        <div data-ng-if="!displayWideScreen" class="uwm-article-content row">
           <div class="small-12 columns">
              <h1 class="uwm-article-headline" data-ng-bind-html="headline"></h1>
              <h2 data-ng-if="node[0].sub_headline"  data-ng-bind-html="sub_headline" class="uwm-article-sub-headline"></h2>
              <div class="row sotu-top-social">
                <div class="small-12 columns">
                    <div class="uwm-social-share">
                      <div class="uwm-social-share-on"> Share:</div>
                      <div class="uwm-social-share-btns">
                        <ul>
                          <li>
                            <a href="#" class="icon icon-facebook step size-28"
                               socialshare
                               socialshare-provider="facebook"
                               socialshare-text="{{metaData().metatags['og:description']}}"
                               socialshare-url="{{metaData().metatags['og:url']}}"
                               socialshare-media="{{metaData().metatags['og:image']}}"
                               socialshare-popup-height="400"
                               socialshare-popup-width="800"
                               socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="icon icon-twitter step size-28"
                               socialshare
                               socialshare-provider="twitter"
                               socialshare-text="{{metaData().metatags['og:description']}}"
                               socialshare-url="{{metaData().metatags['og:url']}}"
                               socialshare-media="{{metaData().metatags['og:image']}}"
                               socialshare-popup-height="400"
                               socialshare-popup-width="800"
                               socialshare-via="{{metaData().metatags['twitter:creator']}}"
                               socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="icon icon-linkedin step size-28"
                               socialshare
                               socialshare-provider="linkedin"
                               socialshare-text="{{metaData().metatags['og:description']}}"
                               socialshare-url="{{metaData().metatags['og:url']}}"
                               socialshare-media="{{metaData().metatags['og:image']}}"
                               socialshare-popup-height="400"
                               socialshare-popup-width="800"
                               socialshare-trigger="click" ><span class="off-screen" class="off-screen">Share on Linkedin</span>
                            </a>
                          </li>
                        </ul>
                        </div>
                     </div>
                </div>
              </div>
            </div>
            <div data-ng-if="dataHasLoaded" class="uwm-article-body small-12  large-8 medium-uncentered columns"  data-ng-bind-html="trustedContentBody"></div>
            <div class="uwm-article-sidebar showme small-12   large-4 columns">
              <div data-ng-controller="PromoItemsController">
                <div class="uw-sidebar" data-ng-cloak data-ng-class="displayWideScreen ? 'no-sidebar': 'show-sidebar'" >
                  <ul class="uwm-promo-items">
                    <li  class="fade  delay2" data-ng-class="{ 'odd': $even, 'even': $odd }" data-ng-repeat="item in items |  filter :{categories:'!Testimonies'}">
                      <h3 class="uwm-promo-item-heading" data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h3>
                      <div data-ng-bind-html="item.trustedContent"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <!-- bottom social-->
        <div class="uwm-social-share">
          <div class="uwm-social-share-on"> Share:</div>
            <div class="uwm-social-share-btns">
              <ul>
                <li>
                  <a href="#"  class="icon icon-facebook step size-28"
                     socialshare
                     socialshare-provider="facebook"
                     socialshare-text="{{metaData().metatags['og:description']}}"
                     socialshare-url="{{metaData().metatags['og:url']}}"
                     socialshare-media="{{metaData().metatags['og:image']}}"
                     socialshare-popup-height="400"
                     socialshare-popup-width="800"
                     socialshare-trigger="click" ><span class="off-screen">Share on Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="icon icon-twitter step size-28"
                     socialshare
                     socialshare-provider="twitter"
                     socialshare-text="{{metaData().metatags['og:description']}}"
                     socialshare-url="{{metaData().metatags['og:url']}}"
                     socialshare-media="{{metaData().metatags['og:image']}}"
                     socialshare-popup-height="400"
                     socialshare-popup-width="800"
                     socialshare-via="{{metaData().metatags['twitter:creator']}}"
                     socialshare-trigger="click" ><span class="off-screen">Share on Twitter</span>
                  </a>
                </li>
                <li>
                  <a href="#"  class="icon icon-linkedin step size-28"
                     socialshare
                     socialshare-provider="linkedin"
                     socialshare-text="{{metaData().metatags['og:description']}}"
                     socialshare-url="{{metaData().metatags['og:url']}}"
                     socialshare-media="{{metaData().metatags['og:image']}}"
                     socialshare-popup-height="400"
                     socialshare-popup-width="800"
                     socialshare-trigger="click" ><span class="off-screen">Share on Linkedin</span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
        </div>
      <!--end of article-->
      </div>
      <!-- end of transition bar-->
    
      <!--sub article nav bottom-->
      <div data-ng-if="subNavigationArticles" class="uwm-sub-articles-nav-bottom row">
        <div class="uwm-sub-articles small-centered columns"  data-ng-class="subNavigationArticles.length >=4 ? 'small-12': 'large-6'">
          <ul class="uwm-sub-list small-block-grid-1 large-block-grid-{{subNavigationArticles.length -1}}">
            <li class="uwm-sub-item"  data-ng-class="{'active':subNavigationArticle.aliasCheck === stateName}" data-ng-repeat="subNavigationArticle in subNavigationArticles"  data-ng-if="$index >= 0">
              <a  href="{{subNavigationArticle.alias}}" filter>
                <div class="uwm-sub-icon uwm-sub-icon-{{subNavigationArticle.id}}"></div>
                <style>
                  .uwm-sub-icon-{{subNavigationArticle.id}}{background-image: url('{{subNavigationArticle.image[0].styles.original}}');}
                </style>
                <span class="uwm-sub-text"  data-ng-bind-html="subNavigationArticle.headline"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- testimonials-->
      <div class="row full-width"  data-ng-controller="TestimoniesPromoController">
        <div data-ng-repeat="item in items |  filter :{categories:'Testimonies'} | limitTo:1 " data-ng-class="item.background_image.styles ? 'uwm-testimonials-wrap': 'uwm-testimonials-wrap-nobg'">
          <div class="uwm-testimonials uwm-testimonials-{{item.id}}">
            <div class="row">
              <div class="small-12 small-centered large-11  columns">
                <div class="uwm-testimonials-content">
                  <h2  data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h2>
                  <div data-ng-class="{'uwm-testimonial-padding':item.heading_hidden}" class="uwm-testimonial-body" data-ng-bind-html="item.trustedContent"></div>
                </div>
              </div>
              <style data-ng-if="item.background_image.styles">
                .uwm-testimonials-{{item.id}}{background-image: url('{{ item.background_image.styles.original }}');}
              </style>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-if="previousArticles || nextArticles" style="height:0px; visibility:hidden; overflow:hidden;"> 
        <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
        <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
      </div>
      <!-- previous next-->
      <div data-ng-if="previousArticles || nextArticles" class="uwm-prev-next-articles-wrap  ">
        <div class="row">
          <div class="uwm-article-section-header  small-11 small-centered  large-12 large-uncentered columns">
            <h2>More about <span data-ng-bind-html="issues[0].name"></span></h2>
          </div> 
        </div>
        <div class="row">
          <div class="small-11 small-centered large-12 large-uncentered columns">
            <ul class="uwm-prev-next small-block-grid-2">
              <li class="uwm-prev-next-item uwm-previous-article">
                <a href="{{previousArticles[0].alias}}">
                  <div class="uwm-prev-next-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ previousArticles[0].feature_image.styles.size540x370}}" alt="{{previousArticles[0].feature_image.alt}}">
                      <figcaption>
                        <div class="umw-prev-next-info">
                        <!--  <span class="effect">
                               <span class="button">previous article</span>
                               </span> -->
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="uwm-prev-next-link uwm-prev-link">
                    <div class="uwm-previous-link text-right">&lt; previous</div>
                    <!-- <span class="uwm-prev-next-cat"   data-ng-bind-html="previousArticles[0].category"></span> -->
                      <span class="uwm-prev-next-headline" data-ng-bind-html="previousArticles[0].headline"></span>
                    </div>
                </a>
              </li>
              <li class="uwm-prev-next-item uwm-next-article">
                <a href="{{nextArticles[0].alias}}">
                  <div class="uwm-prev-next-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ nextArticles[0].feature_image.styles.size540x370}}" alt="{{nextArticles[0].feature_image.alt}}">
                      <figcaption>
                        <div class="umw-prev-next-info">
                        <!--   <span class="effect">
                               <span class="button">next article</span>
                               </span> -->
                        </div>
                
                      </figcaption>
                    </figure>
                  </div>
                  <div class="uwm-prev-next-link uwm-next-link-hl">
                    <div class="uwm-next-link">next &gt;</div>
                    <!-- <span class="uwm-prev-next-cat" data-ng-bind-html="nextArticles[0].category"></span> -->
                    <span class="uwm-prev-next-headline" data-ng-bind-html="nextArticles[0].headline"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- related articles-->
      <div ng-if="relatedArticles" class="uwm-related-articles-wrap">
        <div class="row">
          <div class="uwm-article-section-header small-12 columns">
              <h2>Related <span>Articles</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="uwm-related-articles small-11 small-centered large-12 large-uncentered columns">
            <ul class="uwm-related-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
              <li class="uwm-related-item" data-ng-repeat="relatedArticle in relatedArticles">
                <a href="{{relatedArticle.alias}}">
                  <div class="uwm-related-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ relatedArticle.feature_image.styles.size540x370}}" alt="{{relatedArticle.feature_image.alt}}">
                      <figcaption>
                        <div class="umw-image-info">
                        <!--  <span class="effect">
                              <span class="button">Read more</span>
                              </span> -->
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="uwm-related-info">
                    <h3 class="uwm-related-headline" data-ng-bind-html="relatedArticle.headline"></h3>
                      <p class="uwm-related-sub" data-ng-bind-html="relatedArticle.sub_headline"></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- nested articles-->
      <div class="uwm-nested-articles" data-ng-repeat="nestedArticle in nestedArticles">
        <div id="nestedArticle-{{nestedArticle.id}}" data-nested-id="" class="reveal-nested" data-reveal aria-hidden="true" role="dialog">
          <a class="close-nestedArticle button" data-close-nested-id=""  href="#"  aria-label="Close">Close &gt;</a>
          <div class="uw-nested-feature"><img alt="Feature image" data-ng-src="{{nestedArticle.feature_image.styles.size540x370}}"/></div>
          <h2 class="uwm-nested-article-headline" data-ng-bind-html="nestedArticle.headline"></h2>
          <div class="uwm-nested-article-body-wrap">
            <div class="uwm-nested-article-body" data-ng-bind-html="nestedArticle.trustedNestedContentBody">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer data-ng-if="pubType === 'sotu3'" id="uwm-footer">
      <div class="uwm-footer row full-width">
        <div class="uwm-footer-inner row">
          <div class="small-12 columns"><a class="uwm-top-link" href="javascript:void(0);" onClick="uwmScrollTopSOTU();">^</a></div>
          <div class="small-10 small-centered medium-6 large-3 large-uncentered columns no-padding-right"  data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }" >
            <div class="uwm-affiliate-title ">
              <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" ng-bind-html="metaData().settings.faculty_or_dept"></a>
            </div>
            <div class="uwm-affiliate-logo">
              <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
                <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" border="0"/>
              </a>
            </div>
             <!--    <div class="uwm-university-logo">
                      <a class=" uwm-footer-uw-link" href="https://uwaterloo.ca">
                        <img data-ng-src="apps/uw_publication/images/uw-logo-white-h.png" alt="University of Waterloo Logo" border="0"/>
                     </a>
              </div> -->
            <div id="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
              <div class="element-hidden">
                <div property="v:fn">University of Waterloo</div>
                <div rel="v:org">
                  <div property="v:organisation-name">University of Waterloo</div>
                </div>
                <div rel="v:geo">
                  <div property="v:latitude">43.471468</div>
                  <div property="v:longitude">-80.544205</div>
                </div>
              </div>
              <div rel="v:adr">
                <div property="v:street-address">200 University Avenue West</div>
                <div>
                  <span property="v:locality">Waterloo</span>,
                  <span property="v:region">ON</span>,
                  <span property="v:country-name">Canada</span>&nbsp;
                  <span property="v:postal-code">N2L 3G1</span>
                </div>
              </div>
              <div class="uw-footer-phone" rel="v:tel">
                <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
              </div>
            </div>
          </div>
          <div class="small-8 small-centered medium-6 large-6 large-uncentered columns no-padding ">
            <nav role="navigation" class="uwm-footer-nav" data-ng-controller="FooterMenuController">
              <ul>
                <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
              </ul>
            </nav>
          </div>
          <div class="small-12 small-centered  medium-8 large-3 large-uncentered columns ">
            <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade  delay1500 uwm-subscribe-button">
              <a class="button" href="{{ metaData().settings.subscription_link }}">Contact Us</a>
            </div>
            <div data-ng-if="metaData().settings.subscription_link == NULL" class="uwm-social-links">
              <ul>
                <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                  <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="uwm-social row full-width">
        <div class="uwm-social-inner row">
          <div data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}"  class="uwm-social-tag small-12 large-offset-4 large-4 columns">
              <a href="https://twitter.com/search?q=%23UWaterlooBeyond">#UWaterlooBeyond</a>
          </div>
          <div data-ng-if="metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 columns in-social-bar">
            <div data-ng-if="metaData().settings.subscription_link != NULL" class="uwm-social-links">
              <ul>
                <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                  <a href="{{ value }}"><span class="icon icon-{{ key }} "></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
<!--/sotu3-->

<script>
  $(document).ready(function() {
    $(document).foundation({
      reveal : {
        animation: 'fade',
        animation_speed: 250,
        close_on_background_click: true,
        dismiss_modal_class: 'close-nestedArticle',
        multiple_opened: false,
        bg_class: 'reveal-modal-bg',
        root_element: 'body',
        on_ajax_error: $.noop,
        bg : $('.reveal-modal-bg'),
        css : {
          open : {
            'position': 'absolute',
            'top' : 0,
            'opacity': 0,
            'visibility': 'visible',
            'display' : 'block',
            'margin'  : 0

          },
          close : {
            'opacity': 1,
            'visibility': 'hidden',
            'display': 'none',
            'margin'  : 0
          }
        }
      }
      });
    });
</script>
