
<!-- If publication type is 'magazine' -->
<div data-ng-if="pubType ==='magazine'" class="uwm-publication-category-wrap">
  <div class="uwm-on-this-page">
    <div class="row">
    <div class="uwm-issue-title small-11  small-centered medium-10 columns">
      <h1 class="uwm-capitalize">{{termTitle}}</h1>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="uwm-pub-cat columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
        <li id="uwm-pub-cat-listing-{{node.id}}" class="uwm-pub-cat-listing uwm-animate" data-ng-repeat="node in nodes">
          <a href="{{ node.alias }}">
            <div class="uwm-pub-cat-img-wrap small-12 large-4 columns">
              <div class="uwm-pub-cat-img">
                <figure class="effect-lily">
                  <img data-ng-src="{{ node.feature_image.styles.size540x370}}" alt="{{ node.feature_image.alt}}">
                  <figcaption>
                    <div class="umw-image-info">
                      <p>
                        <span class="button">Read more</span>
                      </p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </a>
          <div class="uwm-pub-cat-info small-12 large-8 columns">
            <div class="uwm-pub-cat-issue" data-ng-bind-html="node.issueLabel"></div>
            <h3 class="uwm-pub-cat-headline"><a href="{{ node.alias }}" data-ng-bind-html="node.headline"></a></h3>
            <p class="uwm-pub-cat-subheadline" data-ng-bind-html="node.sub_headline"></p>
            <p class="uwm-pub-cat-exerpt" data-ng-bind-html="node.teaser"></p>
            <hr/>
            <span class="uwm-pub-cat-name">
              <span class="cat-type">Category:</span>
              <span  data-ng-repeat="category in node._embedded['hal:publication_categories_no_metadata']">
                <a href="{{category.alias}}" data-ng-bind-html="category.name"></a><!-- <span data-ng-if="!$last">, </span> -->
              </span>
            </span>
            <div data-ng-if="node._embedded['hal:publication_themes_no_metadata'][0]" class="uwm-pub-cat-theme"> <span class="cat-theme">Theme:</span>
              <span  data-ng-repeat="theme in node._embedded['hal:publication_themes_no_metadata']">
                <a href="{{theme.alias}}" data-ng-bind-html="theme.name"></a>
                <!-- <span data-ng-if="!$last">,</span> -->
              </span>
            </div>
          </div>
        </li>
      </ul>
      <!--<div class="large-4 columns">
          <div class="promo-items">
            <div data-ng-controller="PromoItemsController">
                <ul>
                    <li data-ng-repeat="item in items">
                          <div class="title">{{item.heading}}</div>
                          <img data-ng-src="{{ item.image[0].styles.width300 }}">
                      </li>
                  </ul>
              </div>
          </div>
      </div> -->
    </div>
  </div>
</div>
<!-- /magazine. -->

<!-- If publication type is 'publication' -->
<div data-ng-if="pubType ==='publication'" class="uwm-publication-category-wrap">
  <div class="uwm-on-this-page">
    <div class="row">
      <div class="uwm-issue-title" id="uwm-issue-title">
        <h1 aria-labelledby="uwm-issue-title" class="small-11  small-centered medium-12 columns" data-ng-bind-html="termTitle"></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uwm-pub-cat columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
        <li id="uwm-pub-cat-listing-{{node.id}}" class="uwm-pub-cat-listing uwm-animate" data-ng-repeat="node in nodes">
          <a href="{{ node.alias }}">
            <div class="uwm-pub-cat-img-wrap small-12 large-4 columns">
              <div class="uwm-pub-cat-img">
                <figure class="effect-lily">
                  <img data-ng-src="{{ node.feature_image.styles.size540x370}}" alt="{{ node.feature_image.alt}}">
                  <figcaption>
                    <div class="umw-image-info">
                      <p>
                        <span class="button">Read more</span>
                      </p>
                    </div>
                  </figcaption> 
                </figure>
              </div>
            </div>
          </a>
          <div class="uwm-pub-cat-info small-12 large-8 columns">
            <div class="uwm-pub-cat-issue" data-ng-bind-html="node._embedded['hal:publication_issues_basic'][0].name" ></div>
            <h3 class="uwm-pub-cat-headline"><a href="{{ node.alias }}" data-ng-bind-html="node.headline"></a></h3>
            <p class="uwm-pub-cat-subheadline" data-ng-bind-html="node.sub_headline"></p>
            <p class="uwm-pub-cat-exerpt" data-ng-bind-html="node.teaser"></p>
            <hr/>
            <span class="uwm-pub-cat-name">
              <span class="cat-type">Category:</span>
              <span  data-ng-repeat="category in node._embedded['hal:publication_categories_no_metadata']">
                <a href="{{category.alias}}" data-ng-bind-html="category.name"></a><!-- <span data-ng-if="!$last">, </span> -->
              </span>
            </span>
            <div data-ng-if="node._embedded['hal:publication_themes_no_metadata'][0]" class="uwm-pub-cat-theme"> <span class="cat-theme">Theme:</span>
              <span  data-ng-repeat="theme in node._embedded['hal:publication_themes_no_metadata']">
                <a href="{{theme.alias}}" data-ng-bind-html="theme.name"></a>
                <!-- <span data-ng-if="!$last">,</span> -->
              </span>
            </div>
          </div>
        </li>
      </ul>
      <!--<div class="large-4 columns">
            <div class="promo-items">
              <div data-ng-controller="PromoItemsController">
                  <ul>
                      <li data-ng-repeat="item in items">
                          <div class="title">{{item.heading}}</div>
                          <img data-ng-src="{{ item.image[0].styles.width300 }}">
                      </li>
                  </ul>
              </div>
          </div>
      </div> -->
    </div>
  </div>
</div>
<!-- /publication. -->

<!-- If publication type is 'report' -->
<div data-ng-if="pubType ==='report'" class="uwm-on-this-page">
  <div class="row">
    <div class="uwm-issue-title" id="uwm-issue-title">
      <h1 class="small-11  small-centered medium-12 columns" data-ng-bind-html="termTitle"></h1>
    </div>
  </div>
</div>

<div data-ng-if="pubType ==='report'" class="uwm-publication-category-wrap">
  <div class="row">
    <div class="uwm-pub-cat small-12 small-centered columns">
      <ul class="small-block-grid-1  large-block-grid-1" data-ng-class="nodes.length >1 ? 'medium-block-grid-2': 'medium-block-grid-1'">
        <li id="uwm-pub-cat-listing-{{node.id}}" class="uwm-pub-cat-listing uwm-animate"  data-ng-repeat="node in nodes |  orderBy:'-in_current_issue'">
          <a class="uwm-pub-cat-listing-alias" href="{{ node.alias }}">
            <div class="uwm-pub-cat-row row">
              <div class="uwm-pub-cat-img-wrap small-12 large-6 columns">
                <div class="uwm-pub-cat-img">
                  <figure class="effect-ruby">
                    <img data-ng-src="{{ node.feature_image.styles.size540x370}}" alt="{{ node.feature_image.alt}}">
                  </figure>
                </div>
              </div>
              <div class="uwm-pub-cat-info small-12 large-6 columns">
                <h2 class="uwm-pub-cat-headline" data-ng-bind-html="node.headline"></h2>
                <p class="uwm-pub-cat-sub-headline" data-ng-bind-html="node.sub_headline"></p>
                <p class="uwm-pub-cat-exerpt" data-ng-bind-html="node.teaser"></p>
              </div>
            </div>
          </a>
          <div class="row">
            <div class="uwm-pub-cat-meta small-12 columns">
              <span class="uwm-pub-cat-issue">
                <strong>Issue:</strong>
                <a href="{{node.issueAlias}}" data-ng-class="{'archive':!node.in_current_issue}" data-ng-bind-html="node.issueLabel"></a>
              </span>
              <span class="uwm-pub-cat-name">
                <strong>Category:</strong>
                <span  data-ng-repeat="category in node.category">
                  <a href="{{category.alias}}" data-ng-bind-html="category.name"></a>
                  <span data-ng-if="!$last">,&nbsp;</span>
                </span>
              </span>
              <span data-ng-if="node.themes" class="uwm-pub-cat-theme"><strong>Theme:</strong> <span data-ng-repeat="theme in node.themes"> <a href="{{theme.alias}}" data-ng-bind-html="theme.name"></a><span data-ng-if="!$last">,&nbsp;</span></span>
              </span>
              <!--      <div data-ng-if="node.types" class="uwm-pub-cat-type">
                 <strong>Type:</strong> <span data-ng-repeat="type in node.types"> <a href="{{type.alias}}" data-ng-bind-html="type.name"></a><span data-ng-if="!$last">,&nbsp;</span></span>
                 </div> -->
            </div>
          </div>
        </li>
      </ul>
      <!--<div class="large-4 columns">
            <div class="promo-items">
              <div data-ng-controller="PromoItemsController">
                  <ul>
                      <li data-ng-repeat="item in items">
                          <div class="title">{{item.heading}}</div>
                          <img data-ng-src="{{ item.image[0].styles.width300 }}">
                      </li>
                  </ul>
              </div>
          </div>
      </div> -->
    </div>
  </div>
</div>
<!-- /report. -->

<!-- if pubType is sotu3 -->
<style data-ng-if="pubType === 'sotu3'" data-ng-style>
  .uwm-article-cover-parallax {background-image: url('apps/uw_publication/images/sotu3hero-540.jpg');}
  @media only screen and (min-width: 48.063em){
    .uwm-article-cover-parallax {background-image: url('apps/uw_publication/images/sotu3hero.jpg');}
  }
</style>

<div data-ng-if="pubType === 'sotu3'" id="article-parallax" class="uwm-left uwm-article-cover-parallax">
  <div class="uwm-hero-info">
    <div class="uwm-hero-heading small-12 columns">
      <h2 class="uwm-hero-headline"><span>beyond</span> Innovation</h2>
    </div>
    <div class="small-12 columns">
      <div data-ng-if="pubType ==='sotu3'" class="uwm-issue-title-small" >
        <div class="org-wrap">
          <p>2016-17 STATE OF THE UNIVERSITY REPORT</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-if="pubType === 'sotu3'" class="uwm-right">
  <div class="uwm-on-this-page">
    <div class="row">
      <div class="uwm-issue-title" id="uwm-issue-title">
        <h1 class="small-11  small-centered medium-12 columns" data-ng-bind-html="termTitle"></h1>
      </div>
    </div>
  </div>
  <div class="uwm-publication-category-wrap">
    <div class="row">
      <div class="uwm-pub-cat small-12 small-centered columns">
        <ul class="small-block-grid-1  large-block-grid-1" data-ng-class="nodes.length >1 ? 'medium-block-grid-2': 'medium-block-grid-1'">
          <li id="uwm-pub-cat-listing-{{node.id}}" class="uwm-pub-cat-listing uwm-animate"  data-ng-repeat="node in nodes |  orderBy:'-in_current_issue'">
            <a class="uwm-pub-cat-listing-alias" href="{{ node.alias }}">
              <div class="uwm-pub-cat-row row">
                <div class="uwm-pub-cat-img-wrap small-12 large-6 columns">
                  <div class="uwm-pub-cat-img">
                    <figure class="effect-ruby">
                      <img data-ng-src="{{ node.feature_image.styles.size540x370}}" alt="{{ node.feature_image.alt}}">
                    </figure>
                  </div>
                </div>
                <div class="uwm-pub-cat-info small-12 large-6 columns">
                  <h2 class="uwm-pub-cat-headline" data-ng-bind-html="node.headline"></h2>
                  <p class="uwm-pub-cat-sub-headline" data-ng-bind-html="node.sub_headline"></p>
                  <p class="uwm-pub-cat-exerpt" data-ng-bind-html="node.teaser"></p>
                </div>
              </div>
            </a>
            <div class="row">
              <div class="uwm-pub-cat-meta small-12 columns">
                <span class="uwm-pub-cat-issue">
                  <strong>Issue:</strong>
                  <a href="{{node.issueAlias}}" data-ng-class="{'archive':!node.in_current_issue}" data-ng-bind-html="node.issueLabel"></a>
                 </span>
                 <span class="uwm-pub-cat-name">
                   <strong>Category:</strong>
                   <span  data-ng-repeat="category in node.category">
                     <a href="{{category.alias}}" data-ng-bind-html="category.name"></a>
                     <span data-ng-if="!$last">,&nbsp;</span>
                   </span>
                 </span>
                 <span data-ng-if="node.themes" class="uwm-pub-cat-theme"><strong>Theme:</strong> <span data-ng-repeat="theme in node.themes"> <a href="{{theme.alias}}" data-ng-bind-html="theme.name"></a><span data-ng-if="!$last">,&nbsp;</span></span>
                 </span>
                 <!--      <div data-ng-if="node.types" class="uwm-pub-cat-type">
                     <strong>Type:</strong> <span data-ng-repeat="type in node.types"> <a href="{{type.alias}}" data-ng-bind-html="type.name"></a><span data-ng-if="!$last">,&nbsp;</span></span>
                     </div> -->
              </div>
            </div>
          </li>
        </ul>
        <!--<div class="large-4 columns">
                <div class="promo-items">
                  <div data-ng-controller="PromoItemsController">
                      <ul>
                          <li data-ng-repeat="item in items">
                              <div class="title">{{item.heading}}</div>
                              <img data-ng-src="{{ item.image[0].styles.width300 }}">
                          </li>
                      </ul>
                  </div>
              </div>
          </div> -->
      </div>
    </div>
  </div>

  <footer data-ng-if="pubType === 'sotu3'" id="uwm-footer">
    <div class="uwm-footer row full-width">
      <div class="uwm-footer-inner row">
        <div class="small-12 columns"><a class="uwm-top-link" href="javascript:void(0);" onClick="uwmScrollTopSOTU();">^</a></div>
          <div class="small-10 small-centered medium-6 large-3 large-uncentered columns no-padding-right"  data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }" >
          <div class="uwm-affiliate-title ">
            <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" ng-bind-html="metaData().settings.faculty_or_dept"></a>
          </div>
          <div class="uwm-affiliate-logo">
            <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
              <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" border="0"/>
            </a>
          </div>
            <!--    <div class="uwm-university-logo">
                      <a class=" uwm-footer-uw-link" href="https://uwaterloo.ca">
                        <img data-ng-src="apps/uw_publication/images/uw-logo-white-h.png" alt="University of Waterloo Logo" border="0"/>
                     </a>
            </div> -->
          <div id="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
            <div class="element-hidden">
              <div property="v:fn">University of Waterloo</div>
              <div rel="v:org">
                <div property="v:organisation-name">University of Waterloo</div>
              </div>
              <div rel="v:geo">
                <div property="v:latitude">43.471468</div>
                <div property="v:longitude">-80.544205</div>
              </div>
            </div>
            <div rel="v:adr">
              <div property="v:street-address">200 University Avenue West</div>
              <div>
                <span property="v:locality">Waterloo</span>,
                <span property="v:region">ON</span>,
                <span property="v:country-name">Canada</span>&nbsp;
                <span property="v:postal-code">N2L 3G1</span>
              </div>
            </div>
            <div class="uw-footer-phone" rel="v:tel">
              <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
            </div>
          </div>
        </div>
        <div class="small-8 small-centered medium-6 large-6 large-uncentered columns no-padding ">
          <nav role="navigation" class="uwm-footer-nav" data-ng-controller="FooterMenuController">
            <ul>
              <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
            </ul>
          </nav>
        </div>
        <div class="small-12 small-centered  medium-8 large-3 large-uncentered columns ">
          <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade  delay1500 uwm-subscribe-button">
            <a class="button" href="{{ metaData().settings.subscription_link }}">Contact Us</a>
          </div>
          <div data-ng-if="metaData().settings.subscription_link == NULL" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="uwm-social row full-width">
      <div class="uwm-social-inner row">
        <div data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}"  class="uwm-social-tag small-12 large-offset-4 large-4 columns">
          <a href="https://twitter.com/search?q=%23UWaterlooBeyond">#UWaterlooBeyond</a>
        </div>
        <div data-ng-if="metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 columns in-social-bar">
          <div data-ng-if="metaData().settings.subscription_link != NULL" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                 <a href="{{ value }}"><span class="icon icon-{{ key }} "></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- /sotu3. -->

