<!-- if pubType is other than sotu3 -->
<div data-ng-if="pubType !== 'sotu3'">
  <div data-ng-if="pubType ==='magazine' || pubType ==='publication'"  class="uwm-on-this-page">
    <div class="row">
      <div class="uwm-issue-title " id="uwm-issue-title">
       <h1 class="small-11  small-centered medium-12 columns">{{node[0].label}}</h1>
      </div>

    </div>
  </div>
  <div class="row">
  <div data-ng-if="trustedModerationTabs" class="tab-options" data-ng-bind-html="trustedModerationTabs"></div>
  <div data-ng-if="trustedModerationBlock" class="block-options" data-ng-bind-html="trustedModerationBlock"></div>
  </div>
    <div class="row">
    <div data-ng-if="node[0].display_wide_screen == 1" data-ng-class="{ draft : draftNode }">
      <div class="uwm-web-page medium-12 medium-centered  columns">
        <div class="uwm-web-page-body" data-ng-bind-html="trustedContentBody"></div>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="node[0].display_wide_screen != 1">
    <div class="uwm-web-page-body small-12  large-8 medium-uncentered columns"  data-ng-bind-html="trustedContentBody"></div>
    <div class="uwm-article-sidebar showme small-12   large-4 columns">
      <div data-ng-controller="PromoItemsController">
        <div class="uw-sidebar" data-ng-class="items.length  ? 'no-sidebar': 'show-sidebar'" >
          <ul class="uwm-promo-items">
            <li  class="fade  delay2" data-ng-class="{ 'odd': $even, 'even': $odd }" data-ng-repeat="item in items |  filter :{categories:'!Testimonies'}">
              <h3 class="uwm-promo-item-heading" data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h3>
              <div data-ng-bind-html="item.trustedContent"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- testimonials-->
  <div class="row full-width"  data-ng-controller="TestimoniesPromoController">
    <div data-ng-repeat="item in items |  filter :{categories:'Testimonies'} | limitTo:1 " data-ng-class="item.background_image.styles ? 'uwm-testimonials-wrap': 'uwm-testimonials-wrap-nobg'">
      <div class="uwm-testimonials uwm-testimonials-{{item.id}}">
        <div class="row">
          <div class="small-12 small-centered large-11  columns">
            <div class="uwm-testimonials-content">
              <h2 data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h2>
              <div data-ng-class="{'uwm-testimonial-padding':item.heading_hidden}" class="uwm-testimonial-body" data-ng-bind-html="item.trustedContent"></div>
            </div>
          </div>
          <style data-ng-if="item.background_image.styles">
            .uwm-testimonials-{{item.id}}{background-image: url('{{ item.background_image.styles.original }}');}
          </style>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- if pubType is sotu3 -->
<style data-ng-if="pubType === 'sotu3'" data-ng-style>
  .uwm-article-cover-parallax {background-image: url('apps/uw_publication/images/sotu3hero-540.jpg');}
  @media only screen and (min-width: 48.063em){
    .uwm-article-cover-parallax {background-image: url('apps/uw_publication/images/sotu3hero.jpg');}
  }
</style>
<div data-ng-if="pubType === 'sotu3'" id="article-parallax" class="uwm-left uwm-article-cover-parallax">
  <div class="uwm-hero-info row">
    <div class="uwm-hero-heading small-12 columns">
      <h2 class="uwm-hero-headline"><span>beyond</span> Innovation</h2>
    </div>
    <div class="small-12 columns">
      <div data-ng-if="pubType ==='sotu3'" class="uwm-issue-title-small" >
        <div class="org-wrap">
          <p>2016-17 STATE OF THE UNIVERSITY REPORT</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-if="pubType === 'sotu3'" class="uwm-right">
  <div class="row" >
    <div class="uwm-issue-title">
      <h1 class="small-11  small-centered medium-12 columns">{{node[0].label}}</h1>
      <hr/>
      <div data-ng-if="trustedModerationTabs" class="tab-options" data-ng-bind-html="trustedModerationTabs"></div>
      <div data-ng-if="trustedModerationBlock" class="block-options" data-ng-bind-html="trustedModerationBlock"></div>
    </div>
  </div>
  <div class="row">
    <div data-ng-if="node[0].display_wide_screen == 1" data-ng-class="{ draft : draftNode }">
      <div class="uwm-web-page medium-12 medium-centered  columns">
        <div class="uwm-web-page-body" data-ng-bind-html="trustedContentBody"></div>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="node[0].display_wide_screen != 1">
    <div class="uwm-web-page-body small-12  large-8 medium-uncentered columns"  data-ng-bind-html="trustedContentBody"></div>
    <div class="uwm-article-sidebar showme small-12   large-4 columns">
      <div data-ng-controller="PromoItemsController">
        <div class="uw-sidebar" data-ng-class="items.length  ? 'no-sidebar': 'show-sidebar'" >
          <ul class="uwm-promo-items">
            <li  class="fade  delay2" data-ng-class="{ 'odd': $even, 'even': $odd }" data-ng-repeat="item in items |  filter :{categories:'!Testimonies'}">
              <h3 class="uwm-promo-item-heading" data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h3>
              <div data-ng-bind-html="item.trustedContent"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonials-->
  <div class="row full-width"  data-ng-controller="TestimoniesPromoController">
    <div data-ng-repeat="item in items |  filter :{categories:'Testimonies'} | limitTo:1 " data-ng-class="item.background_image.styles ? 'uwm-testimonials-wrap': 'uwm-testimonials-wrap-nobg'">
      <div class="uwm-testimonials uwm-testimonials-{{item.id}}">
        <div class="row">
          <div class="small-12 small-centered large-11  columns">
             <div class="uwm-testimonials-content">
                <h2 data-ng-if="!item.heading_hidden" data-ng-bind-html="item.heading"></h2>
                <div data-ng-class="{'uwm-testimonial-padding':item.heading_hidden}" class="uwm-testimonial-body" data-ng-bind-html="item.trustedContent"></div>
             </div>
          </div>
          <style data-ng-if="item.background_image.styles">
             .uwm-testimonials-{{item.id}}{background-image: url('{{ item.background_image.styles.original }}');}
          </style>
        </div>
      </div>
    </div>
  </div>
  <footer data-ng-if="pubType === 'sotu3'" id="uwm-footer">
    <div class="uwm-footer row full-width">
      <div class="uwm-footer-inner row">
        <div class="small-12 columns"><a class="uwm-top-link" href="javascript:void(0);" onClick="uwmScrollTopSOTU();">^</a></div>
        <div class="small-10 small-centered medium-6 large-3 large-uncentered columns no-padding-right"  data-ng-class="{'text-only':metaData().settings.faculty_or_dept ,'logo':metaData().settings.faculty_or_dept_logo,'uw-logo':!metaData().settings.faculty_or_dept_logo && !metaData().settings.faculty_or_dept }" >
          <div class="uwm-affiliate-title ">
            <a class="uwm-footer-link" href="{{ metaData().settings.faculty_or_dept_link }}" ng-bind-html="metaData().settings.faculty_or_dept"></a>
          </div>
          <div class="uwm-affiliate-logo">
            <a class="uwm-footer-logo-link" href="{{ metaData().settings.faculty_or_dept_link }}">
              <img data-ng-src="{{ metaData().settings.faculty_or_dept_logo }}" alt="{{ metaData().settings.faculty_or_dept }}" border="0"/>
            </a>
          </div>
          <!--    <div class="uwm-university-logo">
                      <a class=" uwm-footer-uw-link" href="https://uwaterloo.ca">
                        <img data-ng-src="apps/uw_publication/images/uw-logo-white-h.png" alt="University of Waterloo Logo" border="0"/>
                     </a>
          </div> -->
          <div id="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
            <div class="element-hidden">
              <div property="v:fn">University of Waterloo</div>
              <div rel="v:org">
                <div property="v:organisation-name">University of Waterloo</div>
              </div>
              <div rel="v:geo">
                <div property="v:latitude">43.471468</div>
                <div property="v:longitude">-80.544205</div>
              </div>
            </div>
            <div rel="v:adr">
              <div property="v:street-address">200 University Avenue West</div>
              <div>
                <span property="v:locality">Waterloo</span>,
                <span property="v:region">ON</span>,
                <span property="v:country-name">Canada</span>&nbsp;
                <span property="v:postal-code">N2L 3G1</span>
              </div>
            </div>
            <div class="uw-footer-phone" rel="v:tel">
              <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
            </div>
          </div>
        </div>
          <div class="small-8 small-centered medium-6 large-6 large-uncentered columns no-padding ">
            <nav role="navigation" class="uwm-footer-nav" data-ng-controller="FooterMenuController">
              <ul>
                <li data-ng-class="{'active':link.aliasCheck === stateName}" data-ng-repeat="link in footerMenu"><a href="{{ link.alias }}" data-ng-bind-html="link.label"></a></li>
              </ul>
            </nav>
          </div>
          <div class="small-12 small-centered  medium-8 large-3 large-uncentered columns ">
            <div data-ng-if="metaData().settings.subscription_link != NULL" class="fade  delay1500 uwm-subscribe-button">
              <a class="button" href="{{ metaData().settings.subscription_link }}">Contact Us</a>
            </div>
            <div data-ng-if="metaData().settings.subscription_link == NULL" class="uwm-social-links">
              <ul>
                <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                  <a href="{{ value }}"><span class="icon icon-{{ key }}"></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <div class="uwm-social row full-width">
      <div class="uwm-social-inner row">
        <div data-ng-class="{'text-center':metaData().settings.subscription_link == NULL,'medium-6 medium-uncentered':metaData().settings.subscription_link != NULL}"  class="uwm-social-tag small-12 large-offset-4 large-4 columns">
          <a href="https://twitter.com/search?q=%23UWaterlooBeyond">#UWaterlooBeyond</a>
        </div>
        <div data-ng-if="metaData().settings.subscription_link != NULL" class="small-12 medium-6 large-4 columns in-social-bar">
          <div data-ng-if="metaData().settings.subscription_link != NULL" class="uwm-social-links">
            <ul>
              <li data-ng-repeat="(key, value) in metaData().settings.social" data-ng-if="value">
                <a href="{{ value }}"><span class="icon icon-{{ key }} "></span><span class="show-for-sr" data-ng-bind-html="key"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>



  