.uwm-sotu-dna{
  background-image:url(../images/dna.png);
  background-image:url(../images/dna.svg);
  background-repeat:repeat-y;
  background-position:0  0;
  border-top:1px solid $gray;
  height:100%;
  @include clearfix();
  @media #{$medium-up}{
      background-position:50% 50%;
  }
}
.uwm-article-quad-heading{
  clear:both;
  margin-bottom:0;
  width:100%;
}
.uwm-article-quad-footer{
  clear:both;
  margin-top:0;
  border-style: solid;
  border-color: $gray;
  border-width: 1px 0px 0px 0px;
  line-height:1.25;
   @media #{$medium-up} {
      border-color: $gray;
   }
}

.uwm-article-quad-wrap{
  padding: 0;
  margin: 0;
  clear: both;


  position: relative;
  width: 100%;
  @media #{$medium-up} {
  -moz-column-count: 2;
  -moz-column-gap: 1px;
  -webkit-column-count: 2;
  -webkit-column-gap: 1px;
  column-count: 2;
  column-gap: 1px;
-webkit-column-rule-width: 1px;
   -moz-column-rule-width: 1px;
        column-rule-width: 1px;
-webkit-column-rule-style: solid;
   -moz-column-rule-style: solid;
        column-rule-style: solid;
-webkit-column-rule-color: $gray;
   -moz-column-rule-color: $gray;
        column-rule-color: $gray;

  }
}
.uwm-article-quad{
  border-style: solid;
  border-color: $gray;
  @include rem-fallback(padding, 0rem);
  width:100%;
  display: inline-block;
  border-width: 1px 0px 0px 0px;


  &.header{
   margin:0;
   border-width: 1px 0px 0px 0px;
   @include rem-fallback(padding, 0rem);
   @include rem-fallback(min-height, 13rem);
  width:100%;
  }
  h3{
    @include rem-fallback(margin-top, 1rem);
    @include rem-fallback(margin-bottom, 1rem);

  }
  &-dna{
    width: 65%;
    border-width: 0 1px 0 0;
    h3{
      position:relative;
      overflow:visible;
      @include rem-fallback(margin-top, 1.25rem);
      @include rem-fallback(margin-bottom, 0.5rem);
      &:after{
          content:"";
          height:1px;
          border-bottom:1px solid $gray;
          display:block;
          position:absolute;
         
        }
      } 
    &.qdna1{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
    h3{
      &:after{
          @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
          @include rem-fallback(right, 15rem); 
        }
      }       
    }
    &.qdna2{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
       @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
          right:100%   
        }
      } 
    }
    &.qdna3{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
        @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
         right:100% 
        }
      } 
    }
    &.qdna4{
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
       @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
          right:100%  
        }
      } 
    }
    &.qdna5{  
    border-width: 0;
    float:right;
    clear:both;
    text-align:left;
      h3{
      &:after{
        @include rem-fallback(top, 0.85rem);
          @include rem-fallback(width, 5.6rem);
         right:100% 
        }
      } 
    }
  }   
  @media #{$medium-up} {
    border-color:  $gray;
    width: 100%;
   display: inline-block;
   @include rem-fallback(min-height, 26rem);
   @include rem-fallback(padding,0rem, 0.5rem, 0rem, 0.5rem);
    border-width: 1px 0px 0px 0px;
  &-dna{
    width: 50%;
    border-width:0;
    overflow:hidden;
    h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;
        }
      } 
    &.qdna1{
      border-width: 0;
      float:left;
      clear:both;
      text-align:right;
      position:relative;
      @include rem-fallback(padding, 1rem, 4rem, 1rem, 0rem); 
      left: inherit;
    }
    &.qdna2{
      border-width: 0;
      float:right;
      clear:both;
      margin-top:-100px;
      @include rem-fallback(margin-top, -9.375em); 
      @include rem-fallback(padding, 1rem, 0rem, 1rem, 4rem); }
    &.qdna3{
      border-width: 0;
      float:left;
      clear:both;
      text-align:right;
       @include rem-fallback(margin-top, -7em); 
      @include rem-fallback(padding, 1rem, 4rem, 1rem, 0rem); 
      left: inherit; }
    &.qdna4{
      border-width: 0;
      float:right;
      clear:both;
       @include rem-fallback(margin-top, -7em); 
      @include rem-fallback(padding, 1rem, 0rem, 1rem, 4rem); }
    &.qdna5{  
      border-width: 0;
      float:left;
      clear:both;
      text-align:right;
       @include rem-fallback(margin-top, -7em); 
      @include rem-fallback(padding, 1rem, 4rem, 1rem, 0rem); 
      left: inherit; }
    
    &.qdna1,
    &.qdna3,
    &.qdna5{
      h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          @include rem-fallback(top, 1rem);
          @include rem-fallback(width, 18rem);
          @include rem-fallback(right, -18.5rem);
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;

        }
      } }
    &.qdna2,
    &.qdna4{
      h3{
      position:relative;
      overflow:visible;
      &:after{
          content:"";
          @include rem-fallback(top, 1rem);
          @include rem-fallback(width, 18rem);
          @include rem-fallback(left, -18.5rem);
          height:1px;
          border-bottom:1px solid  $gray;
          display:block;
          position:absolute;

        }
      } 
    }
   }
  }
  
  
}