  .uwm-footer{
    position:relative;
    bottom:0;
    height:auto;
    background:$black;
    @media #{$large-up} {
      @include rem-fallback(min-height,  8.5rem);
    }   
  }
  .uwm-footer-inner{
    @include rem-fallback(padding-top,  2rem);
    @include rem-fallback(padding-bottom,  2rem);
  }
  // a.uwm-logo-link{
  //   display:block;
  //   width:95%;
  //   margin:0 auto;
  //   @include rem-fallback(height,  4rem);
  //   @include single-transition(opacity);
  // }
  // a.uwm-logo-link:hover{
  //     opacity:0.2;
    
  // }

  // .uwm-logo{
  //    background:url(../images/uwaterloo-logo.svg) no-repeat 50%;
  //    background-size:contain;
  //    width:100%;
  //    display:block;
  //    @include rem-fallback(height,  4rem);
  //      @media #{$large-up} {
  //        @include rem-fallback(height,  4rem);
  //     }  
  // }



  // .uwm-affiliate-title{
  //   text-align:center;
  //   @media #{$medium-up}{
  //       @include rem-fallback(font-size,   1.25rem);
        
  //   }
  //   @media #{$large-up}{
  //         text-align:left;
  //   }
  //   a{  
  //     font-family: $font-family-sans-condensed-bold;
  //     @include rem-fallback(font-size,   1.25rem);
  //     color:$white;
  //     text-transform:uppercase;
  //     font-weight:600;
  //     line-height:1;
  //     border:0px solid transparent;
  //     outline:none;
  //     @include single-transition(color);

  //     &:hover{
  //       color:$yellow-dark;
  //       text-decoration:none; 
  //       @include single-transition(color);

  //     }
     
       
   
  //   }
  // }
  // .uwm-affiliate-logo{
  //    .uwm-footer-logo-link{
  //           outline:none;
  //           border:0px solid transparent;
  //       img{
  //           outline:none;
  //           border:0px solid transparent;
  //           @media #{$medium-up}{
  //             width:100%;
    
  //           }
  //           @media #{$large-up}{
  //                 text-align:left;
  //           }

  //         }
         
       
  //     }
  // }
  //  .uwm-university-logo{
  //    .uwm-footer-uw-link{
  //       outline:none;
  //       border:0px solid transparent;
  //       img{
  //           outline:none;
  //           border:0px solid transparent;
  //           @media #{$medium-up}{
  //             width:100%;
    
  //           }
  //           @media #{$large-up}{
  //                 text-align:left;
  //           }

  //         }
         
  //       }      
  //   }

 .uwm-affiliate-title,
 .uwm-affiliate-logo,
 .uwm-university-logo{
    display:none;
 }
 .uwm-affiliate-title{ 
    text-align:center;
    @media #{$medium-up}{
        @include rem-fallback(font-size,   1.25rem);
        
    }
    @media #{$large-up}{
          text-align:left;
    }
    a{  
      font-family: $font-family-sans-condensed-bold;
      @include rem-fallback(font-size,   1.25rem);
      color:$white;
      text-transform:uppercase;
      font-weight:600;
      line-height:1;
      border:0px solid transparent;
      outline:none;
      @include single-transition(color);

      &:hover{
        color:$yellow-dark;
        text-decoration:none; 
        @include single-transition(color);

      }
     
       
   
    }
    .text-only &{
      display:block;
    }
    .text-only.logo &{
        display:none;
    }
    
 }
 .uwm-affiliate-logo{
   .uwm-footer-logo-link{
            outline:none;
            border:0px solid transparent;
        img{
            outline:none;
            border:0px solid transparent;
            @media #{$medium-up}{
              width:100%;
    
            }
            @media #{$large-up}{
                  text-align:left;
            }

          }
         
       
      }
   .logo &{
      display:block;
      
    }

 }
 .uwm-university-logo{
    .uwm-footer-uw-link{
            outline:none;
            border:0px solid transparent;
        img{
            display:none;
            outline:none;
            border:0px solid transparent;
            @media #{$medium-up}{
              width:100%;
    
            }
            @media #{$large-up}{
                  text-align:left;
            }

          }
         
       
      }
    .uw-logo &{
          display:block;
          img{
            display:block;
          }
        }
     }

  .uwm-footer-nav{
    [class*="block-grid-"] {
      display: block;
      padding: 0;
      margin-left: 0 ;
      margin-right: 0 ;
    }
    ul{
      display:block;
      @include rem-fallback(margin,  1rem, 0);
      @media #{$large-up} {
        @include rem-fallback(margin,  0rem);
      } 
      li{
        display: block;
        padding:0;
        @include rem-fallback(margin,  0.5rem, 0rem);
       
        a{
          color:$white;
          font-weight:500;
          width:100%;
          height:100%;
          display:block;

          @include rem-fallback(font-size, 0.8rem);
          line-height:1;
          @include single-transition(color);
          &:before{
            content:"\00bb \00a0"; 
            color:$yellow-dark;
            // font-family: 'arial',sans-serif;
            font-weight:400;
            display:inline-block;
            @include rem-fallback(font-size, 1.15rem);
            @include rem-fallback(padding-right, 0.1rem);
            @include sotuTextShadow();

          }
          &:hover{
            text-decoration:underline;
            color:$yellow-dark;
            @include single-transition(color);
          }

         @media #{$large-up} {
              text-align:center;
              @include rem-fallback(margin, 0rem);
          }  
          
     
        }
      }
    }
  }
  .uwm-subscribe-button{
    @include rem-fallback(margin-top,  2rem);
    text-align:center;
    @media #{$large-up} {
      @include rem-fallback(margin-top,  0);
      text-align:right;
    }
    
  }
  .uwm-social{
     background:rgb(63,63,63);
     @include rem-fallback(min-height,  4.125rem);
  }
  .uwm-social-inner{
    @include rem-fallback(padding-top,  0.7rem);
  }
  .uwm-social-links{
    text-align:center;
    position:relative;
    @include rem-fallback(min-height,  4.125rem);
    @include rem-fallback(padding-top,  0.7rem);
    @media #{$large-up} {
    @include rem-fallback(padding-top, 0.4rem);
    
    }
    ul{ list-style:none;
      margin:0;
      padding:0;
      text-align:center;
      @media #{$large-up}{

      text-align:right;
      }
      li{display:inline;
        &:last-child{    
          padding-right: 0rem;
        }
      a{
        .icon{
          @include rem-fallback(font-size,  2.3rem);
          @include rem-fallback(padding-right,  0.2rem);
          color:$white;
         
          @include single-transition(color);
           
          &:last-of-type{    
              padding-right: 0rem;
            }
          @media #{$medium-up}{
            @include rem-fallback(font-size,  3rem);
            @include rem-fallback(padding-right,  0.4rem);
            }
            @media #{$large-up}{
              @include rem-fallback(font-size,  1.75rem);
              @include rem-fallback(padding-right,  0.1rem);
            }
           .in-social-bar &{
            @media #{$medium-up}{
              @include rem-fallback(font-size,  2.3rem);
              @include rem-fallback(padding-right,  0.2rem);
              }
             @media #{$large-up}{
               @include rem-fallback(font-size,  1.75rem);
              @include rem-fallback(padding-right,  0.1rem);
              }
            }

          }
         &:hover, 
         &:focus{
             .icon{
                color:$yellow-dark;
                  @include single-transition(color);
                }
          }
      
        }
      }
    }
  }

  .uwm-social-tag{
      text-align:center;
      text-transform:uppercase;
      a{
        display:block;
        font-weight:600;
        display:block;
        font-family: $font-family-sans-condensed-bold;
        color:$white; 
        @include rem-fallback(padding-top,  0.7rem);
        @include rem-fallback(font-size,   1.25rem);
        @include single-transition(color);
            &:hover, 
            &:focus{
              color:$yellow-dark; 
              @include single-transition(color);
              text-decoration:none;
            }
      }
      @media #{$medium-up} {
        text-align:center;
        a{
    
          @include rem-fallback(font-size,   1.25rem);
        } 
        
      }
      @media #{$large-up} {
        a{
          @include rem-fallback(padding-top,  0rem);

          @include rem-fallback(font-size,   1.75rem);
          } 
        
      }
     
  }
  .uwm-top-link{
    @include circle(30px);
    background-color:$black;    
    position:absolute;
    display:inline-block;
    z-index:map-get($zindex, content);
    @include rem-fallback(top,  -3rem);
    @include rem-fallback(margin-left,   -0.9375rem);
    left:50%;
    text-align:center;
    @include single-transition(background-color);
    @include rem-fallback(font-size, 1rem);
    @include rem-fallback(line-height, 2rem);
    color:$yellow-dark;
    font-weight:bold;
     &:hover,
     &:focus{
     
      background-color:rgb(63,63,63);
      color:$yellow;
      text-decoration:none;
      @include single-transition(background-color);
    }
  }
  