$highlighted-fact-bg-color:$light-gray !default;
$highlighted-fact-color:$uw-gray;

//faculty / uw colors

// $highlighted-fact-color:$uw-gold;
// $highlighted-fact-color:$uw-ahs;
// $highlighted-fact-color:$uw-arts;
// $highlighted-fact-color:$uw-engineering;
// $highlighted-fact-color:$uw-environment;
// $highlighted-fact-color:$uw-math;
// $highlighted-fact-color:$uw-science;




// $highlighted-fact-color: faculty-color('.math'); // #8e3329

//fonts
$highlighted-fact-font:$body-font-family;
$highlighted-fact-font-big:$font-family-sans-condensed-bold;
$highlighted-fact-font-medium:$font-family-sans-condensed;
$highlighted-fact-font-small:$highlighted-fact-font;
$highlighted-fact-font-caption:$font-family-serif;

//appearance
$highlighted-fact-radius: $global-radius !default;
$highlighted-fact-round: $global-rounded !default;


// $highlighted-fact-color: faculty-color('.math'); // #8e3329
$highlighted-fact-color-tinted: mix(white, $highlighted-fact-color, 10%); 
$highlighted-fact-color-shaded: mix(black, $highlighted-fact-color, 10%); 

// @each  $faculty-hooks, $color in (
//   '.ahs':#009AA6,
//   '.arts':#E98300,
//   '.engineering':#57068C,
//   '.environment':#747800,
//   '.math':#E0249A,
//   '.science':#0073CF)

//   {
//    #{$faculty-hooks} {
//     $highlighted-fact-color:$color;
//     color:$highlighted-fact-color;
//     // color: $highlighted-fact-color;
//   }

    
// }



// @mixin faculty($name, $color) {
//   $primary: $color;
//   $secondary: lighten(adjust-hue($color, 20), 10%);
 
//   .#{$name} {
//     .element {
//       color: $primary;
//     }
 
//     .other-element {
//       background: $secondary;
//     }
//   }
// }
// @include faculty(theme-banana, yellow);

//ul 
.highlighted-fact-wrapper{
  width:100%;
  display:block;
  float:left;
  height:auto;
  margin:0;
  position:relative;
  @include rem-fallback(margin-bottom, 3rem);
 
  list-style-type:none;
  clear:both;
  .uwm-article-body &{ padding:0; 

  }
}


%highlighted-fact {

  text-align:center;
  font-weight:300;
  border-radius: $highlighted-fact-radius + 10;
  display: block;
  @include rem-fallback(padding, 1rem);
  position:relative;

  img{
    margin:0 auto;
    @include rem-fallback(margin-bottom, 1rem);
    display:block;
    @include rem-fallback(width, 7rem);
   
  }
  &.no-icon {
    span{
      &:first-child{
        @include rem-fallback(padding-top, 5rem);
      }
    }
  }
  span{
    display:block;
    text-align:center;
    clear:both;
    float:none;

  }
}


.highlighted-fact-tall{
  border-top:1px solid $gray;
  color:$gray;
  @include rem-fallback(padding-top, 3rem);
  span{display:block;}
  // ul{  list-style:disc outside url(../images/small-chevron-yellow.png);
  //      list-style:disc outside url(../images/small-chevron-yellow.svg);
  // }
  @media #{$medium-up}
  {
    @include rem-fallback(padding-left, 1.5rem);
   border-top:1px solid $white;
   border-left:1px solid $gray;
  }
}

.highlighted-fact{
  @extend %highlighted-fact;
  background-color:$highlighted-fact-bg-color;
    $highlighted-fact-color: faculty-color('.uwdefault'); 
    .highlighted-fact-text-big,.highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  .ahs &,
  &.ahs{ 
    $highlighted-fact-color: faculty-color('.ahs'); 
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .arts &,
  &.arts{$highlighted-fact-color: faculty-color('.arts');  
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .engineering &,
  &.engineering{ $highlighted-fact-color: faculty-color('.engineering'); 
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .environment &,
  &.environment{$highlighted-fact-color: faculty-color('.environment');  
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .math &,
  &.math{$highlighted-fact-color: faculty-color('.math');  
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  .science &,
  &.science{ $highlighted-fact-color: faculty-color('.science'); 
    .highlighted-fact-text-big,
    .highlighted-fact-text-medium{
      color:$highlighted-fact-color;
    }
  }
  
  
  img{
  }
  .highlighted-fact-wrapper &{ 
   
  }
  .text-left &,
  &.text-left{
    img{
      float:left;
      clear:both;
    }
     span{
      text-align:left;
      display:block;
      clear:left;
    } 
  }
  .text-center &,
  &.text-center{
    span{
    text-align:center;
    display:block;
    clear:both;
   }
  }
 .text-right &,
  &.text-right{
    img{
      margin:0;
      float:right;
      clear:both;
    }
    span{
     text-align:right;
      display:block;
      clear:right;
    }
  }
  &.img-left{
   img{
      float:left;
    }
     span{
      text-align:left;
      display:block;
      clear:none;
    }
  }
  &.img-right{
   img{
      float:right; 
    }
     span{
      text-align:right;
      display:block;
      clear:none;
    }
  }
  // .data-row-1 &,
  // .data-row-2 &,
  // .data-row-3 &,
  // .data-row-4 &{ 
  //   width:98%;
  // } 
  @media #{$small-up} {
  }
  @media #{$medium-up} {
     //  .data-row-1 &{ width:98%;}
     //  .data-row-2 &{ width:48%;}
     //  .data-row-3 &{width:32%;}
     //  .data-row-4 &{width:23%;} 
   }
  @media #{$large-up} {
    // .data-row-1 &{ width:98%;}
    // .data-row-2 &{ width:48%;}
    // .data-row-3 &{width:32%;}
    // .data-row-4 &{width:23%;} 
  }
  @media #{$xlarge-up} {      
  } 
  @media #{$xxlarge-up} {     
  } 
}



.highlighted-fact-text-big{
  font-family:$highlighted-fact-font-big;
  @include rem-fallback(font-size, 3.750rem);
  font-weight:600;
  line-height:1.2;

}
.highlighted-fact-text-medium{
  font-family:$highlighted-fact-font-medium;
  @include rem-fallback(font-size, 1.500rem);
  font-weight:300;
  line-height:1.2;
  @include rem-fallback(padding, 0.25rem,0rem);

}
.highlighted-fact-text-small{
  font-family:$highlighted-fact-font-medium;
  @include rem-fallback(font-size, 1.125rem);
  line-height:1.25;
  color:$gray;
  @include rem-fallback(padding, 0.25rem,0rem);


}
.highlighted-fact-caption{
  font-family:$highlighted-fact-font-medium;
  @include rem-fallback(font-size, 0.875rem);
  line-height:1.2;
  color:$gray;
  @include rem-fallback(padding, 0.25rem,0rem);

}

