.uwm-sub-articles-nav{
  overflow:hidden;
  }
  .uwm-sub-articles-nav{
    height:100%;
    position:relative;
    @include rem-fallback(margin-bottom,  2rem);

    clear:both;
   
    @media #{$medium-up} {
      
    }  
    @media #{$large-up} {
     @include rem-fallback(height, $sub-menu-height);
    }
    &-bottom{
      @include rem-fallback(margin-bottom,  0rem)
    }
  }
  .uwm-sub-teaser{
    color:$white;
  }
  .uwm-sub-articles{
    position:relative;
    &.columns{
       @include rem-fallback(padding, 0rem, 0.125rem);
    }
    [class*="block-grid-"]{
      margin:0 auto;  
    }
    @media #{$medium-up} {
        @include rem-fallback(padding, 0rem, 1.25rem);
        [class*="block-grid-"]{ 
        @include rem-fallback(margin,  0);
      }
     @media #{$large-up} {
      }
    }  
  }
  .uwm-sub-list{
   
  }
  li.uwm-sub-item{
        height:auto;
        @include rem-fallback(padding-top, 0.125rem);
        @include rem-fallback(padding-bottom, 0.125rem);
        border-bottom:1px solid #f2f2f2;
        border-right:0px solid $white;
        &:last-child{
        border-right:0px solid $white;
        
         }
        @media #{$large-up} { 
           border-bottom:1px solid $white;
           border-right:1px solid #f2f2f2;
          @include rem-fallback(padding, 0rem );
            &:last-child{
              border-right:0px solid $light-gray;
              }
        }
 
    a{

      &:link, 
      &:visited
      {
       float:left;
       width:100%;
       @include subNav(3px, $white,100%,1rem,1rem,$white);
       @media #{$medium-up} { 

        }  
        @media #{$large-up} {
           float:none;
           @include subNav(3px, $white,$sub-menu-height,3.5rem,1rem,$white);
        }
      }
      &:focus,
      &:hover{
        @include subNav(3px, $gray,100% ,1rem,1rem,$light-gray);
        @media #{$medium-up} {   
         float:left;   
        }  
        @media #{$large-up} {
           float:none;
         @include subNav(3px, $gray,$sub-menu-height,3.5rem,1rem,$light-gray);
        }
      }
    }
    &.active{
        a{
        @include subNav(3px, $gray,100% ,1rem,1rem,$middle-gray);
        @media #{$medium-up} {   
         float:left;   
        }  
        @media #{$large-up} {
           float:none;
         @include subNav(3px, $gray,$sub-menu-height,3.5rem,1rem,$middle-gray);
          }
        }
      } 
  }
  .uwm-sub-icon{
    background-repeat:no-repeat;
    background-position: 50% 50%;
    width: 25%;
    @include rem-fallback(height, 3rem);
    @include rem-fallback(padding-bottom, 1rem);
    margin-right: 1%;
    background-size:contain;
    float:left;



    @media #{$medium-up} {
      width: 20%;
     
    }  
    @media #{$large-up} {
    @include rem-fallback(height, 4rem);
    @include rem-fallback(margin-top, 1rem);
    @include rem-fallback(margin-bottom, 1rem);
    width:100%;
    margin-right:0;
    float:none;
    background-position:50% 50%;
  
    
    }
  }
  .uwm-sub-text{
  //see _global.scss
  float:left;
  width: 74%;
  @include rem-fallback(padding, 0.5rem,0.125rem, 0.5rem, 0.125rem );
  text-align:left;
   @media #{$medium-up} {
      width: 79%;
    }  
    @media #{$large-up} {
        @include rem-fallback(padding, 0.5rem, 0.2rem, 0.5rem, 0.2rem );
         width: 100%;
         float:none;
         text-align:center;
    }
  }