.uwm-web-page{
    @include rem-fallback(min-height, 40rem);
    ul{
      list-style:disc outside url(../images/small-chevron-li.png);
      list-style:disc outside url(../images/small-chevron-li.svg);
      @include rem-fallback(padding-left, 1.5rem);
      li{
        @include rem-fallback(margin, 0.7rem,0);
        }
     }
    ol{
        @include rem-fallback(padding-left, 2rem);
        li{
          @include rem-fallback(margin, 0.7rem,0);
        }
    }
    ul.circle {
      list-style-type: circle;
      }
      ul.disc {
          list-style-type: disc;
      }
      ul.square {
          list-style-type: square;
      }
      ol.lower-roman {
          list-style-type: lower-roman;
      }
      ol.upper-roman {
          list-style-type: upper-roman;
      }
      ol.lower-alpha {
          list-style-type: lower-alpha;
      }
      ol.upper-alpha {
          list-style-type: upper-alpha;
      }
      ol.decimal {
          list-style-type: decimal;
      }
    ul li > ul,
    ul li > ol,
    ol li > ol,
    ol li > ul {
         @include rem-fallback(padding-left, 1rem);
      }
    ol li > ol {
        list-style-type: lower-alpha;
    }
    ol li > ol li > ol {
        list-style-type: lower-roman;
    }
    ul li > ul {
        list-style-type: circle;
    }
    ul li > ul li > ul {
        list-style-type: disc;
    }
    .col-50,
    .col-33,
    .col-66,
    .threecol-33 {
        float: left;
    }
    .col-50.first,
    .col-33.first,
    .col-66.first,
    .threecol-33 {
        @media #{$medium-up} {
            margin-right: 4%;
        }  
    }
      .threecol-33.last {
          margin-right: 0;
      }
      .col-50 {
        width:100%;
        @media #{$medium-up} {
               width: 48%;
          }   
         
      }
      .col-33 {
          width:100%;
           @media #{$medium-up} {
               width: 32%;
          }  
        
      }
      .col-66 {
          width:100%;
           @media #{$medium-up} {
              width: 64%;
          }  
          
      }
      .threecol-33 {
          width:100%;
           @media #{$medium-up} {
               width: 48%;
          }  
          width: 30.666666%;
      }
      .half-column {
          width:100%;
           @media #{$medium-up} {
              width: 48%;
          }  
          float: left;
         
      }
      .half-column.first {
          @media #{$medium-up} {
              margin-right: 4%;
          }  
         
      }
    a{
      text-decoration:underline;
      &:hover{
        text-decoration:none;
      }
    }
  }