// .uw_video-embed object {
//   width: 100%;  
//     @include rem-fallback(height, 12rem);
//      @media #{$medium-up} {
//       @include rem-fallback(height, 18.750rem);
//     }
//     @media #{$large-up} {
//       @include rem-fallback(height, 33.750rem);
//     }
// }
// .wide .uw_video-embed object {
//     @include rem-fallback(height, 27.750rem);
//     @media #{$large-up} {
//       @include rem-fallback(height, 33.750rem);
//     }

// }


.uw_video-embed,.wide .uw_video-embed ,.vimeoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  @include rem-fallback(padding-top, 1.563rem);
  height: 0;
  @include rem-fallback(margin-bottom, 0.5rem);
}
.uw_video-embed,.wide .uw_video-embed,.vimeoWrapper  {
object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clear:both;
  @include rem-fallback(margin-bottom, 0.5rem);
  }
  div{
    margin-top: 57%;
  } 
}
.uw_video-embed,.wide .uw_video-embed,.vimeoWrapper  {
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clear:both;
  @include rem-fallback(margin-bottom, 0.5rem);
  }
}

.image-left {float:left; margin: 0 1em 1em 0;}
.image-right {float: right; margin: 0 0 1em 1em;}
.image-center {display: block; margin: auto;}
img.block-image {
    display: block;
}
img.block-image.space-bottom-like-column {
    margin-bottom: 20px;
}
.wide img.block-image.space-bottom-like-column {
    margin-bottom: 30px;
}
#uwm-main-content object {
    max-width: 100%;
}
#uwm-main-content iframe {
    max-width: 100%;
}


/* div templates */
.half-column {float: left; width: 240px;}
.half-column.first {margin-right: 20px;}

 .uwm-article-wrap img {
  height: auto;
  width: auto;
  max-width: 100%;
  padding:0.5rem;
}
 .uwm-article-wrap img.block-image {
  display: block;
}
 .uwm-article-wrap img.block-image.space-bottom-like-column {
  margin-bottom: 20px;
}
.wide img.block-image.space-bottom-like-column {
  margin-bottom: 30px;
}
 .uwm-article-wrap  object {
  max-width: 100%;
}
.ie-resize-fix {
  height: 1rem;
}
  /* tab options */
  .tab-options {

   h2 {
     display: none;
   }
   ul.primary {
     margin: 0;
     padding: .625rem 0 0 .625rem;
     border-width: 0;
     list-style: none;
     white-space: nowrap;
     line-height: normal;
     background: url(../images/core/tabs/tab-bar.png) left bottom repeat-x;
     border-bottom: 1px solid #bbb;
     /* border-collapse: collapse; */
     height: auto;
   }
   li {
     /* float: left; */
     margin: 0;
     padding: 0;
     display: inline-block;
   }
   li a {
     display: block;
     height: 1.5rem;
     margin: 0;
     padding: .25rem .513rem 0 .575em;
     border-width: 0;
     font-weight: bold;
     text-decoration: none;
     color: #666;
     font-size: 0.8rem;
      text-transform:uppercase;
     background: url(../images/core/tabs/tab-right.png) right -2.375rem no-repeat;

     .element-invisible {
       display: none;
     }
   }
   li.active a {

     background: url(../images/core/tabs/tab-right.png) right 0 no-repeat;
   }
   li.active a:before {
     background: url(../images/core/tabs/tab-left.png) left 0 no-repeat;
   }
 }

.element-invisible {
  display: none;
}
div.workbench-info-block {
  background: none repeat scroll 0 0 #FFFBD9;
  list-style: none outside;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0;
  border-color: #FFEBC5;
  border-style: solid none;
  border-width: 1px;
  color: #666;
  font-size: 0.95rem;
  font-weight:500;
}